@import '../../../../../design-system/new-colors';

.addEditKeywordsWrapper {
  margin: 0;
  width: 100%;
  margin-top: 10px;
}

.addEditKeywords {
  width: 180px;
  margin-left: 30px;

  svg {
    margin: 0 5px;

    path {
      fill: $black_1 !important;
    }
  }
}

.addEditKeywordsModal {
  border: 0 !important;
  border-radius: 0 !important;
  overflow: hidden !important;
}
