@import '../../../../../design-system/new-colors';

.leadTimeMetaTitle {
  margin-top: 75px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid $grey_3;
  color: $black_1;
  font-size: 14px;
  font-weight: $fontweight_medium;
  display: flex;
  align-items: center;
}

.addTriggerButton {
  width: 90px;
  width: 200px;
  margin: 30px 40px;

  svg {
    width: 12px;
    height: 12px;
    margin-right: 10px;

    path {
      fill: $black_1 !important;
    }
  }

  &:hover {
    svg {
      path {
        fill: $prim_white !important;
      }
    }
  }
}
