@import '../../design-system/new-colors.scss';

.infoOnboardingIcon {
  color: $grey_6 !important;
  font-size: 10px !important;
  margin-left: 2px !important;
}

.youtubeOnboarding {
  width: 10px;
  height: 10px;
  margin-left: 2px !important;
  cursor: pointer;
}
