@import '../../../design-system/colors';

$font-color: #3b4557;
$gray: #757575;
$blue: #349af8;

.sd-filters-container {
  padding: 40px;
  border: 1px solid #a2a2a2;
  border-radius: 7px;

  .sd-filters {
    display: flex;

    .sf-filter-container {
      display: flex;
      flex-direction: column;

      p {
        margin-bottom: 0;
      }

      .search-input-container {
        display: flex;
        align-items: center;

        .search-label {
          width: 200px;
          color: $font-color;
          font-weight: bold;
        }

        .sd-search-input {
          width: 270px;
        }

        .amazon-links {
          width: 160px;
        }

        .state {
          width: 180px;
        }

        input {
          margin: 5px 12px;
        }

        justify-content: space-between;

        > .dropdown {
          margin-left: 12px;
        }

        .or {
          margin-left: 10px;
        }
      }

      .filters-label {
        margin: 10px 0;
        color: $font-color;
        font-weight: 500;
      }

      .input-search-filters {
        input {
          margin: 5px 12px;
          width: 160px;
          font-size: 12px;
        }

        .list-filter {
          width: 90px;
          font-size: 12px;
        }

        display: flex;

        .input-filter {
          display: flex;
          align-items: center;
        }
      }
    }

    .right-filters {
      margin-left: 20px;

      .multiple-brand-container {
        .scroll-container {
          border-radius: 0;
          border-top-left-radius: 10px;
          box-shadow: none !important;
          padding: 0 5px;
          min-width: 325px;
          max-width: 325px;
          height: 34px;
          overflow-x: scroll !important;
        }

        &__wrapper {
          box-shadow: none !important;

          .align-items-center {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            max-width: 270px;
            overflow: auto;
            max-height: 70px;
            overflow-y: auto;
            border: 1px solid #e5e5e5;
            border-radius: 5px;

            .p-2.col-auto {
              &:first-child {
                margin-left: unset !important;
              }

              margin-left: 5px;

              div {
                pointer-events: none;
                border: 1px solid $sellgo-light-gray;
                border-radius: 6px !important;
                background: #fff;
                display: flex;
                align-items: center;
                font-size: 12px;
                font-family: 'Work Sans', Helvetica, Arial, sans-serif;
                padding: 4px !important;
                height: 24px;
                color: #545d68cc;

                svg {
                  background: $sellgo-light-gray;
                  border-radius: 50%;
                  fill: #fff;
                  height: 13px;
                  width: 13px;
                  margin-left: 5px;
                  padding: 1px;
                  margin-top: -1px !important;
                  pointer-events: auto !important;

                  path {
                    transform: scale(0.45);
                    -webkit-transform: scale(0.45);
                  }
                }
              }
            }
          }

          .custom-form-control {
            margin-left: 5px;
            padding: 2px 0;
            width: 250px;

            input {
              border: none !important;
              outline: none !important;
              font-size: 14px;
              font-family: 'Work Sans', sans-serif;
              width: 100%;
              color: $text-color !important;
            }

            input::placeholder {
              color: #cacaca;
            }
          }
        }
      }
    }

    .seller-tier {
      margin-top: 40px;
    }
  }

  .sd-filter-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .button {
      width: 140px;
    }

    .reset-btn {
      border: 1px solid $gray;
      border-radius: 7px;
      background: #fff;
      color: $gray;
    }

    .submit-btn {
      margin-left: 10px;
      border: 1px solid $blue;
      border-radius: 7px;
      background: $blue;
      color: #fff;
    }
  }
}
