@import '../../../design-system/new-colors';

.ui.error.input.textInputFilter {
  > input {
    border: 1px solid $system-red !important;
    background: #fff !important;
  }
}

.ui.disabled.input.textInputFilter {
  cursor: not-allowed !important;

  > input {
    background: #fff !important;
    cursor: not-allowed !important;
  }
}
