@import '../../../design-system/new-colors';

.inputFilter {
  p {
    margin: 0;
    color: $grey_8 !important;
    font-size: 12px;
    font-weight: 600;
    margin-top: 7px;
  }
}

.inputWrapper {
  min-width: 180px;

  input {
    border: 1px solid $grey_3 !important;
    outline: 0 !important;
    border-radius: 3px;
    font-size: 12px;
    color: $grey_8 !important;
    height: 30px !important;
    padding: 10px !important;
    width: 100%;

    &::placeholder {
      color: $grey_5;
    }

    &:focus {
      border: 2px solid $blue_6 !important;
    }

    &:hover {
      background-color: $grey_1 !important;
    }

    &:disabled {
      cursor: not-allowed !important;
    }
  }
}

.dateError {
  border: 1px solid $system_red !important;
  border-radius: 7px;
}
