@import '../../../design-system/new-colors.scss';

.periodFilterWrapper {
  width: max-content !important;
  height: max-content !important;
  margin-left: 10px;

  p {
    margin: 0 !important;
    color: $grey_8;
    font-size: 12px;
    font-weight: 600;
  }
}

.ui.dropdown.periodFilter {
  color: $grey_8 !important;
  border: 1px solid $grey_3 !important;
  max-height: 30px !important;
  min-height: 30px !important;
  height: 35px;
  min-width: 45px !important;
  font-size: 9px;
  font-weight: 400 !important;
  padding: 8px 10px !important;
  border-radius: 4px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  cursor: pointer !important;

  &__focused {
    border: 2px solid $blue_6 !important;
  }

  &:hover {
    background-color: $grey_1 !important;
  }

  .menu.transition {
    border: 1px solid $grey_3 !important;
    width: 100% !important;
    font-size: 12px !important;
    max-height: 250px !important;
    z-index: 999;

    .item {
      color: $grey_8;
      font-weight: 400;
      font-size: 12px;

      &:hover {
        background: $grey_1 !important;
        font-weight: 500;
      }

      &.active {
        font-weight: 500 !important;
      }
    }
  }
}
