.beta-label {
  padding: 2px 3px 2px 3px !important;
  margin: 0 3px 0 3px !important;
  background-color: #349af8 !important;
  color: white !important;
  font-size: 10px !important;
  vertical-align: middle !important;
  border-radius: 2px !important;
}

.beta-label-nav {
  padding: 2px 3px 2px 3px !important;
  margin-bottom: 3px !important;
  margin-left: -10px !important;
  background-color: #349af8 !important;
  color: white !important;
  font-size: 8px !important;
  vertical-align: middle !important;
  border-radius: 2px !important;
}
