.advice-card {
  margin-top: -59px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1) !important;
  .track-row {
    //border-top: 1px solid #dddee0;
  }

  .wrap-radio {
    display: flex;
    align-items: center;
  }

  .ui.card {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;

    > .content > .header {
      font-size: 13px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-top: 6px;
    }

    > .content > p {
      font-size: 12px;
      padding-top: 10px;
      font-family: inherit;
      margin-bottom: 14px;
    }

    > .content > span {
      display: flex;
      justify-content: space-between;
      //padding-top: 22px;
      align-items: center;
      //padding-bottom: 5px;
    }
  }

  .wrap-radio .ui.checked.fitted.toggle.checkbox {
    margin-right: 11px;
  }

  @media screen and (max-width: 1500px) {
    .ui.card {
      > .content > .header {
        font-size: 16px;
      }

      > .content > p {
        font-size: 13px;
      }
    }

    .track-row span {
      font-size: 13px;
    }

    .wrap-radio {
      width: 64px;

      .ui.checked.fitted.toggle.checkbox {
        margin-right: 5px;
        margin-top: 6px;
      }

      .ui.toggle.checkbox .box:before,
      .ui.toggle.checkbox label:before {
        width: 40px;
        height: 15px;
      }

      .ui.toggle.checkbox .box:after,
      .ui.toggle.checkbox label:after {
        width: 13px;
        height: 13px;
        top: 1px;
      }
    }
  }
}
