@import '../../../design-system/new-colors';

.ui.pagination.newSellgoPagination {
  height: max-content;
  border: 0;
  outline: 0;
  box-shadow: none;
  display: flex;
  align-items: center;

  a.item {
    // remove weird line from library
    &::before {
      display: none;
    }

    width: max-content;
    height: 100%;
    margin-left: 1px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 3px !important;
    background: #fff;
    box-shadow: none !important;
    border: 1px solid $grey_3;

    &:hover {
      color: #000 !important;
      background: #fff;
    }

    // active item
    &.active {
      background: $accent_blue;
      color: #fff !important;
      width: max-content;
      min-height: 100%;
      border: 1px solid $accent_blue;

      &:hover {
        background: $accent_blue;
        color: #fff !important;
      }
    }

    // icon item
    &.icon {
      border: 0 !important;
    }
  }

  .controlIcon {
    color: $accent_blue !important;
    font-size: 14px !important;

    &.disabled {
      pointer-events: none;
      color: rgba($accent_blue, 0.4);
      cursor: disabled !important;
    }
  }
}
