@import '../../../../../design-system/new-colors.scss';

.productInformation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productImage {
  width: 40px;
  height: 40px;

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  margin-left: 15px;

  h2 {
    font-size: 14px;
    color: $prim_dark-1;
    font-weight: 500;
    line-height: 1px;
    margin-bottom: 4px;
  }
}
