@import '../../design-system/new-colors.scss';

.competitorAsin {
  border: 1px solid $grey_3;
  border-radius: 7px;
  color: $grey_8 !important;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 30px;
  width: 150px;
}

.productImage {
  width: 25px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
  }
}

.productTitle {
  color: $grey_6 !important;
  font-size: 10px !important;
  line-height: 1;
  margin: 0;
}

.productMeta {
  font-size: 10px;
  line-height: 1;
  margin: 0;

  img {
    width: 7px;
    height: 7px;
    margin-right: 5px;
  }

  span {
    color: $grey_8 !important;
    margin: 0;
  }
}

.removeIcon {
  path {
    fill: $grey_8 !important;
  }
}
