@import '../../design-system/new-colors.scss';

.topBanner {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: $grey_10 !important;
  color: $prim_dark_1;
  font-size: $fontsize_content_10;
  font-weight: $fontweight_medium;
}

.hideOnDesktop {
  @media (min-width: 1024px) {
    display: none !important;
  }
}
