@import '../../../../design-system/new-colors';

.connectAccount {
  margin-top: 50px;

  h1 {
    margin-top: 1rem;
    font-size: 30px;
    color: $black_1;
    font-weight: $fontweight_bold;
    text-align: center;
  }

  p {
    font-size: 14px;
    color: $grey_8;
    font-weight: $fontweight_medium;
    text-align: center;
  }
}

.connectRow {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .migrationDesc {
    margin-top: 100px;

     h2 {
      width: 900px;
      font-size: 24px;
      font-weight: $fontweight_semibold;
      color: $prim_dark_2;
    }

     p {
      margin: 30px 0;
      width: 900px;
      font-size: 14px;
      font-weight: $fontweight_regular;
      color: $black_0;
    }
  }

  .connectAccountContainer {
    display: flex;
    justify-content: center;
  }

  .connectAccountCard {
    background-color: $prim_white;
    border-radius: 7px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 30px;
    padding: 18px 30px;
    box-shadow: 0 3px 6px $grey_3;
  }

  .connectApiLogo {
    height: 40px;
    object-fit: contain;
  }

  .connectApiLabel {
    margin: 30px 0;
    font-size: 20px;
    line-height: 20px;
    color: $black_1;
    font-weight: $fontweight_semibold;
    height: 40px;
  }

  .connectApiDesc {
    font-size: 14px;
    line-height: 20px;
    color: $black_1;
    font-weight: $fontweight_medium;
    margin-bottom: 40px;
  }
}
