@import '../../../../../design-system/new-colors.scss';

.salesPrediction {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
}

.predictiveSales {
  width: 100%;
  display: flex;
  align-items: center;
  color: $sellgo_purple;
  font-size: 24px;
  font-weight: $fontweight_bold;
  margin-bottom: 10px;
}

.manualSales {
  width: 100%;
  display: flex;
  align-items: center;

  .editManualSales {
    display: flex;
    align-items: center;
  }

  .textInput {
    min-width: 70px;
    width: 70px;
    margin-right: 10px;
  }

  .checkIcon,
  .closeIcon {
    cursor: pointer;
    background: $grey_10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    color: $grey_7 !important;
    font-size: 10px !important;

    &:hover {
      background: $grey_3;
    }
  }
}

.radioSelection {
  width: 100px;
  margin-right: 10px;

  label {
    text-align: left;
    font-size: 14px;
    color: $grey_8;
    font-weight: $fontweight_regular;
  }
}
