@import '../../../../../design-system/new-colors';

.modalWrapper {
  width: 1200px !important;
  height: 600px !important;
  padding: 0 !important;
  background: $prim_white;
  border-radius: 7px !important;
}

.modalHeader {
  border-bottom: 1px solid $grey_3;
  height: 50px;
  display: flex;
  align-items: center;
  color: $black_1;
  font-weight: $fontweight_semibold;
  font-size: 14px;
  padding-left: 18px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 50px);
  padding: 30px 40px;
}

.seasonalityTitle {
  color: $black_1;
  font-weight: $fontweight_semibold;
  font-size: 14px;
}

.buttonRow {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  > div {
    margin-left: 30px;
  }
}

.addNewSetting {
  margin: 18px 0;
  height: 60px;
  background: none;
  border: 2px dashed $grey_3;
  border-radius: 7px;
  color: $black_0;
  font-weight: $fontweight_semibold;

  &:hover {
    background: $grey_1;
  }
}
