@import '../../../../../design-system/new-colors';

.settingsInputWrapper {
  display: flex;
  margin-bottom: 18px;
}

.addButton {
  background: none;
  color: $blue_link_bg_light;
  font-weight: $fontweight_medium;
  font-size: 12px;
}

.buttonsRow {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .resetButton {
    margin-right: 18px;
  }
}
