@import '../../../../design-system/new-colors';

.filterSection {
  margin-top: 40px;
  padding: 0;
}

/* Advanced Filter Styles */
.advancedFilterWrapper {
  background: $grey_10;
  box-shadow: 0 3px 6px #00000029;
  border: 1px solid $grey_3;
  border-radius: 7px;
  height: max-content !important;
  user-select: none;
}

.showAdvancedFilter {
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-row-gap: 20px;
  justify-content: start;

  @media only screen and (max-width: 1550px) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
  }
}

.groupFilters {
  display: flex;
  align-items: center;
}
