@import '../../../../../design-system/new-colors';

.createOrderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.createOrderBox {
  min-width: 0 !important;
  padding: 30px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 30px;
    line-height: normal;
    font-size: 24px;
    font-weight: $fontweight_bold;
    color: $black_1;
  }
}

.buttonsRow {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;

  > div {
    margin-left: 18px;
  }
}

.inputRadioRow {
  border-radius: 7px;
  height: 67px;
  width: 700px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px;
  border: 1px solid $grey_3;
  color: $grey_8;
  font-size: 14px;
  font-weight: $fontweight_medium;
  margin-top: 10px;
  opacity: 0.5;

  label {
    font-size: 14px !important;
    color: $grey_8 !important;
  }

  p {
    margin-top: 5px;
    margin-left: 25px;
    font-size: 12px;
    color: $grey_8;
    font-weight: $fontweight_medium;

    span {
      text-decoration: underline;
      font-weight: $fontweight_semibold;
    }
  }

  &__selected {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    font-weight: $fontweight_bold !important;
    background: $grey_10;
    opacity: 1;
  }

  &:hover {
    background: $grey_10;
  }
}
