.quota-meter {
  display: flex;
  width: 446px;
  justify-content: space-between;

  .add-new-supplier {
    background: #349af8;
  }

  .ui.tiny.progress {
    top: 5px;
    width: 60%;
    height: 6px;
  }
  .ui.add-new-supplier {
    font-size: 14px !important;
    font-family: work sans !important;
  }
  .ui.progress > .label {
    font-size: 14px;
    font-family: work sans !important;
    font-weight: 400;
    margin-top: -2px;
  }

  .ui.tiny.progress .bar {
    height: 6px;
  }

  @media screen and (max-width: 340px) {
    .ui.tiny.progress {
      width: 173px !important;
    }
    .add-new-supplier {
      font-size: 12px !important;
    }
  }
  @media screen and (max-width: 450px) {
    .ui.tiny.progress {
      width: 50%;
    }
  }
}
@media screen and (max-width: 767px) {
  .quota-meter {
    width: unset;
    margin: 10px 0;
  }
}
