@import '../../design-system/colors';

.quota-meter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
  margin-right: 15px;

  .add-new-supplier {
    background: $sellgo-blue;
  }

  .ui.tiny.progress {
    height: 3px;
    top: 5px;
    width: 60%;
    margin-left: -40px;
  }

  .ui.add-new-supplier {
    font-family: 'Work sans', sans-serif !important;
    font-size: 14px !important;
    margin-left: 40px;
  }

  .ui.progress > .label {
    font-family: 'Work sans', sans-serif !important;
    font-size: 10px;
    font-weight: 400;
    color: $text-color;
    margin-top: 5px;
  }

  .ui.tiny.progress .bar {
    height: 3px;
  }

  @media screen and (max-width: 340px) {
    .ui.tiny.progress {
      width: 173px !important;
    }

    .add-new-supplier {
      font-size: 12px !important;
    }
  }

  @media screen and (max-width: 450px) {
    .ui.tiny.progress {
      width: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .quota-meter {
    margin: 10px 0;
    width: unset;
  }
}
