.quota-meter {
  display: flex;
  justify-content: flex-end;
  width: 446px;

  .add-new-supplier {
    background: #349af8;
    position: absolute;
    right: 200px;
    top: -70px;
    z-index: 2;
  }

  .ui.tiny.progress {
    height: 4px;
    top: 5px;
    width: 60%;
    margin-left: -40px;
  }

  .ui.add-new-supplier {
    font-family: 'work sans', sans-serif !important;
    font-size: 14px !important;
    margin-left: 40px;
  }

  .ui.progress > .label {
    font-family: 'work sans', sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    color: #3b4557;
    margin-top: -2px;
  }

  .ui.tiny.progress .bar {
    height: 4px;
  }

  @media screen and (max-width: 340px) {
    .ui.tiny.progress {
      width: 173px !important;
    }

    .add-new-supplier {
      font-size: 12px !important;
    }
  }

  @media screen and (max-width: 450px) {
    .ui.tiny.progress {
      width: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .quota-meter {
    margin: 10px 0;
    width: unset;
  }
}
