@import '../../design-system/new-colors.scss';

#grey,
#white {
  position: relative;
  margin-top: 18px;
}

#grey {
  .ui.placeholder,
  .ui.placeholder .image.header::after,
  .ui.placeholder .line,
  .ui.placeholder .line::after,
  .ui.placeholder > ::before {
    background-color: $grey_10;
  }
}

#white {
  .ui.placeholder,
  .ui.placeholder .image.header::after,
  .ui.placeholder .line,
  .ui.placeholder .line::after,
  .ui.placeholder > ::before {
    background-color: $prim_white;
  }
}
