@import '../../../../design-system/new-colors';

.exportsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 8px;

  h2 {
    font-size: 18px;
    color: $prim_dark_2;
    margin: 0;
    font-weight: 600;
    line-height: 1;
  }
}

.exportButton {
  margin-left: auto;
}
