.product-search {
  height: 35px;
  width: 480px;

  input {
    font-family: 'Work sans', sans-serif !important;
    border: 1px solid #98aeca !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }

  .cancel-icon {
    position: absolute;
    top: 50% !important;
    right: 45px !important;
    font-size: 10px !important;
    transform: translateY(-50%);
    opacity: 1 !important;
  }

  i.inverted.circular.icon {
    background-color: #a2a2a2 !important;
  }

  button {
    border-left: none !important;
    border-right: 1px solid #98aeca !important;
    border-top: 1px solid #98aeca !important;
    border-bottom: 1px solid #98aeca !important;
    background-color: #e6e6e6 !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    color: #757575 !important;
  }
}

.product-search--active {
  height: 35px;
  width: 480px;

  input {
    border: 1px solid #98aeca !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    font-family: 'Work sans', sans-serif !important;
  }

  .cancel-icon {
    position: absolute;
    top: 50% !important;
    right: 45px !important;
    font-size: 10px !important;
    transform: translateY(-50%);
    opacity: 1 !important;
  }

  i.inverted.circular.icon {
    background-color: #a2a2a2 !important;
  }

  button {
    border-left: none !important;
    border-right: 1px solid #349af8 !important;
    border-top: 1px solid #349af8 !important;
    border-bottom: 1px solid #349af8 !important;
    background-color: #349af8 !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    color: white !important;
  }
}
