.product-search {
  height: 35px;
  width: 480px;

  input {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
  }

  button {
    background-color: #349af8 !important;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    color: white !important;
  }
}

.product-search--active {
  height: 35px;
  width: 479px;

  input {
    background: #bad9ff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  button {
    background-color: #349af8 !important;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    color: white !important;
  }
}
