@import '../../../../../design-system/new-colors.scss';

.salesEstimationStatCell {
  height: 100%;
  width: 100%;
  background: $blue_1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  &__disabled {
    opacity: 0.25;

    &:hover {
      opacity: 1;
    }
  }

  .hoveredCell {
    display: none;
  }

  &:hover {
    .statsDisplayCell {
      display: none;
    }

    .hoveredCell {
      display: block;
    }
  }
}

.mainStat {
  font-size: 16px;
  font-weight: $fontweight_semibold;
  color: $black_1;
  margin-top: 18px;
  opacity: 1 !important;
}

.weight {
  position: absolute;
  top: 75px;
  right: 5px;
  color: $black_0;
  font-size: 10px;
  font-weight: $fontweight_medium;
}

.labelWrapper {
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.noProjections,
.stockout {
  margin-top: 30px;
  width: 90px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: $fontweight_semibold;
  border-radius: 7px;
}

.noProjections {
  background: $grey_3;
  color: $grey_8;
}

.stockout {
  background: $system_red;
  color: $prim_white;
}

.inStockDays {
  margin-top: 10px;
  font-size: 8px;
  color: $grey_8;
  font-weight: $fontweight_semibold;
  display: flex;
  align-items: center;

  .stockStatus {
    margin-right: 5px;
    height: 7px;
    width: 7px;
    border-radius: 50%;

    &__green {
      background: $sellgo_neon_green;
    }

    &__yellow {
      background: $sellgo_yellow;
    }

    &__red {
      background: $system_red;
    }
  }
}
