{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "jsx": true // Allows for the parsing of JSX
    },
    "project": "./tsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier"
  ],
  "env": {
    "node": true,
    "browser": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "react/self-closing-comp": "error", // <a></a> ==> <a/>
    "eol-last": 2,
    "linebreak-style": 0,
    "no-underscore-dangle": "off",
    "max-len": [
      "error",
      120
    ],
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-unused-vars": "error",
    "eqeqeq": "error",
    "array-callback-return": "error",
    "consistent-return": "off",
    "no-bitwise": "off",
    "arrow-body-style": "off",
    "prefer-destructuring": "off",
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "components",
          "images",
          "consts",
          "modules",
          "routes",
          "static",
          "store",
          "styles",
          "utils",
          "translate"
        ]
      }
    ],
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "dot-notation": "warn",
    "react/forbid-prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/prefer-stateless-function": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "react/prop-types": "off",
    "react/display-name": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/camelcase": "off", // API responses are in camelcase, so we can't get away from this
    "@typescript-eslint/explicit-function-return-type": [
      // temporarily turned off for now
      "off",
      {
        "allowExpressions": true
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}
