@import '../../../../design-system/colors.scss';

.advancedFiltersOptions {
  // align-items: flex-start;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // min-height: 250px;
  // column-gap: 50px;
  // column-count: 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 20px;
  justify-content: start;
}
