@import '../../../../design-system/colors.scss';

.advancedFiltersOptions {
  background: white;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 180px;
  column-gap: 20px;
}
