@import '../../../../design-system/colors.scss';

.advancedFiltersOptions {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 20px;
  justify-content: start;

  @media only screen and (max-width: 1550px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
