@import '../../../../design-system/new-colors';

@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.employeeInformationDetailPopup {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-direction: column;

  @media (max-width: 1600px) {
    max-width: 1200px;
  }

  @media (max-width: 1400px) {
    max-width: 800px;
  }

  &__personalInformation {
    width: 45%;

    &__bio {
      display: flex;
      margin-bottom: 30px;
      align-items: center;

      img {
        margin-right: 12px;
      }

      &__name {
        color: $link_blue;
        padding-left: 11px;
        font-size: 20px;
        font-weight: 700;
      }
    }

    &__details {
      height: 200px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none !important;
      }
    }

    &__detailsBox {
      display: flex;
      margin-bottom: 15px;
      align-items: baseline;

      &_icon {
        width: 15px;
        font-weight: 600;
        text-align: left;
      }

      &_heading {
        width: 74px;
        color: $black_1;
        font-size: 14px;
        margin-right: 20px;
        margin-top: 0;
        font-weight: 600;
        white-space: break-spaces;
      }

      &_text {
        margin-top: 0;
        font-size: 14px;
        width: 600px;
        color: $black_1;
        white-space: break-spaces;
      }
    }
  }

  &__contactPhoneInformation {
    display: flex;
    justify-content: space-between;
    width: 300px;

    @media (max-width: 1600px) {
      width: 400px;
    }

    &_phones {
      &__verified {
        display: flex;
        margin: 0;
        margin-bottom: 20px;

        svg {
          margin-right: 10px;
        }
      }
    }

    &_details {
      margin: 0;
      margin-bottom: 15px;
    }
  }
}

.socialPresence {
  &__linksRow {
    margin-bottom: 20px;

    &__links {
      margin-right: 30px;
    }
  }
}

.informationHeading {
  margin-top: 30px;
  margin-bottom: 20px;
  color: $grey_8;
  font-size: 14px;
  font-weight: 600;
}

.buttonsRow {
  position: absolute;
  bottom: 30px;
  right: 60px;

  &__text {
    text-align: center;
  }
}

.linkBlueText {
  color: $link_blue;
  width: 170px !important;
  overflow: hidden;
}

.upgradeAccess {
  font-size: $fontsize_content_12;
  color: $grey_8;

  &_link {
    color: $accent_blue;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
}

.contactInfo {
  display: flex;
  flex-wrap: wrap;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

.emailWrapper {
  width: 340px;
  margin-right: 30px;

  &__metaData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    p {
      margin: 0;
    }
  }

  &__emailBoxes {
    width: 340px;
    border: 1px solid #ced4d9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 3px 6px #00000029;

    &__container {
      max-height: 225px;
      overflow-y: auto;
      overflow-x: hidden;

      @include no-scroll-bar();
    }
  }

  &__contactInformation {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-right: 100px;

    @media (max-width: 1600px) {
      margin-right: 50px;
    }

    &_emails {
      &__verified {
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 20px;

        svg {
          margin-right: 10px;
        }
      }
    }

    &_details {
      margin: 0;
      margin-bottom: 15px;
    }

    &__emailIconBox {
      display: flex;
      align-items: center;
    }
  }
}
