@import '../../../../design-system/new-colors';

.filterSection {
  padding: 0;
}

/* Basic Filter Styles */
.basicFilters {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 18px 18px !important;
  height: max-content;
  grid-column-gap: 18px;
  grid-row-gap: 18px;

  @media only screen and (max-width: 1700px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}

/* Advanced Filter Styles */
.advancedFilterWrapper {
  background: $grey_10;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 7px;
  height: max-content !important;
  user-select: none;
}

.showAdvancedFilter {
  padding: 11px 18px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 0;
  justify-content: start;

  @media only screen and (max-width: 1650px) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;

    .spacers {
      display: none;
    }
  }

  @media only screen and(max-width: 1450px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.filterPeriod {
  p {
    opacity: 0 !important;
  }
}

.groupFilters {
  display: flex;
  align-items: flex-start;
}

.reviewGroupedFilter {
  .groupFilters {
    margin-top: 10px;
  }
}
