@import '../../../../design-system/new-colors';

.triggerWrapper {
  display: flex;
  margin-bottom: 18px;

  .triggerHeader {
    font-size: $fontsize_content_14;
    font-weight: $fontweight_medium;
    color: $prim_dark_2;
    align-items: center;

    &__closed {
      border-bottom: 1px solid $grey_3;
      border-radius: 7px;
    }

    .headerIcon {
      cursor: pointer;
      margin-bottom: 3px;
      margin-right: 5px;
      font-size: 12px;
      color: $grey_8 !important;
    }
  }
}

.expandIcon {
  background: none;
  display: flex;
  margin-top: 15px;
  margin-right: 10px;
}

.ruleWrapper {
  width: 100%;

  .rulesContainer {
    display: flex;
    flex-direction: column;
  }
}

.addRuleButtonsRow {
  margin-top: 30px;

  .addRuleButton {
    background: $sellgo_yellow;
    width: 60px;
    height: 30px;
    border-radius: 7px;
    color: $black_1;
    font-size: $fontsize_content_12;
    font-weight: $fontweight_semibold;
    margin-right: 30px;
  }
}

.buttonsRow {
  display: flex;
  justify-content: flex-end;

  .resetButton {
    margin-right: 18px;
  }
}

.assignInput {
  margin: 3rem 0;
  width: 900px;
}
