@import '../../../../styles/tableReset';

#trackerKeywordTable {
  // table header row wrapper section
  .rs-table-header-row-wrapper {
    // row wrapper
    .rs-table-row {
      border: 0 !important;
      border-radius: 0 !important;
      border-bottom: 1px solid $grey_3 !important;

      .rs-table-cell {
        // add styles for first cell
        background: $light_gray_background !important;

        &.rs-table-cell-first {
          padding-left: 10px !important;
        }

        .rs-table-cell-content {
          color: $grey_6 !important;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }

  // body section
  .rs-table-body-row-wrapper {
    // body area reside inside this
    margin-top: 0 !important;

    .rs-table-body-wheel-area {
      // row wrapper for body
      .rs-table-row {
        border-bottom: 1px solid $grey_3 !important;

        .rs-table-cell {
          background: $light_gray_background !important;

          // add styles fro first cell
          &.rs-table-cell-first {
            padding-left: 10px !important;
          }

          .rs-table-cell-content {
            color: $grey_8 !important;
          }
        }
      }
    }

    // Loader wrapper
    .rs-table-loader-wrapper {
      background: $light_gray_background !important;

      .rs-table-loader {
        background: $light_gray_background !important;
      }
    }
  }

  // scrollbar
  div[role='scrollbar'] {
    bottom: 60px !important;
    background: $grey_3;
    border-radius: 4px;
    position: fixed !important;
    opacity: 0;
    height: 10px;
    max-width: 90vw !important;
    margin-left: auto !important;

    &.rs-table-scrollbar.rs-table-scrollbar-pressed {
      opacity: 1 !important;
    }

    &:hover {
      opacity: 1;
    }

    > .rs-table-scrollbar-handle {
      background-color: #98aeca !important;
      opacity: 1 !important;
      height: 8px;
      max-width: 100% !important;
    }
  }
}

.iconButtonResetGlobal {
  i.chevron.down.icon {
    font-size: 10px !important;
    margin-top: 4px;
  }
}
