@import '../../../../design-system/new-colors';

/* Table Styles */
.keywordTableWrapper {
  padding-left: 20px;
  padding-right: 20px !important;
  background: $light_gray_background;
  color: $grey_8 !important;
  padding-top: 15px;
}

.trackerKeywordTablePagination {
  display: flex;
  justify-content: flex-end;
}

.amazonChoiceLabel {
  width: 80px;
  height: auto;

  img {
    max-width: 100%;
  }
}

.emptyTableMessage {
  position: absolute;
  left: calc(50vw - 290px);
  margin-top: 50px;
  color: $prim_dark_1;

  span {
    font-weight: $fontweight_semibold;
    color: $blue_link_bg_light;
    cursor: pointer;
  }
}
