@import '../../design-system/new-colors.scss';

.summaryCards {
  width: 100%;
  max-width: 400px;
}

.summaryCardTitle {
  color: $grey_8;
  font-size: 14px;
  font-weight: $fontweight_semibold;
  text-transform: uppercase;
  line-height: 1;
  padding-bottom: 18px;
}

.contentWrapper {
  border: 1px solid $grey_3;
  border-radius: 7px;
  padding-top: 10px;
  padding-left: 10px;
  background: $prim_white;
}

.mainContent {
  max-height: 270px;
  overflow-y: auto !important;
  padding-left: 12px;
  padding-right: 100px;

  /* width */
  &::-webkit-scrollbar {
    width: 5px !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: $grey_1 !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $grey_6 !important;
    border-radius: 3px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $grey_6 !important;
  }
}

.sellgoLoader {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;

  img {
    max-width: 100%;
    height: auto;
  }
}

.sortIconGroup {
  margin-left: 13px;
  color: inherit;
  font-size: 10px !important;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;

  i:last-child {
    margin-top: -5px;
  }
}

.activeSort {
  color: $grey_8 !important;
}

.inActiveSort {
  color: $grey_3 !important;
}
