.generic-button {
  font-family: Work sans !important;
  font-weight: bold !important;
  font-size: 15px !important;
  color: white !important;
  border: none !important;
  padding: 12px 60px !important;
  border-radius: 50px !important;
  background: #4285f4 !important;
}
