.productsTable {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
  max-width: 100%;

  h2 {
    font-weight: 500;
    font-size: 16px;
    white-space: pre-wrap;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 7px;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dsp_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ui.breadcrumb {
    font-size: 10px !important;
    white-space: pre-wrap;
    line-height: 17px;
    text-align: left;
    i {
      color: #349af8 !important;
    }
  }

  .ui.table {
    border-collapse: separate;
    border-spacing: 0 20px;
    border: none;
    background: transparent;
    padding: 0 10px;

    tr {
      border-radius: 12px;
    }

    tbody tr {
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
      border-bottom-left-radius: 12px;
      border-left: 1px solid #707070;
      border-bottom: 1px solid #707070;
    }

    tr td {
      border-left: none;
      font-size: 16px;
      border-bottom: none;
      border-top: none;
      vertical-align: top;
      text-align: center;
      padding: 11px 0px 4px 0px;
    }

    tr th {
      border-left: none;
    }

    tr th:nth-child(1) {
      text-align: left;
    }

    tr td p.stat {
      white-space: nowrap;
    }

    tr td .prod_img {
      max-height: 120px;
      overflow: hidden;
      margin-top: 6px;
      img {
        width: 100%;
      }
    }

    // Thumbnail
    tr td:nth-child(1) {
      padding-left: 5px;
      vertical-align: top;
      width: 180px;
      padding: 12px 20px 12px 12px;
    }

    // Product info
    tr td:nth-child(2) {
      min-width: 250px;
    }

    tr td:nth-child(3),
    tr td:nth-child(4),
    tr td:nth-child(5),
    tr td:nth-child(6),
    tr td:nth-child(7) {
      width: 110px;
      vertical-align: middle;
      padding: 0 0.5rem;
    }

    // Track/detail buttons
    tr td:last-child {
      vertical-align: middle;
      padding: 0 0.5rem;
      span {
        white-space: nowrap;
      }
    }
    tr th:nth-child(1) {
      font-size: 16px;
    }
    tr th {
      text-align: center;
      font-size: 12px;
    }

    tr th:last-child {
      position: relative;
    }

    thead th {
      border-bottom: 1px solid rgba(107, 109, 111, 0.5);
      background: transparent;
    }
  }

  .cstm_breadcum .ui.breadcrumb a {
    color: #349af8 !important;
    font-weight: 600;
  }

  a {
    color: #349af8 !important;
    text-decoration: none;
  }

  .ui.breadcrumb a {
    color: #349af8 !important;
    font-weight: 600;
  }
  .wrap_prod_information {
    display: flex;
    justify-content: space-between;
  }
  .flag_row {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  .flag_row span {
    margin-left: 16px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  .seller_name {
    margin-bottom: 0;
    font-weight: 600;
    text-align: left;
    font-size: 10px;
  }

  .ui.label {
    color: #f0bd39;
    background: #f6ebcd;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 32px;
    position: relative;
    width: 100%;
    margin: 0;
  }

  .ui.label span {
    margin-right: 10px;
    position: absolute;
    left: 8px;
  }
  .ui.star.rating .active.icon {
    color: #f0bd39 !important;
  }
  span.review_head {
    font-size: 10px;
    margin-left: 4px;
  }
  .price_row {
    margin: 0px 0;
    text-align: end;
  }
  span.price_head {
    font-size: 14px;
  }

  span.price_rate {
    color: #eb675e;
    font-size: 16px;
    font-weight: 500;
  }
  .catogy_toy {
    font-size: 14px;
    margin: 0px 0 4px;
    text-align: right;
  }
  .bottm_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rgt_prod {
    width: auto;
    position: relative;
    //margin-top: -25px;
    text-align: right;
  }
  .amaon_img_size {
    margin-right: 20px;
  }
  .track_btn button {
    border-top-left-radius: 18px !important;
    border-bottom-left-radius: 18px !important;
  }
  .track_wrap {
    display: flex !important;
    align-items: center;
  }
  .track_wrap span {
    margin-left: 10px;
  }
  .track_btn .btn_lbl {
    border-top-right-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
    display: flex !important;
    flex-direction: column;
    padding: 2px 7px !important;
    justify-content: center !important;
  }
  .button.track_btn {
    margin-bottom: 18px;
  }
  .view_detail_btn {
    background-color: #349af8 !important;
    border-radius: 18px !important;
    padding: 10px 32px !important;
    text-align: center !important;
    display: flex !important;
    align-items: center;
  }
  .view_detail_btn i {
    margin-left: 10px !important;
    margin-right: 0 !important;
  }
  .rating_name {
    font-size: 12px;
    color: #000;
    font-weight: 100;
    margin-bottom: 2px;
    margin-right: 0 !important;
    position: initial !important;
  }
  .rating_num {
    color: #000;
    margin-right: 0 !important;
    position: initial !important;
  }
  .mg_botm0 {
    margin-bottom: 0;
  }
  .fnt12 {
    font-size: 12px;
  }
  .download_icn {
    position: absolute;
    right: 3px;
    margin-right: 0 !important;
    top: 10px;
  }
  button.ui.icon.button.track_wrap {
    padding: 7px 12px;
    background: #dfe8f3;
  }

  .tbl_sort_icn {
    width: 18px;
    position: relative;
    margin-left: 6px;
  }

  .tbl_sort_icn.singl_icn {
    left: 18px !important;
    top: -14px;
  }
  .up_arrow {
    position: relative;
    top: -5px;
    font-size: 12px !important;
    color: #98aeca;
  }
  .down_arrow {
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 12px !important;
    color: #98aeca;
  }

  .float_right {
    float: right;
  }

  /* ====================Media screen ============================ */

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .ui.table {
      tr td {
        font-size: 13px;
      }

      tr th:nth-child(1) {
        font-size: 15px;
      }

      tr th {
        font-size: 11px;
      }
    }

    span.price_rate {
      font-size: 18px;
    }
    .rating {
      line-height: 19px;
    }
    span.price_head {
      font-size: 13px;
    }
    .catogy_toy {
      font-size: 13px;
      line-height: 17px;
    }

    .flag_row span {
      font-size: 13px;
    }
    h2 {
      font-size: 15px;
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1250px) {
    .ui.table {
      tr td {
        font-size: 13px;
      }

      tr th:nth-child(1) {
        font-size: 15px;
      }

      tr th {
        font-size: 11px;
      }
    }

    span.price_rate {
      font-size: 18px;
    }
    .rating {
      line-height: 19px;
    }
    span.price_head {
      font-size: 13px;
    }
    .catogy_toy {
      font-size: 13px;
      line-height: 17px;
    }

    .flag_row span {
      font-size: 13px;
    }
    h2 {
      font-size: 15px;
    }
  }

  @media only screen and (min-width: 1251px) and (max-width: 1400px) {
    .ui.table {
      tr td {
        font-size: 13px;
      }
    }

    h2 {
      font-size: 15px;
    }
    .rating {
      line-height: 18px;
    }
    span.price_rate {
      font-size: 17px;
    }
    span.price_head {
      font-size: 13px;
    }
    .catogy_toy {
      font-size: 13px;
      line-height: 19px;
    }
    .flag_row span {
      font-size: 13px;
    }
  }
}
