@import '../../design-system/new-colors';

/* Style Guide for cta button */
.ctabutton {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;

  &__primary {
    background: #3b4557;
    color: #fff;
    border: 1px solid #3b4557;

    &:hover {
      color: #fff !important;
    }
  }

  &__secondary {
    background: #fff;
    color: #fc7900;
    border: 1px solid #fc7900;

    &:hover {
      color: #fc7900 !important;
    }
  }

  &__grey {
    background: #808080;
    color: #fff;
    border: 1px solid #808080;

    &:hover {
      color: #fff !important;
    }
  }

  &__white {
    background: #fff;
    color: $grey_8;
    border: 1px solid $grey_6;
    font-weight: normal !important;

    &:hover {
      color: $grey_8 !important;
    }
  }

  &__blue {
    background: $blue_8;
    color: #fff;

    &:hover {
      color: #fff !important;
    }
  }

  &__large {
    width: max-content;
    padding: 0 4rem;
    font-size: 14px;
    height: 65px;
    font-weight: 600;
  }

  &__medium {
    width: max-content;
    padding: 0 3rem;
    font-size: 14px;
    height: 50px;
    font-weight: 600;
  }

  &__small {
    width: max-content;
    padding: 0 2rem;
    font-size: 14px;
    height: 35px;
    font-weight: 600;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
