@import '../../../design-system/new-colors';

.emptySkuContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $fontweight_medium;

  button {
    background: none;
    font-weight: $fontweight_semibold;
    color: $blue_link_bg_light;
    cursor: pointer !important;
    z-index: 99999999;
  }
}
