$blue: #349af8;
$green: #5dc560;
$lightgray: #98aeca;

.inner-container {
  font-weight: 500 !important;
  line-height: 0;
}

.tracking {
  @extend .inner-container;

  border: 0.5px solid $green !important;
  color: $green !important;

  .icon {
    font-size: 10px !important;
    line-height: 1;
    color: $green !important;
  }
}

.not-tracking {
  @extend .inner-container;

  .icon {
    font-size: 10px !important;
    line-height: 1;
    color: $blue !important;
  }
}

.track-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;

  .refresh {
    font-size: 14px !important;
    cursor: pointer;
  }

  > span {
    margin: unset !important;
    padding: 0 10px;
  }

  .track-seller {
    width: 119px;
    height: 20px;
    border: 0.5px solid $blue !important;
    border-radius: 100px !important;
    box-shadow: unset !important;
    cursor: pointer;
    display: flex !important;
    align-items: center !important;
    padding: 0 10px !important;
    color: $blue !important;
    background: white !important;
    z-index: 999;

    > span {
      margin: unset !important;

      > i {
        font-size: 12px;
      }

      > .icon {
        font-size: 10px !important;
        line-height: 1;
      }
    }

    .tracking-label {
      @extend .inner-container;

      padding-left: 10px;
      margin: unset !important;
    }
  }

  .track-product {
    width: 99px;
    height: 25px;
    border: 0.5px solid $blue;
    border-radius: 100px !important;
    box-shadow: unset !important;
    cursor: pointer;
    display: flex !important;
    align-items: center !important;
    padding: 0 10px !important;
    color: $blue;
    background: white !important;

    > span {
      margin: unset !important;

      > i {
        font-size: 12px;
      }
    }

    .tracking-label {
      @extend .inner-container;

      padding-left: 10px;
      margin: unset !important;
    }
  }

  .reload-product {
    width: 125px;
    height: 25px;
    border: 0.5px solid $blue !important;
    border-radius: 100px !important;
    box-shadow: unset !important;
    cursor: pointer;
    display: flex !important;
    align-items: center !important;
    padding: 0 10px !important;
    color: $blue !important;
    background: white !important;

    > span {
      margin: unset !important;

      > i {
        font-size: 12px;
      }
    }

    .tracking-label {
      @extend .inner-container;

      padding-left: 10px;
      margin: unset !important;
    }
  }

  .tracking {
    @extend .inner-container;

    border: 0.5px solid $green !important;
    color: $green !important;
    /* stylelint-disable no-descending-specificity */
    .icon {
      font-size: 10px !important;
      line-height: 1;
      color: $green !important;
    }
  }

  .not-tracking {
    @extend .inner-container;

    .icon {
      font-size: 10px !important;
      line-height: 1;
      color: $blue !important;
    }
  }
}

.product-seller-progress {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .ui.progress {
    width: 50%;
  }
}
