@import '../../design-system/new-colors.scss';

.notificationBanner {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  background: $grey_1;
  border: 1px solid $grey_3;
  padding: 0 18px;
  margin: 5px 0;
  font-size: 14px !important;
  font-weight: $fontweight_medium !important;

  &__clickable {
    cursor: pointer;

    &:hover {
      background: $grey_2;
    }
  }
}
