@import '../../../../design-system/new-colors';

.globlMapFilters {
  padding-top: 20px;
  padding-left: 30px;
  min-height: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 18px;

  @media only screen and (min-width: 1550px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (min-width: 1700px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.countryFilter {
  > div {
    width: 17rem !important;
  }
}

.limitFilter {
  > div {
    width: 9rem !important;
  }
}
