@import '../../../design-system/new-colors';

.ui.error.input.minMaxFilters {
  > input {
    border: 1px solid $system_red !important;
    background-color: #fff !important;
  }
}

i.ratingsIconFilter.star.icon {
  color: $grey_8 !important;

  &.minMaxErrorRatings {
    color: $system_red !important;
  }
}
