@import '../../../design-system/colors.scss';

.minMaxRatingsFilter {
  width: max-content;

  p {
    margin: 0;
    color: $grey_8;
    font-size: 12px;
    font-weight: 600;
  }
}

.inputWrapper {
  display: flex;
  justify-content: space-between !important;
  align-items: center;

  svg {
    margin: 0 5px;

    path {
      fill: $grey_6 !important;
    }
  }
}
