@import '../../design-system/new-colors';

.inventoryBarWrapper {
  margin-top: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 5px;
  height: 35px;
  background: none;
  overflow: hidden;
}

.bar {
  background: $grey_3;
  margin-bottom: 2px;
  width: 5px;
  height: 5px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.barFill {
  background: red;
  width: 5px;
}
