.amazon-content {
  .visible.menu.transition {
    border-radius: 10px !important;
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
  }

  .visible.menu.transition::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .fields.action-container {
    margin-top: 30px;

    .primary-btn button.ui.button {
      height: 36px;
      border: 1px solid #349af8;
    }

    .error-btn button.ui.button {
      color: #eb675e;
      background: #fff 0% 0% no-repeat padding-box;
      border: 1px solid #eb675e;
    }
  }

  label,
  .seller-field,
  .token-field {
    padding-left: 0.5rem;
    display: block;
    margin: 0 0 0.28571429rem 0;
    text-transform: none;
    font-size: 16px;
    font-weight: 600;
    color: #3b4557;
    margin-bottom: 15px;
    margin-top: 20px;

    a,
    span.auth-seller {
      color: #349af8 !important;
      font-weight: 700 !important;
      font-size: 16px !important;
      text-decoration: underline !important;
      cursor: pointer;
    }
  }

  i {
    width: 20px;
    height: 20px;
  }

  .marketplace-field {
    display: flex;
    flex-direction: column !important;

    label:first-child {
      margin-top: 0;
    }
  }

  .seller-field,
  .token-field {
    padding-left: 0;

    .ui.icon.input > i.link.icon {
      top: 50% !important;
      transform: translate(-0%, -50%) !important;
      font-size: 1rem;
    }

    .ui.icon.input {
      width: 719px !important;
      margin-top: 15px;
      margin-right: 14px;
    }

    span {
      margin-bottom: 15px !important;
    }
  }

  .token-field .field {
    width: 100%;
  }

  .free-trial-popup {
    width: 560px;
    bottom: -37px;
    color: #fff;
    background: #757575;
    border: 1px solid #98aeca;
    border-radius: 11px;
    padding: 24px 26px;
    position: absolute;
    cursor: default;
    right: 325px;
    z-index: 1;

    .icon {
      position: absolute;
      left: -43px;
      color: #757575;
      font-size: 30px;
      top: 12px;
    }

    .title {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 25px;
    }

    .content {
      font-size: 18px;
      font-weight: 400 !important;
    }
  }
}

@media only screen and (min-width: 2560px) {
  .free-trial-popup {
    left: 27% !important;
  }
}

@media only screen and (max-width: 1600px) {
  .free-trial-popup {
    right: 55px !important;
  }
}

@media only screen and (max-width: 1440px) {
  .free-trial-popup {
    right: -80px !important;
  }
}

@media only screen and (max-width: 1366px) {
  .free-trial-popup {
    right: -140px !important;
  }
}

@media only screen and (max-width: 1280px) {
  .free-trial-popup {
    width: 475px !important;
    bottom: -61px !important;
    right: -130px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .amazon-content {
    .seller-field .field,
    .token-field .field {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .amazon-content {
    .seller-field .field,
    .token-field .field,
    .seller-field input,
    .token-field input,
    .seller-field .ui.icon.input,
    .token-field .ui.icon.input {
      width: 100% !important;
    }
  }
}
