.basic-info {
  $font-fam: 'Work Sans', sans-serif !important;

  flex-wrap: wrap;

  .hidden-field {
    display: none !important;
  }

  .sub.header,
  .ui.header {
    font-family: $font-fam;
  }

  .sub.header {
    padding-top: 10px;
    font-size: 16px;
    color: #3b4557;
  }

  h4.ui.header {
    font-weight: 600;
    font-size: 16px;
    color: #3b4557;
  }

  .user-name {
    padding: 0;
    max-width: 199px !important;
    min-width: 199px !important;
    max-height: max-content !important;
    min-height: 21px !important;
    padding-bottom: 2px !important;
    border-radius: 0 !important;
    box-shadow: none;
    border: 0;
    background: none;
    font-family: $font-fam;
    font-weight: bold;
    font-size: 18px !important;
    letter-spacing: 0;
    color: #000000de !important;
    margin-bottom: 5px;
    overflow-y: hidden !important;
  }

  .user-name:focus {
    border-bottom: 2px solid #349af8 !important;
  }

  .four.wide.column {
    padding-left: 15px !important;
    padding-right: 0 !important;
    width: max-content !important;

    .sub.header {
      color: #0006;
      font-weight: normal;
      font-size: 13px;
    }

    .upload-photo {
      width: 200px;
      border-radius: 40px;
      margin-bottom: 20px;
      height: 35px;
      font-size: 16px;
      padding: 0;
      font-weight: bold;
    }

    .ui.segment {
      padding: 0;
      height: 201px;
      width: 200px;
      margin: 0 0 25px 0;
      overflow: hidden;
      position: relative;
      background: transparent 0% 0% no-repeat padding-box !important;
      border: 1px solid #dadadb !important;
      box-shadow: none !important;
      border-radius: 4px 4px 0 0;

      .ui.top.right.attached.label {
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: #2e3b4a 0% 0% no-repeat padding-box;
        box-shadow: 0 3px 20px #00000029;
        border-radius: 15px 0 0 15px;
        min-width: 40px;
        padding: 0;
        height: 24px;
        margin-top: 3px;
      }

      i.fa-pencil-alt {
        color: #f8faff;
      }

      i.fa-check {
        color: #349af8;
      }

      i.fa-times {
        color: #eb675e;
      }

      .hidden-icon {
        display: none;
      }

      i {
        margin-right: 4px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      i:first-child {
        // margin-right: 10px;
      }

      img.delete-prof-pic {
        width: 12px !important;
        height: auto !important;
        padding: 1px;
        margin-right: 4px;
        cursor: pointer;
      }

      img.user-prof-pic {
        position: absolute;
        min-width: 200px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0 !important;
      }
    }

    .ui.grid {
      display: flex;
      flex-direction: column;

      h4.ui.header {
        font-size: 18px;
        font-weight: bold;
        color: #000000de;
        margin-bottom: 5px;
      }

      textarea {
        overflow: auto;
        font-size: 13px;
        color: #000c;
        width: 260px;
        min-height: 49px;
        border: none;
        resize: none;
        font-family: $font-fam;
        outline: none;
        background: none;
      }
    }
  }

  .eleven.wide.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 40px;

    .column {
      display: flex;
      flex-wrap: wrap;

      .ui.grid {
        width: 33%;
        margin: 0 0 60px 0 !important;

        h4.ui.header {
          a {
            font-weight: 600;
            font-size: 16px;
            color: #349af8;
          }
        }
      }

      .ui.grid:nth-child(4) {
        .sub.header i {
          width: 20px;
          height: 16px;
          text-align: center;
          color: #3b4557;
        }
      }

      .ui.grid:nth-child(4) .sub.header {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 1024px), only screen and (max-width: 1251px) {
  .basic-info {
    .four.wide.column {
      width: 23.75% !important;
    }

    .eleven.wide.column {
      .ui.grid {
        width: 50% !important;
      }
    }
  }
}

@media only screen and (max-width: 768px), only screen and (max-width: 951px) {
  .basic-info {
    flex-direction: column;

    .four.wide.column {
      display: flex;
      min-width: 100% !important;
      justify-content: center;
      margin-bottom: 30px;
      flex-wrap: wrap;

      .ui.segment {
        min-width: 180px;
        margin-right: 40px;
      }
    }

    .eleven.wide.column {
      width: auto !important;
    }
  }

  .email-content .ui.form .fields,
  .password-content .ui.form .fields:last-child {
    flex-wrap: wrap !important;
    min-height: 102px !important;
  }
}

@media only screen and (max-width: 425px), only screen and (max-width: 541px) {
  .basic-info {
    flex-direction: column;

    .four.wide.column {
      flex-direction: column;
      padding: 0 !important;

      .ui.segment {
        margin-right: auto;
        margin-left: auto;
      }

      .ui.header {
        margin: auto;
        text-align: center;
      }

      textarea {
        margin: auto;
        text-align: center;
      }
    }

    .eleven.wide.column {
      .column {
        flex-direction: column;

        .ui.grid {
          width: auto !important;

          .ui.header {
            width: 100% !important;
            margin: 0 !important;
          }
        }
      }
    }
  }
}
