@import '../../../../design-system/new-colors';

.sellersListWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 20%;
  height: 90vh;
  overflow: auto;
}
