@import '../../../../design-system/new-colors';

.sellersListWrapper {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
  padding-bottom: 2rem;
}

.sellersListLoader {
  width: 100px;
  height: auto;
  margin-top: 40px;
}

.sellerListFilters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 8rem;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 18px;
  // background: blue;

  .toggleButton {
    width: 240px !important;
    margin-left: 0;
    margin-right: 18px;
    height: 38px;
  }

  @media only screen and(max-width: 2040px) {
    .toggleButton {
      margin-bottom: 18px;
      margin-right: 0;
    }

    padding-left: 0;
    justify-content: center;
  }
}

.sellersList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
  margin-bottom: 10px;

  @media only screen and(min-width: 1650px) {
    justify-content: space-evenly;
  }
}

.sellersListPagination {
  position: fixed;
  bottom: 0;
  width: 30vw;
  margin-top: 10px;
  margin-right: 10px;
}
