@import '../../../design-system/colors';

.seller-database-table {
  .ui.table {
    border-collapse: separate;
    border-spacing: 0;
    border: none;
    background: transparent;
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    a {
      font-family: '' Work Sans ', sans-serif', sans-serif;
      font-size: 14px;
    }

    .seller-checkbox {
      border-color: #dededf !important;
      border-radius: 4px;
      opacity: 1;
      display: flex;
      justify-content: center;
      padding-right: 20px;

      label::before {
        border-radius: 4px !important;
        border: 1px solid #d4d4d5;
      }

      input:checked ~ .box::before,
      input:checked ~ label::before {
        border-color: #dededf;
        background-color: #313a4c;
      }

      input:checked ~ .box::after,
      input:checked ~ label::after {
        color: #fff;
      }
    }

    .target-btn {
      display: flex;
      align-items: center;
      width: 120px;
      height: 30px;
      border: 1px solid $sellgo-blue;
      border-radius: 7px;
      color: $sellgo-blue;
      font-size: 11px;

      > img {
        margin-right: 10px;
      }
    }

    .title {
      min-width: 250px !important;
    }

    .rating {
      min-width: 96px !important;

      .star {
        font-size: 12px;
      }
    }

    .sm-col {
      min-width: 85px !important;
    }

    .sd-seller-details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name {
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
        color: $filter-text-color;
      }

      .seller-id {
        font-size: 12px;
        color: $filter-text-color;

        .icon {
          font-size: 10px;
          padding-left: 5px;
          cursor: pointer;
          color: $filter-text-color;
        }
      }
    }

    td p {
      font-size: 14px;
      margin-bottom: 0;
      color: $filter-text-color;
    }

    .inventory {
      > p {
        font-weight: 500 !important;
      }
    }

    thead {
      tr {
        th {
          &.table-headers {
            width: 95px;
          }

          &.undefined {
            padding-left: 37px;
          }

          &.checkboxes {
            padding-left: 16px;
            padding-right: 0;
          }

          .sd-header-action-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
          }

          .sd-header-checkbox-container {
            display: flex;
            align-items: center;
            margin-left: 13px;
          }

          .sd-checkbox-select {
            display: inline-block;
            color: #a2a2a2;
            height: 100%;
            font-size: 14px;
          }

          i {
            display: block;
          }

          .sort-arrow {
            margin-left: 25px;
          }

          border-top: 1px solid rgba(34, 36, 38, 0.3);
          border-bottom: 1px solid rgba(34, 36, 38, 0.3);
          background: #fff;
          text-align: left;
          font-size: 14px;
          font-weight: 600;
          padding: 0 32px;
        }

        th:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border-left: 1px solid rgba(34, 36, 38, 0.3);
        }

        th:last-child {
          border-right: 1px solid rgba(34, 36, 38, 0.3);
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }

    tbody {
      tr {
        td.table-cell {
          width: auto;

          &.undefined {
            padding-left: 0;
          }
        }
      }
    }

    tbody::before {
      /* This doesn't work because of border-collapse */
      content: '@';
      display: block;
      line-height: 10px;
      text-indent: -99999px;
    }

    td {
      border-top: 1px solid rgba(34, 36, 38, 0.2) !important;
      border-bottom: 1px solid rgba(34, 36, 38, 0.2);
      padding: 8px;
      font-size: 14px;
      text-align: left;
      vertical-align: middle;
      background: #fff;

      &:first-child {
        width: 200px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-left: 1px solid rgba(34, 36, 38, 0.2);
      }

      &:last-child {
        border-right: 1px solid rgba(34, 36, 38, 0.2);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        vertical-align: middle;
        text-align: left;
        padding: 4px 5px 2px 5px;

        span {
          font-family: 'Work Sans', sans-serif !important;
          white-space: nowrap;
          margin: 0 auto;
          font-weight: 600;
        }
      }
    }
  }
}
