.customeModal {
  min-height: 27rem;
  border: 1px solid #707070 !important;
  border-radius: 1rem !important;
}
.customeModal .content {
  border-radius: 1rem !important;
}

.close {
  top: -1.7rem !important;
  right: -2rem !important;
}
i.icon.close:before {
  content: '\f00d';
  border: 4px solid #999999;
  border-radius: 50%;
  padding: 3px 5px;
  font-size: 14px;
  color: #999999;
}
.ui.dimmer {
  background-color: rgba(146, 170, 177, 0.48);
}
