.login-container {
  $font-fam: 'Work Sans', sans-serif !important;
  $font-black: #3b4557;
  $font-blue: #349af8;
  $font-grey: #98aeca;
  $font-red: #eb675e;
  $font-green: #5dc560;

  &__steps-content {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 14px;
    }

    &__register {
      margin-right: -20px;

      &__icon i {
        font-size: 15px !important;
      }
    }

    &__login {
      margin-right: -10px;

      &__icon i {
        font-size: 15px !important;
      }
    }

    &__payment {
      margin-right: -10px;
      margin-left: -23px;

      &.false {
        margin-right: -20px;
      }

      &__icon i {
        font-size: 11px !important;
      }
    }

    &__register,
    &__login,
    &__payment {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $font-grey;

      &__icon {
        border-radius: 50%;
        border: 1px solid $font-grey;
        height: 40px;
        width: 40px;
        justify-content: center;
        display: flex;
        align-items: center;

        i {
          margin: 0;
          padding: 0;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &.active {
        color: $font-blue;
      }

      &.active &__icon {
        border: 2px solid $font-blue !important;
      }
    }

    .ui.divider {
      width: 140px;
      position: relative;
      top: 12px;
    }
  }
}
