@import '../../../../design-system/new-colors';

.keywordDatabaseTableWrapper {
  margin-top: 18px !important;
  padding-bottom: 65px !important;
  width: 100%;
}

.keywordDatabasePaginationContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 40px;
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 9, 0.25);
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 9999999 !important;
}
