@import '../../../../../design-system/new-colors';

.editGroupForm {
  width: max-content !important;
  padding: 20px;
}

.longInput {
  width: 600px;
}

.formAction {
  margin-bottom: 0 !important;
}
