.plans-table-container {
  display: flex !important;
  justify-content: center;

  &__wrapper {
    width: 1137px !important;
    margin-bottom: 150px !important;

    &.row {
      display: flex !important;
      justify-content: center;
    }

    &__title {
      p {
        padding: 50px 0;
        font-size: 57px;
        color: #3b4557;
        font-weight: 500;
      }
    }

    &__table {
      width: 1137px !important;
      border: none !important;
      background: none !important;

      &__header {
        tr {
          th {
            &:first-child {
              background-color: transparent !important;
            }

            border: none !important;
            color: #fff !important;
            background-color: #349af8 !important;
            font-size: 30px;
            text-align: center !important;
            font-weight: 500 !important;
            padding: 0.75rem !important;
          }
        }
      }

      &__footer {
        tr {
          td {
            font-size: 20px;
            padding: 20px 25px !important;
            border: none;
            text-align: center;
            width: 250px;
            height: 63px;

            p {
              font-size: 20px !important;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            i {
              color: #349af8;
              font-size: 25px;
            }
          }

          .basic-btn {
            border-radius: 40px;
            width: 210px;
            height: 45px;
            margin: auto;
            background: 0;
            border: 2px solid #349af8;
            color: #349af8;
            font-size: 20px;
            font-weight: bold;
            outline: none !important;
            line-height: normal !important;
            padding: 0;
          }

          .primary {
            border-radius: 40px;
            width: 210px;
            height: 45px;
            margin: auto;
            background: #349af8 !important;
            border: 2px solid #349af8;
            color: #349af8;
            font-size: 20px;
            font-weight: bold;
            outline: none !important;
            line-height: normal !important;
            padding: 0;
          }
        }
      }

      &__body {
        tr {
          td {
            &:first-child {
              font-size: 22px !important;
              width: 350px;
            }

            font-size: 20px;
            padding: 20px 25px !important;
            text-align: center;
            height: 63px;
            border: none !important;

            p {
              font-size: 20px;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            i {
              color: #349af8;
              font-size: 25px;
            }
          }

          &:nth-of-type(odd) {
            background-color: #dfe8f3 !important;
          }

          &:nth-of-type(even) {
            background-color: #dfe8f354 !important;

            td {
              &:nth-of-type(odd) {
                background-color: #fff;
              }

              &:nth-of-type(even) {
                background-color: #dfe8f354;
              }
            }
          }
        }
      }
    }
  }
}

.pricing-container {
  background-color: #f8faff;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column !important;
  height: max-content;

  .flex-center {
    display: flex;
    justify-content: center !important;
    align-items: center;
  }

  .pricing-type {
    &__content {
      .button {
        background-color: #98aeca !important;
      }

      .primary {
        background-color: #349af8 !important;
      }

      .button:hover {
        opacity: 0.7 !important;
      }

      &__circle {
        width: 25px;
        height: 25px;
        position: relative;
        top: -49%;
        left: 44.2%;
        background: #fff;
        border-radius: 50%;
      }

      &__monthly-btn {
        border-top-right-radius: unset !important;
        border-bottom-right-radius: unset !important;
      }

      &__yearly-btn {
        border-top-left-radius: unset !important;
        border-bottom-left-radius: unset !important;
      }

      &__monthly-btn,
      &__yearly-btn {
        font-size: 20px;
        color: #fff !important;
        border-radius: 50px;
        font-weight: 600;
        padding: 10px 25px;
        width: 121px;
      }
    }
  }

  .coupon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 0;
    width: 353px;
    height: 110px;
    background: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 23px #00000029;
    box-shadow: 0 3px 23px #00000029;
    padding: 15px;

    h4.ui.header {
      color: #3b4557;
      font-weight: bold;
      font-size: 15px;
    }

    .field-container {
      width: 100% !important;
      margin: auto;
      display: flex;
      justify-content: center;

      .ui.input {
        margin: 0 !important;
        padding: 0;

        input {
          margin-right: 15.12px;
          height: 32px;
          min-width: 177px !important;
          max-width: 177px !important;
          border-radius: 11px;
          background: #fff 0% 0% no-repeat padding-box;
          font-size: 12px;
          border: 0.50000000298023224px solid #888;
        }

        input::placeholder {
          color: #dfe8f3;
        }
      }

      button.ui.grey.basic.button {
        max-width: 120px;
        height: 32px;
        border-radius: 15px !important;
        background: #fff 0% 0% no-repeat padding-box !important;
        font-size: 14px;
        font-weight: bold;
        padding: 0;
        margin: 0;
        border: 1px solid #349af8 !important;
        box-shadow: none !important;
        color: #349af8 !important;
      }

      button.ui.grey.basic.button:hover {
        color: #fff !important;
        background: #349af8 !important;
      }
    }
  }

  .ui.small.modal.transition.visible.active {
    position: relative !important;
    z-index: 2 !important;
  }

  .extra.content {
    padding-top: 0 !important;
    padding-bottom: 40px !important;
  }

  .ui.card.active-plan {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
    box-shadow: 0 2px 20px #00000062;
    min-width: 320.92px !important;
    max-width: 320.92px !important;
    min-height: 385.5px;
    max-height: 385.5px;
    margin: auto 30px;
  }

  .ui.card.false {
    position: relative !important;
    z-index: 1 !important;
  }

  button,
  .header,
  .meta,
  .description,
  strong,
  .ui.header {
    font-family: 'Work Sans', sans-serif !important;
    text-align: center;
  }

  .row:first-child {
    display: flex;
    flex-direction: column !important;
    text-align: center;
    font-size: 24px;
    line-height: normal;
    color: #2e3b4a;
    height: max-content !important;
    margin-bottom: 50px;

    h1 {
      font-weight: 700;
      font-size: 50px;
      margin-bottom: 28px;
      color: #2e3b4a;
      line-height: normal;
    }
  }

  .setcard-container {
    height: max-content !important;
    margin-top: 30px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;

    a:last-child img {
      margin-left: -14px;
      min-width: 119px !important;
      min-height: 26px !important;
    }
  }

  .offer-footer {
    text-align: center !important;
    display: flex;
    justify-content: center !important;
    line-height: 17px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif !important;
    margin-bottom: 50px;
    color: #2e3b4a;
  }

  .ui.divider {
    width: 1292px;
    margin: 0 auto !important;
    border-top: 1px solid #707070;
  }

  .ui.card:nth-child(3) p {
    font-size: 20px;
    color: gray;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .ui.card {
    max-height: 380px;
    min-height: 368px;
    max-width: 340px;
    min-width: 240px;
    margin: 27.5px 10.5px 36.4px 10.5px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 20px #0000001c;
    box-shadow: 0 2px 20px #0000001c;
    transition: transform 0.2s;
    background: #fff 0% 0% no-repeat padding-box;

    .card-container {
      &__header {
        padding: 0;
        min-height: 40px;

        .header {
          margin-top: 0;
        }

        .header button {
          display: none;
          border-radius: 10px 10px 0 0;
          padding: 11px 0;
          color: #fff;
          background: #349af8 0% 0% no-repeat padding-box;
          box-shadow: 0 3px 20px #00000029;
          height: 43px;
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 20px;
        }

        .best-value {
          display: block !important;
        }
      }

      &__name {
        padding: 0 20px 24px 20px;
        min-height: max-content;
        max-height: max-content;

        .header {
          font-size: 29px;
          font-weight: 800;
          color: #2e3b4a;
          line-height: normal;
          margin-bottom: 15px;
        }
      }

      &__discount-details {
        display: flex;
        font-size: 20px;
        font-weight: 500;
        justify-content: center;
        padding: 0;

        &__slash {
          color: #98aeca !important;
          text-decoration: line-through;
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 0;
        }

        &__save {
          color: #349af8 !important;
          margin-bottom: 0;
        }
      }

      &__details {
        padding: 0 20px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: max-content;
        max-height: max-content;

        .description {
          margin-top: 0;
          font-size: 16px;
          line-height: normal;
          font-weight: normal;
          margin-bottom: 35.03px;
          text-align: center;
          color: #2e3b4a;
        }

        .header {
          font-size: 35px;
          font-weight: 800;
          display: flex;
          justify-content: center;
          height: 50px;
          color: #2e3b4a;
          margin-bottom: 24px;

          strong {
            font-weight: 500;
            font-size: 18px;
            color: #3b4557;
            line-height: 55px;
          }

          strong:first-child {
            line-height: 50px;
            font-size: 24px;
            color: #3b4557;
            font-weight: normal;
          }
        }
      }
    }

    .meta {
      font-size: 16px;
      line-height: normal;
      font-weight: bold;
      margin: auto;
      color: #aaa;
    }

    .pro-plan {
      font-size: 35px !important;
      font-weight: 800 !important;
      color: #3b4557 !important;
    }

    .content {
      border-top: 0 !important;
    }

    .extra.content {
      .fluid.button.basic-btn {
        border-radius: 40px;
        width: 170px;
        height: 40px;
        margin: auto;
        background: 0;
        border: 1px solid #349af8;
        color: #349af8;
        font-size: 16px;
        outline: none !important;
        line-height: normal !important;
        padding: 0;
      }

      .free-trial-btn {
        text-decoration: none !important;

        .fluid.button.basic-btn {
          margin-top: 10px;
        }
      }

      .fluid.button.basic-btn.active-plan {
        border: 1px solid #98aeca;
        color: #98aeca;
        font-size: 16px;
        width: 170px;
        height: 40px;
      }

      .fluid.button.basic-btn:hover {
        background: #fff;
        color: #349af8;
      }

      .fluid.button.basic-btn.active-plan:hover {
        background: #fff;
        color: #98aeca;
      }

      p {
        display: none;
      }

      p.contact-us {
        display: flex;
        flex-direction: column;
        color: #2e3b4a;
        font-size: 14px;
      }

      a {
        color: #349af8 !important;
        text-decoration: underline;
      }

      a:hover {
        color: #349af8 !important;
        text-decoration: underline;
      }
    }

    &.yearly-card {
      max-height: 400px !important;

      &.best-value-content {
        max-height: 460px !important;
      }
    }

    &.best-value-content {
      max-height: 440px !important;

      .content {
        .description {
          margin-bottom: 25px !important;
        }
      }

      .extra.content {
        .fluid.button.basic-btn {
          font-weight: bold !important;
        }
      }
    }

    &.basic-value-content {
      .content {
        .description {
          margin-bottom: 25px !important;
        }
      }

      .extra.content {
        padding-bottom: 20px !important;

        .fluid.button.basic-btn {
          font-weight: bold !important;
        }
      }
    }

    &.contact-us-content {
      .content {
        .header {
          font-size: 33px !important;
        }

        .description {
          margin-bottom: 25px !important;
        }
      }

      .extra.content {
        padding-bottom: 60px !important;

        .fluid.button.basic-btn {
          font-weight: bold !important;
        }
      }
    }
  }

  .ui.card:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
  }

  .ui.card:nth-child(4) {
    .extra.content button {
      display: none;
    }
  }
}

.pricing-container .ui.card .content:nth-child(3).contact-us .header strong {
  display: none !important;
}

.pricing-container .ui.card .content:nth-child(3).contact-us .header {
  font-size: 50px;
  padding-top: 10px;
}
