@import '../../../../design-system/new-colors';

.orderSummaryWrapper {
  margin-top: 18px;
  background: $orange_10;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  height: 90px;
}

.orderName {
  display: flex;
  height: 100%;
  align-items: center;
  color: $black_0;
  font-size: 14px;
  font-weight: $fontweight_semibold;

  span {
    margin-right: 30%;
    height: max-content;
    transform: rotate(-90deg);
    color: $grey_8;
  }
}

.statWrapper {
  border-left: 1px solid $grey_3;
  min-width: 112px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.stat {
  margin-top: 20px;
  font-size: 14px;
  color: $black_1;
  font-weight: $fontweight_semibold;
  display: flex;

  &__small {
    font-size: 12px;
    margin-top: 0;
  }

  &__double {
    margin-top: 0;
  }

  svg {
    cursor: pointer;
  }
}

.date {
  height: 0;
  font-size: 12px;
  font-weight: $fontweight_semibold;
  color: $sellgo_purple;
}

.statHeader {
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: $fontweight_medium;
  color: $grey_8;
  margin-top: 15px;
}
