.checkbox-filters-list::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.column-range-filter {
  width: 289px;
  padding: 34px;
  min-height: 221px;
  border-radius: 20px;
  box-shadow: 3px 3px 6px #0000004b;
  box-shadow: 10px 10px 19px 1px rgba(0, 0, 0, 0.14);
  padding-bottom: 20px;

  .ui {
    &.radio {
      margin: 5px 0;

      input:checked ~ .box::before,
      input:checked ~ label::before {
        background-color: #fff !important;
        border: 1px solid #d4d4d5;
      }

      input:checked ~ .box::after,
      input:checked ~ label::after {
        background-color: #349af8 !important;
      }
    }

    &.checkbox {
      margin: 5px 0;

      label {
        color: #3b4557;
        font-size: 14px;
        display: unset !important;
        cursor: pointer;
      }

      &.select-all {
        font-weight: 500;
      }

      input:checked ~ .box::before,
      input:checked ~ label::before {
        background-color: #349af8;
        border: 1px solid #d4d4d5;
      }

      input:checked ~ .box::after,
      input:checked ~ label::after {
        color: #fff;
      }
    }
  }

  .filter-label {
    line-height: 0;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    color: #3b4557;
  }

  .reset-filters {
    margin-bottom: 10px;
    color: #5381db;
    cursor: pointer;
    font-weight: 500;
    width: 60px;
  }

  .checkbox-filters-list {
    max-height: 350px;
    overflow-y: hidden;

    .field {
      margin-bottom: 5px !important;
    }

    .checkbox-filter {
      > label {
        color: #3b4557;
        font-size: 15px;
        white-space: nowrap;
        width: 214px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .range-content {
    .min-max-content {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      .min-wrapper {
        width: 85px;

        .ui.input {
          > input {
            height: 30px;
            width: 80px;
          }
        }
      }

      .max-wrapper {
        width: 85px;

        .ui.input {
          > input {
            height: 30px;
            width: 80px;
          }
        }
      }
    }
  }

  .button-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    button {
      width: 100px;
      height: 25px;
      border-radius: 100px !important;
      padding: 2px;
    }

    .apply-filter-btn {
      border: 1px solid #349af8;
      color: #349af8 !important;
      font-weight: 700;
      box-shadow: none;
      outline: none !important;
      font-family: inherit;

      &:hover {
        color: #349af8 !important;
        box-shadow: none;
      }
    }

    .cancel-filter-btn {
      border: 1px solid #98aeca;
      color: #98aeca !important;
      font-weight: 700;
      box-shadow: none;
      font-family: inherit;
      outline: none !important;

      &:hover {
        color: #98aeca !important;
        box-shadow: none;
      }
    }
  }

  .ui.dimmer.ltr-filter-popup.curved {
    border-radius: 20px;
  }

  &.lg {
    width: 700px;
    overflow: hidden;
    padding: 30px 20px;

    .ui.form {
      .select-all,
      .field {
        min-width: 240px;
        max-width: 289px;
        display: inline-block;
        margin-right: 50px;
        margin-bottom: 5px;
      }

      .checkbox-filter label {
        font-size: 14px;
      }
    }
  }
}

.column-range-filter:hover {
  .checkbox-filters-list {
    overflow-y: auto !important;
  }
}
