@import '../../design-system/colors.scss';

.checkbox-filters-list::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.column-range-filter {
  width: 289px;
  padding: 34px;
  min-height: 221px;
  border-radius: 7px;
  box-shadow: 3px 3px 6px #0000004b;
  box-shadow: 10px 10px 19px 1px rgba(0, 0, 0, 0.14);
  padding-bottom: 20px;

  .filter-label {
    line-height: 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    color: #3b4557;
  }

  .reset-filters {
    margin-bottom: 10px;
    color: $blue_8;
    cursor: pointer;
    font-weight: 500;
    width: 60px;
    font-size: 10px;
  }

  .checkbox-filters-list {
    max-height: 350px;
    overflow-y: hidden;

    .checkbox-filter {
      > label {
        color: $table-title-text-color !important;
        font-size: 12px;
        white-space: nowrap;
        width: 214px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .range-content {
    .min-max-content {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      .max-wrapper,
      .max-wrapper {
        width: 85px;

        .ui.input {
          /* stylelint-disable no-descending-specificty */
          > input {
            height: 30px;
            width: 80px;
            color: #757575 !important;

            &::placeholder {
              color: #dededf !important;
            }

            &:focus {
              color: $table-title-text-color !important;
              font-weight: 400 !important;
            }
          }
        }
      }
    }
  }

  .button-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    button {
      width: 100px;
      height: 25px;
      border-radius: 5px !important;
      padding: 2px;
    }

    .apply-filter-btn {
      border: 1px solid $accent_orange;
      color: $accent_orange !important;
      font-weight: 500;
      box-shadow: none;
      outline: none !important;
      font-family: inherit;

      &:hover {
        color: #fff !important;
        box-shadow: none;
        background: $accent_orange !important;
        font-weight: 600;
      }
    }

    .cancel-filter-btn {
      border: 1px solid #dededf;
      color: #dededf !important;
      font-weight: 500;
      box-shadow: none;
      font-family: inherit;
      outline: none !important;

      &:hover {
        color: #757575 !important;
        border: 1px solid #757575;
        box-shadow: none;
        font-weight: 600;
      }
    }
  }

  .ui.dimmer.ltr-filter-popup.curved {
    border-radius: 20px;
  }
}

.column-range-filter:hover {
  .checkbox-filters-list {
    overflow-y: auto !important;
  }
}
