@import '../../../../../design-system/new-colors';

.createOrderBox {
  min-width: 0 !important;
  padding: 30px;
  background: $grey_0;
  border-radius: 7px;

  h2 {
    line-height: normal;
    font-size: 14px;
    font-weight: $fontweight_semibold;
    color: $black_1;
  }
}

.assignProductsField {
  > div {
    width: 500px !important;
    height: 40px !important;
  }
}

.buttonsRow {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;

  > div {
    display: flex;
  }
}
