@import '../../../design-system/new-colors.scss';

.exportButtonContainer {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $grey_8 !important;
  margin-right: 10px;
}

.exportLabel {
  color: $grey_8 !important;
  position: relative;
}

.exportPopup {
  padding: 0 !important;

  &::before {
    display: none;
  }
}

.caretDownIcon,
.downloadIcon {
  color: $grey_8 !important;
}

.youtubeLogo {
  fill: $youtube-red !important;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 9999;
  cursor: pointer;
}

.infoCircle {
  position: absolute;
  color: $grey_6 !important;
  top: -7px;
  right: -12px;
  font-size: 10px !important;
}
