.bottom-scrollbar {
  height: max-content;
  max-width: 80%;
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  bottom: 40px;
  display: flex;

  .bottom-cell {
    height: 10px !important;
  }

  .ptr-scrollbar {
    max-width: 290px;
  }

  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .ptr-scrollbar {
      max-width: 290px !important;
    }

    .default-column {
      min-width: 127px !important;
    }
  }

  @media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .ptr-scrollbar {
      max-width: 290px !important;
    }

    .default-column {
      min-width: 124px !important;
    }
  }

  @media only screen and (min-width: 1366px) and (max-width: 1441px) {
    .ptr-scrollbar {
      max-width: 630px !important;
    }

    .default-column {
      min-width: 122px !important;
    }
  }

  @media only screen and (min-width: 1440px) and (max-width: 1681px) {
    .ptr-scrollbar {
      min-width: 116px !important;
    }
  }

  @media only screen and (min-width: 1536px) {
    .ptr-scrollbar {
      min-width: 114px !important;
    }
  }

  @media only screen and (min-width: 1920px) and (max-width: 2559px) {
    .ptr-scrollbar {
      min-width: 110px !important;
    }
  }

  @media only screen and(min-width: 900px) and (max-width: 1450px) {
    .bottom-cell {
      min-width: 90px !important;
    }
  }
}

.bottom-scrollbar-visible {
  overflow-x: auto;
  margin-left: 12%;
}

.bottom-scrollbar::-webkit-scrollbar-track {
  border-radius: 5px;
}

.bottom-scrollbar:hover {
  overflow-x: auto;
  margin-left: 12%;
}

@media only screen and (min-width: 1320px) {
  .pf-table tfoot .bottom-scrollbar {
    .bottom-cell {
      min-width: 109px !important;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .pf-table tfoot .bottom-scrollbar {
    .bottom-cell {
      min-width: 112px !important;
    }
  }
}
