.min-max-input {
  .min-max-input-title {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;

    p {
      font-size: 16px;
    }

    .icon.question.circle:before {
      line-height: 1;
      font-size: 13px;
      padding-left: 10px;
      color: #98aeca;
    }
  }

  .input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .ui.input > input {
      background: transparent;
      border: 1px solid #dfe8f3;
      font-size: 14px;
      color: #98aeca;
      padding: 4px 10px;
      min-height: 10px;
      font-weight: normal;
      box-shadow: 0 1px 1px #ccc;
      width: 115px;
      text-align: center;
    }

    .ui.input > input::-webkit-input-placeholder {
      color: #98aeca;
    }

    .ui.input > input:-ms-input-placeholder {
      color: #98aeca;
    }

    .ui.input > input::placeholder {
      color: #98aeca;
    }
  }
}
