@import '../../../../../design-system/new-colors';

.createOrderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.createOrderBox {
  min-width: 0 !important;
  padding: 30px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    line-height: normal;
    font-size: 24px;
    font-weight: $fontweight_bold;
    color: $black_1;
  }
}

.inputField {
  margin-top: 18px;
}

.leadTimeBar {
  margin-top: 18px;
}

.buttonsRow {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;

  > div {
    margin-left: 18px;
  }
}
