/* Colors */
$sellgo-blue: #349af8;
$sellgo-light-gray: #98aeca;

/* Typography */
$text-color: #757575;

/* Icon Styles */
$icon-color: #a2a2a2;
$icon-hover-color: #757575;

/* Buttons */
$toggle-btn-background: #dededf;
$search-btn-border: #a2a2a2;

/* Search */
$search-icon-background: #e6e6e6;

/* Table */
$table-header-label: 12px;
$sort-icon-size: 14px;

$dropdown-hover: #f8faff;

$inactive-label: #e6e6e6;
$checkbox-border: #dededf;
