/* Primary Colors */
$prim_dark_1: #3b4557;
$prim_dark_2: #2e3b4a;
$prim_white: #fff;
$prim_black: #000;

/* Secondary Colors */
$second_grey: #808080;
$second_gainsboro: #dcdcdc;
$second_lightgrey: #d3d3d3;
$second_silver: #c0c0c0;
$second_darkgrey: #a9a9a9;
$second_lightslategrey: #789;
$second_slategrey: #708090;
$second_dimgrey: #696969;

/* Grey Color Scales  */
$grey_0: #f9f9fa;
$grey_1: #ebeef0;
$grey_2: #dde1e5;
$grey_3: #ced4d9;
$grey_4: #bdc5cc;
$grey_5: #aab4bd;
$grey_6: #95a1ac;
$grey_7: #7e8b96;
$grey_8: #636d76;
$grey_9: #3a4045;
$grey_10: #f7f7f7;
$grey_11: #f3f3f3;

/* Blue Colors Scale */
$blue_0: #f5faff;
$blue_1: #dff0fe;
$blue_2: #c8e4fd;
$blue_3: #aed8fc;
$blue_4: #90cafb;
$blue_5: #6eb9fa;
$blue_6: #45a5f9;
$blue_7: #2f8ddf; //show on cta hover
$blue_8: #256fb0; // default CTA
$blue_9: #164268;

/* Orange Color Scales */
$orange_0: #fff8f3;
$orange_1: #feead9;
$orange_2: #fddbbd;
$orange_3: #fcc99e;
$orange_4: #fab57a;
$orange_5: #f99e4e;
$orange_6: #ea8731; // default CTA
$orange_7: #c9742a;
$orange_8: #9f5b21;
$orange_9: #5d3614;
$orange_10: #f2efe4;

/* Black Color Scales */
$black_0: #323232;
$black_1: #1e1e1e;

/* Systems and Accents */
$accent_blue: #349af8;
$accent_orange: #fc7900; //show on cta hover
$system_orange: #f4aa74;
$system_red: #eb675e;
$system_green: #5dc560;
$system_blue: #5381db;
$system_cream: #fff2ee;

/* Backgrounds */
$light_gray_background: #f7f7f7;

/* Font Colors */
$fontcolor_prim_dark_1: $prim_dark_1;
$fontcolor_prim_dark_2: $prim_dark_2;
$fontcolor_white: $prim_white;
$fontcolor_black: $prim_black;

/* Lines Colors */
$linecolor_grey: $second_grey;
$linecolor_gainsboro: $second_gainsboro;
$linecolor_lightgrey: $second_lightgrey;
$linecolor_silver: $second_silver;
$linecolor_darkgrey: $second_darkgrey;
$linecolor_lightslategrey: $second_lightslategrey;
$linecolor_slategrey: $second_slategrey;
$linecolor_dimgrey: $second_dimgrey;

/* Border Color */
$border-color-1: #707070;

/* Font size scale */
$fontsize_title_54: 54px;
$fontsize_title_46: 46px;

$fontsize_subtitle_40: 40px;
$fontsize_subtitle_38: 38px;
$fontsize_subtitle_32: 32px;
$fontsize_subtitle_28: 28px;
$fontsize_subtitle_24: 24px;
$fontsize_subtitle_20: 20px;

$fontsize_content_18: 18px;
$fontsize_content_16: 16px;
$fontsize_content_14: 14px;
$fontsize_content_12: 12px;
$fontsize_content_10: 10px;

/* Font Weight Scale */
$fontweight_light: 300;
$fontweight_regular: 400;
$fontweight_medium: 500;
$fontweight_semibold: 600;
$fontweight_bold: 700;
$fontweight_extrabold: 800;

/* Font Decoration Scales */
$fontdecoration_underlin: underline;
$fontdecoration_italic: italic;

/* Line Heights */
$fontlineheight_heading_70: 70px;

$fontlineheight_content_30: 30px;
$fontlineheight_content_20: 20px;

/* Special colors */
$youtube-red: #f00;
$active-color: #f2efe4;

/* Gradient colors */
$orange_dark_gradient: linear-gradient(90deg, #fc7900, #7e3d00);
$orange_purple_gradient: linear-gradient(90deg, #fb7900, #b318f1);
$purple_pink_gradient: linear-gradient(90deg, #b318f1, #ff61df);
$sellgo_neon_green: #3cf7af;
