@import '../../design-system/new-colors';

.marketPlaceDropdownTrigger {
  display: flex;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  span {
    font-size: 14px !important;
  }
}

.ui.dropdown.marketPlaceDropdown {
  color: $grey_8 !important;
  border: 1px solid $grey_3 !important;
  max-height: 35px !important;
  min-height: 35px !important;
  min-width: 250px !important;
  font-size: 14px;
  font-weight: 400 !important;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px !important;
  border-radius: 4px !important;
  background: #fff !important;

  .menu.transition {
    border: 1px solid $grey_3 !important;
    width: 100% !important;
    font-size: 12px !important;
    max-height: 250px !important;

    .item {
      display: flex;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
      }

      span {
        font-size: 14px !important;
      }
    }
  }
}
