version: 2.1
orbs:
  aws-cli: circleci/aws-cli@0.1.15
  aws-s3: circleci/aws-s3@1.0.0
jobs:
  build-prod:
    docker:
      - image: cimg/node:12.13.0
    steps:
      - checkout
      - run:
          name: install-npm
          command: npm install
      - run:
          name: build
          command: CI=false REACT_APP_ENV=production npm run build
      - persist_to_workspace:
          root: build
          paths: .
    # The resource_class feature allows configuring CPU and RAM resources for each job. Different resource classes are available for different executors. https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large
  build-dev:
    docker:
      - image: cimg/node:12.13.0
    steps:
      - checkout
      - run:
          name: install-npm
          command: npm install
      - run:
          name: build
          command: CI=false REACT_APP_ENV=development npm run build
      - persist_to_workspace:
          root: build
          paths: .
  deploy:
    machine:
      enabled: true
    steps:
      - attach_workspace:
          at: build
      - aws-cli/install
      - aws-s3/sync:
          from: build
          to: 's3://${WEBAPP_AWS_S3_BUCKET_NAME}'
          overwrite: true
      - run:
          name: Invalidate Cloudfront cache
          command: aws cloudfront create-invalidation --distribution-id ${WEBAPP_AWS_CLOUDFRONT_DISTRIBUTION_ID} --paths "/*"
  run-lint:
    docker:
      - image: cimg/node:12.13.0
    steps:
      - checkout
      - run:
          name: install-npm
          command: npm install
      - run:
          name: run-lint
          command: npm run lint
  run-test:
    docker:
      - image: cimg/node:12.13.0
    steps:
      - checkout
      - run:
          name: install-npm
          command: npm install
      - run:
          name: run-test
          command: CI=true npm run test

workflows:
  version: 2
  run-lint:
    jobs:
      - run-lint
  run-test:
    jobs:
      - run-test
  build-and-deploy-prod:
    jobs:
      - build-prod:
          filters:
            branches:
              only: master
      - deploy:
          context: production
          requires:
            - build-prod
          filters:
            branches:
              only: master
  build-and-deploy-dev:
    jobs:
      - build-dev:
          filters:
            branches:
              only: develop
      - deploy:
          context: development
          requires:
            - build-dev
          filters:
            branches:
              only: develop
