@import '../../../../design-system/new-colors';

.exportsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 8px;

  .messageText {
    font-size: 14px;
    color: $prim_dark_1 !important;
    margin: 0;
    font-weight: normal;
    line-height: 1;
  }

  .sellerCount {
    font-weight: 500;
  }
}

.exportButton {
  margin-left: auto;
}
