@import '../../../../design-system/new-colors.scss';

.databaseSummarySection {
  margin-top: 40px;
  background: $grey_10;
  box-shadow: 0 3px 6px #00000029;
  border: 1px solid $grey_3;
  border-radius: 7px;
  height: max-content !important;
  user-select: none;
}

.summaryWrapper {
  padding: 30px;
  display: flex;
}

/* Generic Icon Circle Classes */
.greenCircle {
  width: 10px;
  height: 10px;
  background: $system_green;
  border-radius: 50%;
}
