.signup-container {
  $font-fam: 'Work Sans', sans-serif !important;
  $font-black: #3b4557;
  $font-blue: #349af8;
  $font-grey: #98aeca;
  $font-red: #eb675e;

  &__steps-content {
    display: flex;
    justify-content: center;
    align-items: center;

    &__register {
      margin-right: -20px;

      &__icon i {
        font-size: 15px !important;
      }
    }

    &__payment {
      margin-left: -23px;

      &__icon i {
        font-size: 11px !important;
      }
    }

    &__register,
    &__payment {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $font-grey;

      &__icon {
        border-radius: 50%;
        border: 1px solid $font-grey;
        height: 40px;
        width: 40px;
        justify-content: center;
        display: flex;
        align-items: center;

        i {
          margin: 0;
          padding: 0;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &.active {
        color: $font-blue;
      }

      &.active &__icon {
        border: 2px solid $font-blue !important;
      }
    }

    .ui.divider {
      width: 140px;
      position: relative;
      top: 12px;
    }
  }

  &.container {
    box-shadow: 0 3px 20px #00000029;
    border: 1px solid $font-grey;
    border-radius: 8px;
    margin: 0 !important;
    width: 1157px !important;
    height: 721px;
    background: #fff;
    padding: 33px 26px 29px 26px !important;
    font-family: $font-fam;

    &.text {
      max-width: unset !important;
    }

    h3 {
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 0;
      color: $font-black;
      margin-bottom: 20px !important;
    }

    .signup-container__form {
      &__fullname-group {
        .field {
          width: 50% !important;
        }
      }

      &__consent {
        color: #3b4557;
        font-size: 15px;
        text-align: center;

        span {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      &.ui.form {
        .field {
          &.huge {
            width: 100%;
          }

          .eye.icon {
            opacity: 1;
            cursor: pointer;
            pointer-events: unset !important;
          }

          label {
            color: $font-black;
            font-size: 19px;
            font-weight: 700;
          }

          label::after {
            display: none !important;
          }

          .input {
            font-size: 21px;

            input {
              background: #fff 0% 0% no-repeat padding-box !important;
              border: 1px solid #98aeca !important;
              border-radius: 4px !important;
              box-shadow: 0 0 0 100px #fff inset !important;
              font-family: $font-fam !important;
            }
          }
        }
      }

      input[type='text'] {
        border: 1px solid #98aeca !important;
        box-shadow: unset !important;
      }

      input::placeholder {
        color: #98aeca !important;
      }

      &__error {
        color: $font-red;
        font-size: 20px;
        text-align: center;
        min-height: 30px;
      }

      &__signup {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0 35px;

        button {
          background-color: $font-blue !important;
          font-size: 18px !important;
          font-weight: bold;
          width: 267px;
          height: 56px;
        }
      }

      &__sign-up {
        color: $font-black;
        font-size: 20px !important;
        font-weight: 600;
        text-align: center;
        margin: 15px 0 !important;

        span {
          text-decoration: underline;
          cursor: pointer;
          color: $font-blue;
          font-weight: 500;
          margin: 0 5px;
        }
      }

      .ui.divider {
        margin: 0 !important;
        height: 1px !important;
        background: #98aeca;
        border: unset;
      }
    }
  }
}

@media screen and (max-width: 1680px) {
  .signup-container {
    &.container {
      width: 100% !important;

      h3 {
        font-size: 24px;
        line-height: 0.8;
      }

      .signup-container__form {
        &__signup {
          margin: 15px 0 20px 0 !important;
        }

        &.ui.form {
          label {
            font-size: 17px;
          }

          .input {
            font-size: 18px !important;
          }
        }
      }
    }
  }
}
