@import '../../../design-system/new-colors.scss';

.sellerMapsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  // min-height: 100vh;
  margin-top: 3rem;
  padding-bottom: 4rem !important;
  position: relative;
  overflow-y: none !important;
}

/* Main map container */
.mapContainer {
  border: 1px solid $grey_3;
  border-radius: 7px;
  flex: 1;
  min-width: 45vw;
  position: relative;
  z-index: 90 !important;
  margin: 0 20px;
  min-height: calc(100vh - 15rem);
  overflow-x: hidden;
}

.map {
  /* The width is increased at the first render, so that upon resizing, the map will still show */
  width: calc(45vw + 400px);
  z-index: 90 !important;
  min-height: calc(100vh - 15rem);
}

.sellerMapLoader {
  padding-right: 400px;
  background: #fff;
  z-index: 99999 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  margin: 0 !important;
  min-height: 90vh;

  &__loader__small {
    /* Adjusting loader to fit the size of the map */
    left: calc(50% - 200px) !important;
  }
}

.sellerMapSellerList {
  min-width: 20%;
  height: 100%;
  max-height: 90vh;
  overflow: auto;
}

.toggleShowFiltersButton {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  background: $sellgo_neon_green;
  position: absolute;
  z-index: 300 !important;
  left: 340px;
  top: 30px;

  &__closed {
    left: 10px;

    img {
      transform: rotate(180deg);
    }
  }
}
