.synthesis-supplier-filters {
  .products-count {
    color: 'black';
    font-size: 18px;
    margin-left: 0;
    font-weight: bold;
  }

  // NOT USED CURRENTLY
  // For option that has no range slider
  // Just a checkbox like "Show Price History"
  // We could make this a subcomponent TitleWithCheck that
  // gets used inside the RangeSlider component or on its own
  .custom-check {
    width: 100%;
    margin-bottom: 21px;

    .ui.checkbox label {
      font-size: 16px;
    }
  }
}
