/* TODO: Merge with index.scss, as this original style is still needed */

.min-max {
  text-align: center;
  border: 1px solid rgb(66, 133, 244);
  border-radius: 6px;
}
.popup-loader {
  color: #000 !important;
}
.popup-loader::after {
  border-color: #000000 transparent transparent !important;
}

.ui.basic.table th {
  border-left: none !important;
}

.ui.basic.table {
  margin-top: 0px !important;
}
