@import '../../../design-system/new-colors.scss';

.editValueCellWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 12px;
    color: $grey_8 !important;
    font-weight: $fontweight_regular;
  }
}

.inputField {
  min-width: 0;

  &__small {
    height: 25px !important;

    input {
      height: 25px !important;
    }
  }

  input {
    width: 100%;
    font-size: 12px;
    color: $grey_8 !important;
    font-weight: $fontweight_semibold;
    text-align: center !important;
  }
}
