@import '../../../../design-system/new-colors';

.filterWrapper {
  width: 20vw;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  grid-row-gap: 18px;
  align-content: flex-start;
}

.longFilter {
  min-width: 100% !important;
  margin-bottom: 18px;
}
