@import '../../../../design-system/new-colors';

.filterWrapper {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  grid-row-gap: 18px;
  align-content: flex-start;
  height: calc(85vh - 4.5rem) !important;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 10rem !important;
  min-width: 330px;
  position: relative;

  &__closed {
    position: static;
    min-width: 0;
    width: 0;
  }
}

.filterPeriod {
  p {
    opacity: 0 !important;
  }
}

.groupFilters {
  display: flex;
  align-items: flex-end;
}

.reviewGroupedFilter {
  .groupFilters {
    margin-top: 10px;
  }
}

.filtersSubmit {
  width: 100% !important;
  display: flex !important;
  justify-content: space-evenly !important;

  button {
    width: max-content !important;
    margin: 0 !important;
  }
}
