@import '../../../../design-system/new-colors';

.filterWrapper {
  width: 350px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  grid-row-gap: 18px;
  align-content: flex-start;
}

.filterPeriod {
  p {
    opacity: 0 !important;
  }
}

.groupFilters {
  display: flex;
  align-items: flex-start;
}

.reviewGroupedFilter {
  .groupFilters {
    margin-top: 10px;
  }
}

.filtersSubmit {
  width: 100% !important;
  display: flex !important;
  justify-content: space-evenly !important;

  button {
    width: max-content !important;
    margin: 0 !important;
  }
}
