.middle-scroll-layout {
  .fixed-th-first {
    position: sticky;
    z-index: 10;
    border: none !important;
    left: 0;

    .table-header {
      top: 0 !important;
      left: 0 !important;
      border: none !important;
    }
  }

  .fixed-th-last {
    position: sticky;
    z-index: 10;
    right: 0;
    border: none !important;

    .table-header {
      top: 0 !important;
      right: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-left: 0 !important;
      border-top-left-radius: 0 !important;
    }
  }
}
