@import '../../design-system/colors';

.profitability-preset {
  border: none !important;
  box-shadow: unset !important;
  background: white;
  color: $text-color !important;
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  margin: 0 5px 5px 5px !important;

  .btn {
    color: $text-color !important;
    border: 1px solid $sellgo-light-gray !important;
    box-shadow: unset !important;
    border-top-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
    border-right: 0 !important;
    font-weight: 600 !important;
    padding: 0 10px 0 15px;
    height: 32px !important;

    &:hover {
      background-color: #e6e6e6 !important;
    }
  }

  .ui.dropdown {
    color: $text-color !important;
    border: 1px solid $sellgo-light-gray !important;
    box-shadow: unset !important;
    border-left: none !important;
    border-top-right-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 600 !important;
    padding: 10px 5px;
    height: 32px;

    .menu {
      padding: 15px 0;
      border-radius: 15px !important;
      width: 204px;

      .item {
        color: $text-color;
        font-family: 'Work Sans', sans-serif;
      }

      .item:hover {
        background-color: $dropdown-hover !important;
      }
    }

    .angle.down {
      margin: 0 0.1em 0 -0.114286em;
    }
  }

  &.basic {
    .btn {
      &.ui.button {
        color: $text-color !important;
      }
    }

    .ui.dropdown {
      color: $text-color !important;
      border-left-color: none !important;

      &::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        background: $sellgo-light-gray;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
      }

      &:hover::before {
        height: 100%;
        width: 1px;
      }
    }
  }

  &.blue {
    .btn {
      color: #fff !important;
      background-color: $sellgo-blue !important;
      border-right: 1px solid $sellgo-blue !important;
    }

    .ui.dropdown {
      color: #fff !important;
      background-color: $sellgo-blue !important;
    }
  }
}
