.edit-cost-modal {
  width: 32% !important;
  border-radius: 10px !important;

  .edit-cost-container {
    padding: 40px;

    .product-description-details {
      display: flex;

      .product-details-image {
        width: 75px;
        height: 75px;
        margin-right: 10px;
      }

      .product-title {
        color: #5381db;
      }

      .details {
        display: flex;
        align-items: center;
        margin-top: 5px;

        .asin-details {
          margin-left: 10px;

          .asin-text {
            margin: 0 !important;
            line-height: 0 !important;
            font-weight: 500;
          }

          .asin-sub-text {
            color: #3b4557;
            margin-top: 10px !important;
          }
        }
      }
    }
  }

  .edit-cost-fields {
    display: flex;

    .cost-labels {
      display: flex;
      flex-direction: column;

      .cost-input-label {
        color: #3b4557;
        margin-top: 10px;
      }

      .cost-input-value {
        color: #3b4557;
        margin-top: 35px;
      }
    }

    .cost-values {
      width: 64%;
      margin-left: 10px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .cost-value {
        margin-top: 10px;
      }

      .cost-input {
        margin-top: 10px;

        > .input {
          width: 98%;
        }
      }

      .action-buttons {
        display: flex;
        justify-content: space-between;

        > button {
          height: 32px !important;
          width: 160px;
          border-radius: 20px;
        }
      }
    }
  }
}
