.seller-inventory-charts {
  .seller-inventory-charts__title {
    font-size: 18px;
  }

  .seller-inventory-charts__time-series {
    display: inline-flex;
    width: 66%;
  }

  .seller-inventory-charts__pie-chart {
    display: inline-flex;
    width: 34%;
  }
}
