@import '../../../../../design-system/new-colors';

.searchTermContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 2px;
  height: 100% !important;
  margin-left: 4px !important;
  margin-bottom: 10px;
  width: 100%;
}

.searchTermWrapper {
  width: 100%;
}

.searchTerm {
  width: max-content;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: $grey_8 !important;

  &:hover {
    text-decoration-color: $grey_8 !important;
    font-weight: 600 !important;
  }
}

.asinWrapper {
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 2px;
}

.asin {
  margin-top: 3px;
  font-size: 10px !important;
  font-weight: 400 !important;
  color: $grey_8 !important;

  &:hover {
    text-decoration-color: $grey_8 !important;
    font-weight: 500 !important;
  }
}

.actionsRow {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
