@import '../../../../../design-system/new-colors';

.addTriggerButton {
  width: 90px;
  width: 200px;
  margin: 30px 40px;

  svg {
    width: 12px;
    height: 12px;
    margin-right: 10px;

    path {
      fill: $black_1 !important;
    }
  }

  &:hover {
    svg {
      path {
        fill: $prim_white !important;
      }
    }
  }
}
