@import '../../design-system/new-colors.scss';

/* stylelint-disable */

/* Hide the default sort icons */
.rs-table-cell-header-sort-wrapper {
  display: none !important;
  visibility: none;
}

/* Customize the horizontal scrollbar */
.rs-table-scrollbar-pressed.rs-table-scrollbar-horizontal:hover,
.rs-table-scrollbar-horizontal:hover {
  transform: scaleY(1);
}

/* Customize the vertical scrollbar */
.rs-table-scrollbar-pressed.rs-table-scrollbar-vertical:hover,
.rs-table-scrollbar-vertical:hover {
  transform: scaleY(1);
}

/* Generic table header */
.rs-table-cell-header {
  .rs-table-cell-content {
    color: $prim_dark_2;
    font-weight: 600;
    font-size: 14px !important;
  }
}

.rs-table-row {
  border-bottom: none;
}

/* Customise the default pagination */
.rs-table-pagination-toolbar {
  justify-content: flex-end;
  padding: 10px 40px;
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 9, 0.25);
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 9999999 !important;
}

.rs-table-row-header {
  border: 1px solid $grey_3;
  border-radius: 7px;
}

// body section
.rs-table-body-row-wrapper {
  .rs-table-body-wheel-area {
    background: #fff;
    // should be rowheight - 10px
    .rs-table-row {
      // height: 190px !important; //
      border: 1px solid $grey_3;
      border-radius: 7px;

      &:nth-child(2n) {
        background-color: #fff !important;

        .rs-table-cell-content {
          color: $prim_dark_2 !important;
          background-color: #fff !important;
        }
      }

      &:nth-child(2n + 1) {
        background-color: rgba($grey_3, 0.2) !important;

        .rs-table-cell-content {
          color: $prim_dark_2 !important;
          background-color: rgba($grey_3, 0.2) !important;
        }
      }
    }
  }
}
