@import '../../../../../design-system/new-colors';

.statsCell {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.statIcon {
  margin: 18px 0;
  width: 10px;
  height: 10px;
}

.stat {
  font-size: 24px;
  font-weight: $fontweight_bold;
}
