@import '../../../../styles/tableReset';

#newSellerDatabaseTable {
  // header section
  .rs-table-row-header {
    border-radius: 7px;
  }

  // body section
  .rs-table-body-row-wrapper {
    .rs-table-body-wheel-area {
      background: #fff;
      // should be rowheight - 10px
      .rs-table-row {
        height: 190px !important;
        border: 1px solid $grey_3;
        border-radius: 7px;
        background: rgba($grey_3, 0.2) !important;

        .rs-table-cell-content {
          background: rgba($grey_3, 0.2) !important;
          color: $prim_dark_2 !important;
        }
      }
    }
  }

  // scrollbar
  div[role='scrollbar'] {
    bottom: 60px !important;
    background: $grey_3;
    border-radius: 4px;
    position: fixed !important;
    opacity: 0;
    height: 10px;
    max-width: 90vw !important;
    margin-left: auto !important;

    &.rs-table-scrollbar.rs-table-scrollbar-pressed {
      opacity: 1 !important;
    }

    &:hover {
      opacity: 1;
    }

    > .rs-table-scrollbar-handle {
      background-color: #98aeca !important;
      opacity: 1 !important;
      height: 8px;
      max-width: 100% !important;
    }
  }
}
