@import '../../../../design-system/new-colors';

.sellerDatbaseTableWrapper {
  margin-top: 50px;
  padding-bottom: 20px !important;
}

.sellerInformation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sellerInformationRight {
  h2 {
    font-size: 16px;
    color: $prim_dark_2;
    margin: 0;
    font-weight: 600;
  }
}
