@import '../../../../design-system/new-colors.scss';
@import '../../../../styles/modalReset.scss';

/* Main wrapper */
.reverseAsinDisplay {
  padding: 18px 0;

  > h2 {
    color: $grey_8;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
  }
}

/* Asin cards wrapper */
.reverseAsinCardsWrapper {
  margin: 8px 0;
  display: flex;
  justify-content: flex-start;
}

.singleCardWrapper {
  width: 100px;
  height: 240px;
  border-radius: 5px;
  padding: 2px;
  background: $orange_purple_gradient;
}

/* Add asin trigger */
.addAsinCard {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  margin-right: 10px;
  color: $black_1 !important;
  font-size: 12px;
  font-weight: 500;

  span {
    font-size: 40px;
  }

  &:hover {
    background: none;
    color: #fff !important;

    svg {
      path {
        fill: #fff !important;
      }
    }
  }
}

.overflowWrapper {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  overflow-x: auto;

  /* width */
  &::-webkit-scrollbar {
    height: 5px !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: $grey_1 !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $grey_6 !important;
    border-radius: 3px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $grey_6 !important;
  }
}

/* Modal reset */
.addBulkAsinsModal {
  @include resetGloablModals;

  border-radius: 7px !important;
}

/* Changing ASIn refernce popup */
.changeAsinReferencePopup {
  padding: 0 !important;
  z-index: 99999999 !important;

  &::before {
    display: none;
  }
}

.changeAsinMessage {
  background: #fff;
  padding: 0 !important;

  button {
    background: #fff;
    color: $grey_8 !important;
    border: 0;
    outline: 0;
    width: 100%;
    font-weight: 500 !important;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    &:hover {
      background: $grey_1 !important;
      font-weight: 600 !important;
    }
  }
}
