@import '../design-system/new-colors';

/* stylelint-disable */

/* Hide the default sort icons */
.rs-table-cell-header-sort-wrapper {
  display: none !important;
  visibility: none;
}

/* Customize the horizontal scrollbar */
.rs-table-scrollbar-pressed.rs-table-scrollbar-horizontal:hover,
.rs-table-scrollbar-horizontal:hover {
  transform: none !important;
  background: $grey_3 !important;
}

/* Customize the vertical scrollbar */
.rs-table-scrollbar-pressed.rs-table-scrollbar-vertical:hover,
.rs-table-scrollbar-vertical:hover {
  transform: none !important;
  background: $grey_3 !important;
}
