@import '../design-system/new-colors';

/* stylelint-disable */

/* Hide the default sort icons */
.rs-table-cell-header-sort-wrapper {
  display: none !important;
  visibility: none;
}

/* Customize the horizontal scrollbar */
.rs-table-scrollbar-pressed.rs-table-scrollbar-horizontal:hover,
.rs-table-scrollbar-horizontal:hover {
  transform: none !important;
  background: $grey_3 !important;
}

/* Customize the vertical scrollbar */
.rs-table-scrollbar-pressed.rs-table-scrollbar-vertical:hover,
.rs-table-scrollbar-vertical:hover {
  transform: none !important;
  background: $grey_3 !important;
}

/* General Scroll bar handle color */
div.rs-table-scrollbar-handle {
  color: red !important;
  position: relative !important;
  bottom: 15px;
}

/* Generic table header */
.rs-table-cell-header {
  .rs-table-cell-content {
    color: $prim_dark_2;
    font-weight: 600;
    font-size: 14px !important;
  }
}
