body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-display: optional;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 767px) and (min-width: 310px) {
  .bgColor .ui.grid > .row > .column {
    width: 100% !important;
    padding: 0;
    margin-bottom: 15px;
  }
  .ui .closeIcon i.close {
    top: 0 !important;
    right: 0px !important;
  }
  .closeIcon i:before {
    font-size: 10px !important;
  }
  .ui.selection.dropdown.timezoneField .menu {
    width: 194px !important;
  }
  .seller-info {
    padding: 0px !important;
  }
  .btns-wrap button {
    margin-bottom: 10px !important;
  }
}
