
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', serif;
  font-weight:400;
  font-display: optional;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

