@import '../../../../../design-system/new-colors';

.createOrderBox {
  min-width: 0 !important;
  padding: 30px;
  background: $grey_1;
  border-radius: 7px;

  h2 {
    line-height: normal;
    font-size: 14px;
    font-weight: $fontweight_semibold;
    color: $black_1;
  }
}

.buttonsRow {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 30px;
}
