@import '../../../design-system/colors';

.tracker-table .bottom-img img {
  margin-left: 1rem;
}

.table-cell-container {
  .icon {
    display: none;
  }
}

.untrack-popup {
  padding: 1.33em 1.33em 0.33em 0.9em;

  .untrack-span {
    a {
      color: #000 !important;
    }
  }

  .ui.divider {
    margin: 1.3rem 0 0.5rem;
  }

  button {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 500 !important;
    padding: 0.28571429em 0 0.58571429em !important;
  }

  a.item.amazon-link,
  a.item.untrack-link {
    width: 200px;
    display: flex !important;

    img {
      margin-right: 10px !important;
    }
  }

  a.item.amazon-link {
    color: $sellgo-blue !important;
  }

  a.edit-cost {
    display: flex !important;

    .icon {
      margin: 0 0.25rem 0 0 !important;
    }
  }
}

.ui.small.modal.transition.visible.active.confirmation-box {
  min-height: 4rem !important;
  width: max-content !important;
  box-shadow: none !important;
  border-radius: 10px;
  padding: 20px;

  h4.ui.icon.header {
    padding-top: 10px;
  }

  .ui.placeholder.segment {
    min-height: 8rem;
  }

  .sub.header {
    margin-top: 20px !important;
    color: #000 !important;
  }

  .ui.clearing.divider {
    width: 89%;
    margin: 20px auto;
  }

  button.ui.button {
    font-size: 1rem;
    border-radius: 20px;
    width: 140px;
    height: 30px;
    padding: 5px 15px;
  }

  button.ui.button:first-child {
    border: 2px solid #eb675e;
    background: none;
    color: #eb675e;
  }

  button.ui.button:last-child {
    border: 2px solid $sellgo-blue;
    background: none;
    color: $sellgo-blue;
  }

  button.ui.button:first-child:hover {
    background: #f8faff;
    color: #fff;
  }

  button.ui.button:last-child:hover {
    background: #f8faff;
    color: #fff;
  }

  .ui.placeholder.segment,
  .actions {
    border: 0 !important;
    background: none !important;
    box-shadow: none;
    padding: 0 !important;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media only screen and (min-width: 2560px) {
  $confirmation_wide_screen: 1.5;

  .ui.small.modal.transition.visible.active.confirmation-box {
    min-height: 4rem * $confirmation_wide_screen !important;
    width: 730px !important;
    border-radius: 10px * $confirmation_wide_screen;
    padding: 20px * $confirmation_wide_screen;

    button.ui.button {
      font-size: 1rem * $confirmation_wide_screen;
      border-radius: 20px * $confirmation_wide_screen;
      width: 140px * $confirmation_wide_screen;
      height: 30px * $confirmation_wide_screen;
      padding: 5px 15px * $confirmation_wide_screen;
    }

    h4.ui.icon.header {
      padding-top: 10px * $confirmation_wide_screen;
      font-size: 1.07142857rem * $confirmation_wide_screen;
    }

    .ui.placeholder.segment {
      min-height: 8rem * $confirmation_wide_screen;
    }

    .sub.header {
      margin-top: 20px * $confirmation_wide_screen !important;
      font-size: 1rem * $confirmation_wide_screen;
    }
  }
}

@media only screen and (max-width: 425px) {
  .ui.small.modal.transition.visible.active.confirmation-box {
    width: 80% !important;
  }
}

.tracker-table .add-product .ui.input > input {
  border: 1px solid $sellgo-light-gray !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 0 !important;
  border-right: none !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 0;
}

.create-group-modal {
  .header {
    border-bottom: none !important;
  }

  .ui.input {
    width: 100%;

    .ui.input > input {
      border: 1px solid $sellgo-light-gray;
    }
  }

  .cancel-btn {
    background: white;
    border: 1px solid $sellgo-light-gray;
    color: black;
    width: 134px;
  }

  .create-btn {
    background: $sellgo-blue;
    color: #fff;
    width: 134px;
  }
}

.dv-arrow span {
  top: 50px !important;
}

.ptr-row td:nth-child(2) {
  padding-left: 406px !important;
}

.tracker-table {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  margin-top: 18px;

  .add-product {
    display: flex;
    margin-top: 30px;

    .ui.input {
      border-right: 1px solid $sellgo-light-gray;
      width: 67%;
    }

    .ui.fluid.dropdown {
      border: 1px solid $sellgo-light-gray !important;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 10px;
      border-left: none !important;
      border-top-left-radius: 0;
      border-top-right-radius: 10px;
      width: 33%;
    }

    button {
      background: #fff;
      border: 1px solid $sellgo-blue;
      border-radius: 16px;
      color: $sellgo-blue;
      margin-left: 20px;
    }

    .add-drop {
      display: flex;

      @media screen and (min-width: 1025px) {
        width: 50%;
      }
    }
  }

  .tracker-menu {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none !important;

    .menu-bar {
      .ui.secondary.pointing.menu {
        border: none !important;
        width: max-content;
        overflow-x: auto;

        h4.ui.header {
          font-family: 'Work Sans', sans-serif !important;
          color: $text-color !important;
          font-size: 14px;
          font-weight: 600;
          line-height: 24px;
        }

        .item {
          border-bottom: 1px solid $sellgo-light-gray !important;
          margin-bottom: 0 !important;
        }

        .active.item {
          background-color: #fff;
          border: 1px solid;
          border-bottom: none !important;
          padding-bottom: 10px !important;
          margin-bottom: 0;
          border-color: $sellgo-light-gray !important;

          @media screen and (min-width: 1025px) {
            border-radius: 4px 4px 0 0;
          }

          h4.ui.header {
            color: $text-color !important;
          }
        }
      }
    }
  }

  h2 {
    color: $text-color;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 7px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    white-space: nowrap;
  }

  .dsp-flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .view-detail-btn {
    align-items: center;
    background-color: $sellgo-blue !important;
    border-radius: 18px !important;
    display: inline-flex !important;
    justify-content: center;
    padding: 10px 32px !important;
    width: 100%;

    i {
      margin-left: 10px !important;
      margin-right: 0 !important;
    }
  }

  .wrap-prod-information {
    display: flex;
    justify-content: space-between;
    margin-left: 11px;

    .img {
      margin-right: 10px;
    }

    .information {
      display: flex;
    }
  }

  .ui.label span {
    left: 8px;
    margin-right: 10px;
    position: absolute;
  }

  .bottom-img {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .track-btn {
    width: 119%;

    .track-wrap {
      align-items: center;
      background: #dee8f3;
      border: 1px solid #c8ccd2;
      display: flex !important;
      padding: 7px 12px;
      width: 100%;

      span {
        margin-left: 10px;
        margin-right: 8px;
      }
    }

    &.is-tracking {
      .track-wrap {
        background-color: #bad9ff;
      }
    }

    .ui.basic.label {
      border: 1px solid #c8ccd2 !important;
    }

    button {
      border-radius: 18px !important;
    }

    &.with-rating button {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;

      span {
        margin-right: 0;
      }
    }

    .btn-lbl {
      border-bottom-right-radius: 18px !important;
      border-top-right-radius: 18px !important;
      display: flex !important;
      flex-direction: column;
      justify-content: center !important;
      padding: 2px 7px !important;
      width: 54px !important;
    }
  }

  .ui.table {
    background: transparent;
    border: none;
    border-collapse: separate;
    border-spacing: 0 8px;
    // Needs horizontal padding so shadow
    // does not get cut off by .scroll-table overflow:auto
    // This value should be same as horizontal shadow on tr
    padding: 10px 0 0;
    width: 100%;
    margin: 0;

    .dv-arrow {
      position: absolute;
      width: 42%;
      display: flex;
      justify-content: center;

      span {
        float: left;
        height: 20px;
        position: relative;
        top: 60px !important;

        i {
          color: $icon-color !important;
          font-size: 1.6em !important;
          text-align: left;

          &:hover {
            text-align: left;
            transform: scale(1.1);
            transform-origin: top;
            color: $icon-hover-color !important;
          }
        }
      }
    }

    td {
      background: #fff;
      border-bottom: 1px solid rgba(34, 36, 38, 0.3);
      border-top: 1px solid rgba(34, 36, 38, 0.3);
      padding: 11px;
      text-align: center;
      vertical-align: middle;
      color: $text-color !important;
      font-size: 14px !important;

      &:first-child {
        border-bottom-left-radius: 0 !important;
        border-left: 1px solid rgba(34, 36, 38, 0.3);
        border-top-left-radius: 0 !important;
        width: 100px;
      }

      .amazon_oos_90 {
        min-width: 98.4px !important;

        .stat {
          display: flex;
          justify-content: space-around;
          line-height: 1.5em !important;

          .icon {
            cursor: pointer;
            color: $icon-color !important;
          }

          .icon:hover {
            cursor: pointer;
            color: $icon-hover-color !important;
          }
        }
      }

      .avg_price {
        min-width: 95px !important;

        .stat {
          text-align: left !important;
        }
      }

      .avg_profit {
        min-width: 95px !important;

        .stat {
          text-align: left;
        }
      }

      .avg_margin {
        min-width: 95px !important;

        .stat {
          text-align: left !important;
        }
      }

      .avg_daily_sales {
        min-width: 95px !important;

        .stat {
          text-align: left;
        }
      }

      .avg_daily_revenue {
        min-width: 95px !important;

        .stat {
          text-align: left !important;
        }
      }

      .avg_roi {
        min-width: 95px !important;

        .stat {
          text-align: left !important;
        }
      }

      .avg_rank {
        min-width: 95px !important;

        .stat {
          text-align: left !important;
        }
      }

      .weight {
        min-width: 95px !important;

        .stat {
          text-align: left;
        }
      }

      .customer_reviews {
        min-width: 95px !important;

        .stat {
          text-align: left !important;
        }
      }

      .rating {
        min-width: 95px !important;

        .stat {
          text-align: left !important;
        }
      }

      .avg_inventory {
        min-width: 95px !important;

        .stat {
          text-align: left !important;
        }
      }

      .avg_amazon_inventory {
        min-width: 108px !important;

        .stat {
          text-align: left !important;
        }
      }

      .is_amazon_selling {
        min-width: 95px !important;

        .stat {
          text-align: left !important;
        }
      }

      &:nth-child(2) {
        .stat {
          margin-right: 2px;
        }
      }

      &:last-child {
        border-bottom-right-radius: 10px;
        border-right: 1px solid rgba(34, 36, 38, 0.3);
        border-top-right-radius: 10px;
        vertical-align: middle;

        span {
          white-space: nowrap;
        }
      }

      .ui.checkbox input:checked ~ .box::after,
      .ui.checkbox input:checked ~ label::after {
        background: #fff !important;
        color: $text-color !important;
      }
    }

    a {
      color: $text-color !important;
      font-weight: 500;

      &:hover {
        color: $sellgo-blue;
        font-weight: 600;
      }
    }

    .product-tracker-description {
      display: flex;
      text-align: left;

      .product-image {
        width: 72px;
        padding: 0 5px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      .description-text {
        display: inline-block;
        margin-left: 12px;
        overflow: hidden !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 294px;

        a {
          h2 {
            color: $table-special-kpi;
            font-weight: 500;
            text-decoration: underline;

            &:hover {
              color: $table-special-kpi-hover !important;
              font-weight: 600;
            }
          }
        }
      }

      .information {
        display: flex;
        align-items: center;

        img.flag-img {
          width: 20px;
          height: 20px;
        }

        .asin-pid-wrapper {
          display: flex;
          justify-content: center;
          flex-direction: column;

          .asin-content {
            color: $text-color;
            font-weight: 500;
            font-size: 10px;
            margin: 0 19px;
            line-height: 16px;
            margin-bottom: 2px;
          }

          .pid-content {
            color: $text-color;
            font-weight: 500;
            font-size: 10px;
            margin: 0 19px;
            line-height: 14px;
          }
        }
      }

      .table-icon {
        margin-left: 10px;
      }
    }

    td:nth-child(1) {
      vertical-align: middle;

      .image-wrapper {
        align-items: center;
        display: flex;
        height: 75px;
        justify-content: center;
        width: 75px;

        img {
          display: block;
        }
      }
    }

    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(7) {
      padding: 0 0.5rem;
      vertical-align: middle;
    }

    tr:first-child td {
      border-top: 1px solid rgba(34, 36, 38, 0.3);
    }

    tfoot th {
      border-top: none;
      text-align: center;
    }

    // Head
    thead {
      &::after {
        content: '';
        display: table-row;
        height: 0;
      }

      tr {
        th {
          background: #fff;
          border-bottom: 1px solid rgba(34, 36, 38, 0.3);
          border-top: 1px solid rgba(34, 36, 38, 0.3);
          font-size: 14px !important;
          font-weight: 500;
          color: $text-color;
          text-align: left;
        }

        th:last-child {
          border-bottom-right-radius: 10px;
          border-right: 1px solid rgba(34, 36, 38, 0.3);
          border-top-right-radius: 10px;
          padding: 0;
          text-align: center;
          height: 54px;

          i.icon.ellipsis {
            height: 100%;
            width: 100%;
            min-width: 48px;
            align-items: center;
            display: flex;
            justify-content: center;
            color: $icon-color;
          }
        }
      }

      .ui.card {
        position: absolute !important;
        right: 19px !important;
        top: 158px !important;

        @media (max-width: 1024px) {
          top: 228px !important;
        }

        @media (max-width: 767px) {
          top: 360px !important;
        }

        .content {
          .ui.checkbox {
            width: 100% !important;

            input:checked ~ .box::before,
            input:checked ~ label::before {
              background-color: #fff !important;
              border: 1px solid $checkbox-border;
              color: $text-color;
            }

            input:checked ~ .box::after,
            input:checked ~ label::after {
              background-color: #fff !important;
              color: $text-color;
            }
          }
        }
      }
    }

    // Prevent stats from wrapping (such as "123 /month")
    td p.stat {
      text-align: left;
      white-space: nowrap;
      line-height: 0.4285em !important;
    }

    .mrgn-right {
      margin-right: 31px;
    }

    .font-color {
      color: #98aeca !important;
    }
  }

  .categories {
    font-size: 10px;
    font-weight: 500;
    text-align: left;
  }

  .brand {
    margin-bottom: 0;
  }

  .ui.star.rating .active.icon {
    color: #f0bd39 !important;
  }

  span.review-head {
    font-size: 10px;
    margin-left: 4px;
  }

  .price-row {
    margin: 0;
    text-align: end;
  }

  span.price-head {
    font-size: 14px;
  }

  span.price-rate {
    color: #eb675e;
    font-size: 16px;
    font-weight: 500;
  }

  .catogy-toy {
    font-size: 14px;
    margin: 0 0 4px;
    text-align: right;
  }

  .rgt-prod {
    position: relative;
    text-align: right;
    width: auto;
  }

  .other-sort {
    @media (max-width: 767px) {
      position: static;
    }

    i.icon,
    i.icons {
      color: $icon-color;
    }
  }

  .detail-buttons {
    display: inline-block;
    width: 172px;
  }

  .rating-name {
    color: #3b4557;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 2px;
    margin-right: 0 !important;
    position: initial !important;
  }

  .rating-num {
    color: #3b4557;
    margin-right: 0 !important;
    position: initial !important;
  }

  .mg-botm0 {
    margin-bottom: 0;
  }

  .fnt12 {
    font-size: 12px;
  }

  .download-icn {
    margin-right: 0 !important;
    position: absolute;
    right: 3px;
    top: 10px;
  }

  // Table sorting

  .tbl-sort-icn {
    margin-left: 6px;
    position: relative;
    width: 18px;
  }

  .tbl-sort-icn.singl-icn {
    left: 18px !important;
    top: -14px;
  }

  .up-arrow {
    color: #98aeca;
    font-size: 12px !important;
    position: relative;
    top: -5px;
  }

  .down-arrow {
    color: #98aeca;
    font-size: 12px !important;
    position: absolute;
    right: 0;
    top: 4px;
  }

  @media screen and (min-width: 310px) and (max-width: 767px) {
    .add-product {
      flex-direction: column;
    }

    .add-product .add-drop {
      border-radius: 10px;
      margin-bottom: 15px;
    }

    .menu-bar {
      overflow-x: auto;
    }
  }
}

.product-tracker-loader {
  margin-top: 45px !important;
}

.has-group,
.no-group {
  padding: 2px 6px;
  display: inline-block;
  margin-left: 15px;
}

.has-group {
  background-color: #e6e6e6;
  color: $text-color;
}

.no-group {
  background-color: #e6e6e6;
  color: $text-color;
}

.ellipsis-ic {
  color: $sellgo-light-gray;
  display: block !important;
  position: relative !important;
  top: -6px !important;
}

.column-selection-container {
  display: flex !important;
  background: #fff !important;
  border-top: 0.2px solid $sellgo-light-gray;
  color: $text-color;
}

.column-selection-container:hover {
  display: flex !important;
  background: $dropdown-hover !important;
  border-top: 0.2px solid $sellgo-light-gray;
  color: $text-color;
  font-weight: 500;
}

.column-selection-container-inactive {
  display: flex !important;
}

.inactive-columns {
  cursor: move;
  color: white;
  font-size: 20px;
  font-weight: 900;
}

.active-columns {
  cursor: move;
  color: $text-color !important;
  font-size: 20px;
  font-weight: 900;
}

.popup-ic {
  line-height: 5;
  width: 50px !important;
  height: 50px !important;
}

.popup-cell {
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 46px;
}

.col-size {
  padding: 0 2px !important;
  height: 47px !important;
}

.remove-left-border {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.inner-product-info {
  border-left: 1px solid rgba(34, 36, 38, 0.3) !important;
  height: 100% !important;
  padding: 12px 14px !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-top: 1px solid rgba(34, 36, 38, 0.3) !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.3) !important;
  color: $text-color;
  font-size: 12px !important;
}

.remove-bottom-border {
  border-bottom: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  .inner-product-info {
    border-bottom: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.graph-view {
  position: absolute !important;
  z-index: 1 !important;
  left: 0 !important;
}

.remove-top-border,
.tracker-table .ui.table td.remove-top-border {
  @extend .graph-view;

  border-top: none !important;
  border-bottom-left-radius: 10px !important;
  border-top-right-radius: 0 !important;
  width: 100% !important;
}

.graph-view-container {
  height: 34.8em !important;
  border: none !important;
  background: transparent !important;
}

.pt-header {
  position: absolute !important;
  width: 94% !important;
  padding-bottom: 10px !important;
}

.pt-header-cell {
  display: flex !important;
  width: 100% !important;
  justify-content: flex-end !important;
  border: none !important;
  background: transparent !important;
}

.pt-scroll-container {
  max-width: 75% !important;
  overflow-x: auto !important;
  display: flex !important;
  height: 5px !important;
  overflow-y: hidden !important;
}

.pt-scroll {
  min-width: 96px !important;
  height: 10px !important;
}

.pt-product-info {
  width: 29em !important;
  background: #fff !important;
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
  display: flex;
  padding: 0 !important;
  align-items: center !important;
  border-left: none !important;
  border-top: none !important;
  border-bottom: none !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;

  .table-cell-container {
    @extend .inner-product-info;

    height: 100% !important;
    width: 100% !important;
    border: none !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

.pt-actions {
  background: #fff !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

.pt-source {
  width: 130px !important;

  > p {
    line-height: 1em;
    text-align: left;
    word-break: break-all;
  }
}

.ptr {
  padding-left: 406px !important;
}

@media (min-width: 768px) and (max-width: 1080px) {
  .pt-scroll {
    width: 170em !important;
  }
}

.hidden-arrow-row {
  border: none !important;
  background: transparent !important;
  height: 0 !important;
  padding: 1px !important;
}

@media only screen and (max-width: 1368px) {
  .pt-scroll {
    min-width: 130px !important;
  }
}

@media only screen and (min-width: 1369px) and (max-width: 1441px) {
  .pt-scroll {
    min-width: 140px !important;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1921px) {
  .pt-scroll {
    min-width: 126px !important;
  }

  .pt-scroll-container {
    max-width: 74% !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .pt-scroll {
    min-width: 97px !important;
  }

  .pt-scroll-container {
    max-width: 50% !important;
  }

  .bottom-cell {
    min-width: 1px !important;
  }

  .pt-source {
    min-width: 95px !important;
  }

  .ptr-cell {
    min-width: 98.5px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .pt-scroll-container {
    max-width: 62% !important;
  }

  .pt-scroll {
    min-width: 96px !important;
  }

  .bottom-cell {
    min-width: 5px !important;
  }

  .pt-source {
    min-width: 95px !important;
  }

  .ptr-cell {
    min-width: 98.5px;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  .pt-scroll-container {
    max-width: 65% !important;
  }

  .pt-scroll {
    min-width: 96px !important;
  }

  .bottom-cell {
    min-width: 5px !important;
  }

  .pt-source {
    min-width: 95px !important;
  }

  .ptr-cell {
    min-width: 98.5px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1535px) {
  .pt-scroll {
    min-width: 100px !important;
  }

  .bottom-cell {
    min-width: 105px !important;
  }

  .pt-source {
    min-width: 95px !important;
  }

  .ptr-cell {
    min-width: 98.5px;
  }
}

@media only screen and (min-width: 1536px) and (max-width: 1599px) {
  .bottom-cell {
    min-width: 103px !important;
  }

  .ptr-scrollbar {
    min-width: 103px !important;
  }

  .ptr-cell {
    min-width: 97.8px;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1680px) {
  .pt-scroll {
    min-width: 97px !important;
  }

  .bottom-cell {
    min-width: 104px !important;
  }

  .pt-source {
    min-width: 95px !important;
  }

  .ptr-cell {
    min-width: 98.5px;
  }
}

@media only screen and (min-width: 1680px) and (max-width: 1919px) {
  .pt-scroll {
    min-width: 96px !important;
  }

  .bottom-cell {
    min-width: 103px !important;
  }

  .pt-source {
    min-width: 95px !important;
  }

  .ptr-cell {
    min-width: 98.5px;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 2558px) {
  .pt-scroll {
    min-width: 91px !important;
  }

  .bottom-cell {
    min-width: 107px !important;
  }

  .pt-source {
    min-width: 95px !important;
  }

  .ptr-cell {
    min-width: 97.8px;
  }
}

.ptr-last-cell {
  padding-right: 30px !important;
}

.opacity-ghost {
  padding-left: 5px;
  opacity: 1;
  background-color: #fff;
  font-size: 16px;
  cursor: move;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
  display: flex !important;
  //justify-content: space-around !important;
  align-items: center;
}

.opacity-ghost-drop {
  opacity: 1;
  background-color: #fff;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0);
}

.smooth-dnd-container {
  background: #f8faff;
  border-bottom: 0.2px solid #98aeca;
}

.column-swap-popup.popup {
  padding: 1px !important;
  width: 250px;
  border-radius: 5px !important;
  cursor: pointer;
}

.edit-cost-modal {
  width: 32% !important;
  border-radius: 10px !important;

  .edit-cost-container {
    padding: 40px;

    .product-description-details {
      display: flex;

      .product-details-image {
        width: 75px;
        height: 75px;
        margin-right: 10px;
      }

      .product-title {
        color: #5381db;
      }

      .details {
        display: flex;
        align-items: center;
        margin-top: 5px;

        .asin-details {
          margin-left: 10px;

          .asin-text {
            margin: 0 !important;
            line-height: 0 !important;
            font-weight: 500;
          }

          .asin-sub-text {
            color: #3b4557;
            margin-top: 10px !important;
          }
        }
      }
    }
  }

  .edit-cost-fields {
    display: flex;

    .cost-labels {
      display: flex;
      flex-direction: column;

      .cost-input-label {
        color: #3b4557;
        margin-top: 10px;
      }

      .cost-input-value {
        color: #3b4557;
        margin-top: 35px;
      }
    }

    .cost-values {
      width: 64%;
      margin-left: 10px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .cost-value {
        margin-top: 10px;
      }

      .cost-input {
        margin-top: 10px;

        > .input {
          width: 98%;
        }
      }

      .action-buttons {
        display: flex;
        justify-content: space-between;

        > button {
          height: 32px !important;
          width: 160px;
          border-radius: 20px;
        }
      }
    }
  }
}

.generic-table .ui.table.pf-table {
  margin-top: unset;
}

.generic-table .ui.table.pf-table thead.pf-header > tr:first-child > th {
  border-top: unset !important;
}

.generic-table .ui.table.pf-table thead.pf-header.scroll-top > tr:first-child th {
  top: 55px;
  transition-property: top;
  transition-duration: 1s;
}

.ptr-left-cell {
  > p {
    width: 100%;
    text-align: right;
    padding-right: 45px;
  }
}

.product-tracker {
  .right-column {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.ptr-blank-cell {
  height: 85px !important;
}

/* stylelint-disable */
.ui.fitted.checkbox {
  input:checked ~ .box::before,
  input:checked ~ label::before {
    background-color: #fff;
    border: 1px solid $sellgo-light-gray;
  }

  input:checked ~ .box::after,
  input:checked ~ label::after {
    color: $text-color;
  }
}
