@import '../../../design-system/new-colors';

.connectivityPageWrapper {
  display: flex;
  flex-direction: row;
}

.zapierActivationLink {
  margin-top: 40px;
  font-weight: $fontweight_medium;
  font-size: 14px;
  color: $black_1;

  a {
    font-weight: $fontweight_medium !important;
    color: $blue_link_bg_light !important;

    &:hover {
      color: $blue_link_bg_dark !important;
    }
  }

  .linkIcon {
    color: $blue_link_bg_light !important;
    font-size: 12px !important;
    margin-left: 5px;
  }
}

.elevioArticle {
  margin-top: 50px;
  margin-left: 11px;
  font-size: 12px;
  font-weight: $fontweight_medium;
  border-radius: 7px;
  color: $grey_8;
  text-transform: uppercase;
  height: 700px;
  overflow-y: auto;
  min-width: 0;
  max-width: 400px;

  > span {
    margin-bottom: 100px;
  }
}
