@import '../../../design-system/new-colors';

.connectivityPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apiFormTitle {
  margin-bottom: 30px;
  color: $prim_dark_1;
}
