@import '../../../design-system/new-colors';

.connectivityPageWrapper {
  display: flex;
  flex-direction: row;
}

.zapierActivationLink {
  margin-top: 40px;
  font-weight: $fontweight_medium;
  font-size: 14px;
  color: $black_1;

  a {
    font-weight: $fontweight_medium !important;
    color: $blue_link_bg_light !important;

    &:hover {
      color: $blue_link_bg_dark !important;
    }
  }

  .linkIcon {
    color: $blue_link_bg_light !important;
    font-size: 12px !important;
    margin-left: 5px;
  }
}
