@import '../../../design-system/new-colors';

.extendedReviewsCell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: max-content;
  color: $grey_8 !important;
}

.groupedReviewCategory {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  color: $grey_8 !important;
}

.reviewCategory {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $grey_8 !important;

  > span {
    font-size: 10px !important;
    margin: 0 !important;
    color: $grey_8 !important;
    margin-left: 5px !important;
  }

  svg {
    path {
      fill: $grey_8 !important;
    }
  }
}
