.ui.breadcrumb {
  position: relative !important;

  .icon.divider {
    color: #98aeca;
    font-size: 16px;
    margin: 0 5px;
  }

  .section {
    color: #349af8 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    font-family: 'Work Sans', sans-serif;

    &.active {
      color: #98aeca !important;
    }
  }

  i.home-icon {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #3b4557 !important;
    transform: translateY(-2px);
  }
}
