.filter-container {
  display: flex;
  justify-content: space-between;

  .all-filter-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;

    .all-filter-content {
      .filter-list {
        display: flex;
        flex-direction: column;

        .ui {
          &.checkbox {
            margin: 5px 0;

            input:checked ~ .box::after,
            input:checked ~ label::after {
              background-color: #349af8;
            }
          }
        }

        .filter-child-list {
          margin-left: 30px;
        }
      }
    }
  }

  .button-wrapper {
    display: flex;
    align-items: flex-end;
    width: 10%;
    height: 100%;

    button {
      width: 10%;
      height: 100%;
      display: flex;
      margin: auto 0 0 0;
    }
  }
}
