.filter-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .ui {
    &.radio {
      margin: 5px 0;

      input:checked ~ .box::before,
      input:checked ~ label::before {
        background-color: #fff !important;
        border: 1px solid #d4d4d5;
      }

      input:checked ~ .box::after,
      input:checked ~ label::after {
        background-color: #349af8 !important;
      }
    }

    &.checkbox {
      margin: 5px 0;

      label {
        color: #3b4557;
        font-size: 14px;
        display: unset !important;
        cursor: pointer;
      }

      &.select-all {
        font-weight: 500;
      }

      input:checked ~ .box::before,
      input:checked ~ label::before {
        background-color: #349af8;
        border: 1px solid #d4d4d5;
      }

      input:checked ~ .box::after,
      input:checked ~ label::after {
        color: #fff;
      }
    }
  }

  .all-filter-content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px 0;

    .all-filter-content {
      .filter-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 5px;

        .ui.checkbox.less {
          display: block;
        }

        .ui.checkbox.more {
          display: none;
        }

        .filter-child-list {
          margin-left: 30px;
        }
      }

      &.product-category {
        width: 20%;
      }

      &.product-size-tiers {
        width: 20%;

        .filter-list {
          margin-top: 15px;
        }
      }

      .content-header {
        display: flex;
        flex-direction: column;

        .filter-name {
          font-weight: 600;
          color: #3b4557;
          font-size: 16px;
          line-height: 1;
        }

        .reset.category-list {
          cursor: pointer;
          color: #349af8;
          font-size: 12px;
          display: contents;
        }
      }

      .toggle-see-all {
        font-size: 14px;
        color: #349af8;
        cursor: pointer;
        line-height: 1;
        display: inline-block;
      }
    }
  }

  .middle-divider {
    width: 90%;
    margin: 1rem auto;
  }

  .slider-filters {
    display: flex;
    flex-direction: column;

    .range-container {
      width: 215px;
      margin: 0 25px;

      .range-label {
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
      }

      &:first-child {
        margin: 0 25px 0 0;
      }

      &:last-child {
        margin: 0 0 0 25px;
      }

      &.with-radio {
        width: 400px;

        .ui.radio.checkbox {
          margin: 0 10px;

          label {
            padding-left: 1em;
          }
        }
      }

      h3 {
        margin: 0;
        font-weight: 600;
      }

      .reset {
        cursor: pointer;
        color: #349af8;
        font-size: 12px;
      }

      .input-range {
        width: unset !important;
        margin: 0 27px;

        .input-range__track {
          height: 0.1rem;

          .input-range__track--active {
            border: 1px solid #349af8 !important;
          }

          span {
            .input-range__slider {
              background: #349af8 !important;
              border: 1px solid #349af8 !important;
            }
          }
        }

        .input-range__label-container,
        .input-range__label--min .input-range__label-container,
        .input-range__label--max .input-range__label-container {
          display: none;
        }
      }

      .range-content {
        margin-top: 20px;

        .input-range-custom {
          margin-bottom: 10px;

          .input-range {
            margin: unset !important;

            .input-range__slider {
              background: #fff !important;
            }
          }
        }

        .min-max-content {
          display: flex;
          justify-content: space-between;
          font-weight: 500;

          .ui.input {
            input {
              font-family: 'Work sans', sans-serif;
              background: transparent;
              border: 1px solid #dfe8f3;
              box-shadow: 0 2px 2px 0 #d4d4d5, 0 1px 0 1px #d4d4d5;
              color: #98aeca;
              font-size: 14px;
              font-weight: normal;
              min-height: 10px;
              padding: 4px 3px;
              text-align: center;
              width: 63px;
              height: 25px;
            }
          }

          .percent-sign {
            margin-left: 5px;
          }

          .dollar-sign {
            margin-right: 5px;
          }
        }
      }

      .price-details-content {
        width: 65%;

        .items {
          width: 30%;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .slider-wrapper {
      display: flex;
      margin: 0 0 30px 0;

      .remove-negative {
        margin-top: 10px;
      }
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: auto 0 0 0;
    position: absolute !important;
    right: 0;
    padding-right: 30px;
    bottom: 10px;
    width: -webkit-fill-available;
    background: white;
    height: inherit;

    button {
      height: 100%;
      display: flex;
      margin: auto 0 0 0;
      margin-bottom: 10px;
    }
  }

  .presets-filter-content-wrapper {
    &__header {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      &__filter-name {
        font-weight: 600;
        color: #3b4557;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 5px;
      }

      &__preset-reset {
        padding: 0 10px;

        p {
          cursor: pointer;
          color: #349af8;
          font-size: 12px;
          display: contents;
        }
      }
    }

    &__content {
      &__filter-name {
        font-weight: 600;
        color: #3b4557;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 5px;
      }

      display: flex;
      flex-direction: column;
      padding: 0 10px;
    }
  }
}

.ui.modal.transition.visible.active.FilterContainer__presets {
  height: 500px;
  border-radius: 15px;
  padding: 40px 21px 57px 31px;

  .content {
    padding: 0;
    height: 100%;
    overflow: auto;
  }

  i.fas.fa-times {
    font-size: 15px;
    position: absolute;
    right: 15px;
    top: 11px;
    color: #98aeca;
    cursor: pointer;
  }
}

.ui.modal.transition.visible.active.FilterContainer__show-filter {
  min-width: 85%;
  height: 500px;
  border-radius: 15px;
  padding: 40px 21px 57px 31px;

  .FilterContainer__btn.show-more {
    display: block;
  }

  .FilterContainer__btn.show-less {
    display: none;
  }

  .content {
    padding: 0;
    height: 100%;
    overflow: auto;
  }

  i.fas.fa-times {
    font-size: 15px;
    position: absolute;
    right: 15px;
    top: 11px;
    color: #98aeca;
    cursor: pointer;
  }

  .button-wrapper {
    position: absolute !important;
    right: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-right: 30px;
    padding-top: 20px;
    bottom: 10px;
    width: -webkit-fill-available;
    background: white;
    height: inherit;

    button {
      width: 84px;
      height: 25px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
      border-radius: 100px;
      box-shadow: inherit;
      font-size: 14px;
      font-weight: bold;
      font-family: 'Work sans', sans-serif;

      &:first-child {
        border: 1px solid #98aeca;
        color: #98aeca !important;
        font-size: 14px;
      }

      &:last-child {
        border: 1px solid #349af8;
        color: #349af8 !important;
      }
    }
  }
}

.ui.modal.transition.visible.active.FilterContainer__show-more {
  min-width: 50%;
  border-radius: 15px;

  .FilterContainer__btn.show-more {
    display: none;
  }

  .FilterContainer__btn.show-less {
    display: block;
    color: #349af8;
  }

  i.fas.fa-times {
    font-size: 15px;
    position: absolute;
    right: 15px;
    top: 11px;
    color: #98aeca;
    cursor: pointer;
  }

  input:checked ~ .box::before,
  input:checked ~ label::before {
    background-color: #349af8;
    border: 1px solid #d4d4d5;
  }

  input:checked ~ .box::after,
  input:checked ~ label::after {
    color: #fff;
  }

  .header {
    color: #3b4557;
    font-size: 16px;
    padding-bottom: 0;
    padding-top: 42px;
    font-weight: 600;
    border: unset;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
  }

  .content-header {
    margin-bottom: 13px;

    .reset {
      cursor: pointer;
    }
  }

  .reset.category-list {
    font-size: 12px;
    color: #349af8;
  }

  .content {
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .ui.checkbox {
    min-width: 250px;
    margin-bottom: 7px;
  }

  .all-filter-content.product-size-tiers {
    border: 1px solid red;
    display: none;
  }

  .filter-name {
    display: none;
  }

  .toggle-see-all {
    font-size: 14px;
    color: #5381db;
    font-weight: 500;
    margin-top: 13px;
    cursor: pointer;
  }

  .all-filter-content-wrapper {
    .all-filter-content {
      .filter-list {
        &.see-all {
          height: 380px;
          margin-bottom: 5px;
        }
      }
    }

    &.see-all {
      .all-filter-content {
        &.product-category {
          width: 55%;
        }

        &.product-size-tiers {
          width: 40%;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .ui.modal.transition.visible.active.FilterContainer__show-filter {
    min-width: 1740px;

    .content {
      overflow: hidden;
    }

    .button-wrapper {
      padding-top: 15px;
    }
  }

  .ui.modal.transition.visible.active.FilterContainer__show-more {
    width: 823px;
    height: 479px;

    .ui.checkbox {
      max-width: 295px;
      margin-right: 20px;
    }
  }

  .ui.modal.transition.visible.active.FilterContainer__presets {
    width: 500px;
    height: 479px;

    .ui.checkbox {
      max-width: 295px;
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .all-filter-content-wrapper {
    &.see-all {
      .all-filter-content {
        &.product-category {
          width: 100% !important;
        }

        &.product-size-tiers {
          width: 30% !important;
        }
      }
    }
  }

  .slider-filters {
    .slider-wrapper {
      flex-wrap: wrap;

      .range-container {
        width: 215px;
        margin: 15px 25px;

        &:first-child {
          margin: 15px 25px 15px 0;
        }

        &:last-child {
          margin: 15px 0 15px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .slider-filters {
    .slider-wrapper {
      .range-container {
        &:nth-child(5) {
          margin: 15px 25px 15px 0;
        }

        &:last-child {
          margin: 15px 0 15px 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .ui.modal.transition.visible.active.FilterContainer__show-filter {
    .all-filter-content {
      width: 50% !important;
    }
  }
}
