.filter-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;

  .all-filter-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;

    .all-filter-content {
      .filter-name {
        font-weight: 600;
        color: #3b4557;
        font-size: 16px;
        margin-bottom: 15px;
      }

      .filter-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 120px;

        .ui {
          &.radio {
            margin: 5px 0;

            input:checked ~ .box::after,
            input:checked ~ label::after {
              background-color: #349af8;
            }
          }

          &.checkbox {
            margin: 5px 0;

            input:checked ~ .box::before,
            input:checked ~ label::before {
              background-color: #349af8;
              border: 1px solid #d4d4d5;
            }

            input:checked ~ .box::after,
            input:checked ~ label::after {
              color: #fff;
            }

            label {
              color: #3b4557;
              font-size: 14px;
            }
          }
        }

        .filter-child-list {
          margin-left: 30px;
        }
      }

      .toggle-see-all {
        font-size: 14px;
        color: #349af8;
        cursor: pointer;
      }
    }
  }

  .range-container {
    width: 250px;

    h3 {
      margin: 0;
      font-weight: 600;
    }

    .reset {
      cursor: pointer;
      color: #349af8;
    }

    .range-content {
      margin-top: 20px;

      .input-range-custom {
        margin-bottom: 10px;
      }

      .min-max-content {
        display: flex;
        justify-content: space-between;
        font-weight: 500;

        .ui.input {
          input {
            background: transparent;
            border: 1px solid #dfe8f3;
            box-shadow: 0 2px 2px 0 #d4d4d5, 0 1px 0 1px #d4d4d5;
            color: #98aeca;
            font-size: 14px;
            font-weight: normal;
            min-height: 10px;
            padding: 4px 2px;
            text-align: center;
            width: 60px;
            height: 30px;
          }
        }
      }
    }

    .price-details-content {
      width: 65%;

      .items {
        width: 30%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .input-range {
    width: unset !important;
    margin: 0 27px;

    .input-range__track {
      height: 0.1rem;

      .input-range__track--active {
        border: 1px solid #349af8 !important;
      }

      span {
        .input-range__slider {
          background: #349af8 !important;
          border: 1px solid #349af8 !important;
        }
      }
    }

    .input-range__label-container,
    .input-range__label--min .input-range__label-container,
    .input-range__label--max .input-range__label-container {
      display: none;
    }
  }

  .button-wrapper {
    display: flex;
    align-items: flex-end;
    width: 10%;
    height: 100%;
    margin: auto 0 0 0;

    button {
      width: 10%;
      height: 100%;
      display: flex;
      margin: auto 0 0 0;
    }
  }
}
