
.setting .basic_info_update {
    margin-top: 3rem;
}
.setting .upload_photo Button {
    margin-right: 2rem;
}
.setting .autho_form{
    margin-top: 1.5rem;
}

.ui.header {
    font-family: 'Montserrat', 'serif' !important;
}