@import '../../../../../design-system/colors';

.productInfoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  user-select: none;
  color: $prim_dark_1;
}

.productImage {
  width: 70px;
  height: 70px;
  margin-right: 18px;
  overflow: hidden;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.productDetails {
  flex: 1;
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    color: $prim_dark_1 !important;
    font-weight: 500;
  }
}

.productMetaDetails {
  margin-top: 6px;
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }

  font-size: 12px !important;

  .variationButton {
    margin-top: 4px;
    background: none;
    display: flex;
    align-items: center;
    font-size: 10px;

    &:hover {
      background: $grey_1;
    }
  }

  .variationIcon {
    margin: 0 2px;
    height: 12px;
    width: 15px;

    &__active {
      path {
        fill: $sellgo_orange !important;
      }
    }

    &__inactive {
      path {
        fill: $grey_8 !important;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
