@import '../../../../design-system/new-colors';

.header-middle {
  font-size: 10px;
  color: $grey_8;
}

.header-item {
  position: absolute;
  font-size: 12px;
  font-weight: $fontweight_medium;
  border-right: 1px solid $grey_3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item-rotated {
  transform: rotate(90deg);
}
