@import '../../design-system/new-colors';

.productLabel {
  display: flex;
  align-items: center;

  svg {
    width: 15px;
    margin-right: 8px;
  }
}

.labelText {
  color: $grey_8 !important;
  font-size: 12px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer !important;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  background: $grey_0;

  &__active {
    color: $prim_dark_1 !important;
    font-weight: 700 !important;
  }

  &__disabled {
    opacity: 0.5;
  }
}

.gradientWrapper {
  margin-top: 3px;
  background: $orange_dark_gradient !important;
  padding-bottom: 3px;
}
