.profit-sys-call-to-action {
  display: flex;
  float: right;
  justify-content: flex-end;
}

.profit-sys-call-to-action .add-new-supplier {
  padding: 12px 33px;
  background: #349af8;
}

.profit-sys-call-to-action .ui.tiny.progress {
  width: 250px;
  margin-right: 15px;
  top: 12px;
  height: 6px;
}

.profit-sys-call-to-action .ui.progress > .label {
  font-size: 10px;
  font-weight: 400;
  margin-top: -4px;
}

.profit-sys-call-to-action .ui.tiny.progress .bar {
  height: 6px;
}

@media screen and (min-width: 310px) and (max-width: 767px) {
  .profit-sys-call-to-action {
    float: none !important;
    align-items: center;
  }

  .profit-sys-call-to-action .ui.tiny.progress {
    width: 150px !important;
  }
  .profit-sys-call-to-action .add-new-supplier {
    padding: 10px 15px !important;
    font-size: 12px !important;
  }
}
