@import '../../../design-system/new-colors';

.connectivityPageWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 200px;
}

.elevioArticle {
  margin-top: 50px;
  margin-left: 18px;
  font-weight: $fontweight_bold;
  color: $grey_8;
  text-transform: uppercase;
  height: 500px;
  overflow-y: auto;
  min-width: 0;

  > span {
    margin-bottom: 300px;
  }
}
