@import '../../../../../design-system/new-colors.scss';

.changeStatPeriod {
  display: flex;
  flex-direction: column;
  width: 100%;

  svg {
    align-self: center !important;
    width: 28px;
    height: 28px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;

    &:first-child {
      path {
        fill: $blue_8;
      }
    }
  }
}
