@import '../../../../../design-system/new-colors.scss';

.inventoryBarCell {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0 !important;
  align-items: center;
  font-size: 10px;
  color: $grey_8;
}

.potentialLoss {
  height: 15px;
  font-size: 9px;
  font-weight: $fontweight_semibold;
  color: $system_red;
}

.daysUntilStockoutCell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 18px;
  font-size: 14px;
  font-weight: $fontweight_medium;
  color: $grey_8;

  span {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__red {
    span {
      background: $system_red;
      color: $prim_white;
    }
  }
}
