.faqSection {
  min-height: 300px;
  margin: 70px auto 0;
  max-width: 1200px;
  width: 1085px;
  padding-bottom: 50px;

  h2 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: #1e1e1e;
  }
}
