.faqSection {
  min-height: 300px;
  margin: 70px auto;
  max-width: 1200px;
  padding-bottom: 100px;

  h2 {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    color: #3b4557;
  }
}
