.loginContainer {
  text-align: center;
  font-size: 16px;
  color: #3b4557;
  width: 416px;
  height: 462px;
  margin: 0 auto;
  padding: 20px 0;

  h2 {
    font-size: 16px;
    font-weight: 500;
  }
}

.formInput {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 15px 0;

  label {
    font-size: 16px;
    font-weight: 500;
    color: #3b4557;
  }

  input {
    height: 40px;
    background: #fff;
    font-size: 14px;
    color: #808080 !important;
    border-radius: 4px;
    border: 1px solid #dededf;
  }
}

.errorMessage {
  color: #eb675e;
  font-size: 16px;
}

.successMessage {
  color: #5dc560;
  font-size: 16px;
}

.submitButton {
  width: 100%;
  background: #fc7900;
  border-radius: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  outline: 0;
  border: none;
  font-family: 'Work Sans', sans-serif;
  cursor: pointer;
  margin-top: 30px;

  &:disabled {
    opacity: 0.6;
    cursor: unset;
  }
}

.divider {
  height: 1px;
  background: #808080;
  margin: 20px 0;
}

.registerMessage {
  color: #808080;
  font-size: 14px;
  margin-top: 0;

  span {
    color: #5381db;
    text-decoration: underline;
    cursor: pointer;
  }
}
