@import '../../design-system/new-colors';

.pillWrapper {
  display: flex;
  margin: 8px;
  margin-bottom: 0;
  height: 25px;
}

.asinPill {
  display: flex;
  color: $grey_8 !important;
  font-size: 12px;
  font-weight: 600;
  border-radius: 7px 0 0 7px;
  align-items: center;
  width: max-content;
  justify-content: flex-start;
  padding: 0 5px;
}

.validAsinPill {
  @extend .asinPill;

  border: 1px solid $blue_6;
  border-right: none;
}

.inValidAsinPill {
  @extend .asinPill;

  border: 1px solid $system_red;
  border-right: none;
}

.iconWrapper {
  border-radius: 0 7px 7px 0;
  height: 100%;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $system_red;
    border-color: $system_red !important;
    cursor: pointer;
  }
}

.validIconWrapper {
  @extend .iconWrapper;

  border: 1px solid $blue_6;
  border-left: none;
}

.inValidIconWrapper {
  @extend .iconWrapper;

  border: 1px solid $system_red;
  border-left: none;
}

.removeIcon {
  color: $grey_8 !important;
}
