@import '../../../design-system/colors';

.AsinSearch__row {
  font-family: 'Works Sans', sans-serif;
  display: flex;
  margin-left: 3rem;

  .AsinSearch__menu {
    display: flex;
    height: 34px;
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 10px;

    .multiple-asin-container {
      .scroll-container {
        border-top: 1px solid $sellgo-light-gray;
        border-left: 1px solid $sellgo-light-gray;
        border-bottom: 1px solid $sellgo-light-gray;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: none !important;
        padding: 0 5px;
        min-width: 325px;
        max-width: 325px;
        height: 34px;
        overflow-x: scroll !important;
      }

      &__wrapper {
        box-shadow: none !important;

        .align-items-center {
          display: flex;
          align-items: center;

          .p-2.col-auto {
            &:first-child {
              margin-left: unset !important;
            }

            margin-left: 5px;

            div {
              pointer-events: none;
              border: 1px solid $sellgo-light-gray;
              border-radius: 6px !important;
              background: #fff;
              display: flex;
              align-items: center;
              font-size: 12px;
              font-family: 'Work Sans', Helvetica, Arial, sans-serif;
              padding: 4px !important;
              height: 24px;
              color: #98aecacc;

              svg {
                background: $sellgo-light-gray;
                border-radius: 50%;
                fill: #fff;
                height: 13px;
                width: 13px;
                margin-left: 5px;
                padding: 1px;
                margin-top: -1px !important;
                pointer-events: auto !important;

                path {
                  transform: scale(0.45);
                  -webkit-transform: scale(0.45);
                }
              }
            }
          }
        }

        .custom-form-control {
          margin-left: 5px;
          padding: 2px 0;
          width: 250px;

          input {
            border: none !important;
            outline: none !important;
            font-size: 14px;
            font-family: 'Work sans', sans-serif;
            width: 100%;
            color: black !important;
          }

          input::placeholder {
            color: #cacaca;
          }
        }
      }
    }

    &__label {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .ui.input {
      flex-grow: 1 !important;

      input {
        border-top: 1px solid $sellgo-light-gray;
        border-left: 1px solid $sellgo-light-gray;
        border-bottom: 1px solid $sellgo-light-gray;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #3b4557;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Work Sans', sans-serif;
      }
    }

    .ui.dropdown {
      display: flex;
      align-items: center;
      min-height: 34px;
      border: 0;
      border: 1px solid $sellgo-light-gray;
      border-radius: 0;
      padding-top: 0;
      padding-bottom: 0;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      color: #3b4557;
      font-size: 14px;
      font-weight: 500;
      font-family: 'Work Sans', sans-serif;
    }
  }

  button.ui.basic.button {
    width: 150px;
    height: 33px;
    background: $sellgo-blue 0% 0% no-repeat padding-box !important;
    border: 1px solid $sellgo-blue;
    border-radius: 7px;
    padding: 0;
    box-shadow: none;
    color: #fff !important;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    margin-left: 12px;
  }

  button.ui.basic.button:hover {
    width: 150px;
    height: 34px;
    background: #fff 0% 0% no-repeat padding-box !important;
    border: 1px solid $sellgo-blue;
    border-radius: 7px;
    padding: 0;
    box-shadow: none;
    color: $sellgo-blue !important;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    margin-left: 12px;
  }
}

.menu.transition.visible {
  > .item.flag-right {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
    padding-right: 37px !important;

    i {
      display: flex;
      flex-direction: row-reverse;
      width: max-content;
      margin: unset;
    }

    span {
      padding: 0 5px 0 0;
    }
  }
}
