.AsinSearch__row {
  $fon-family: 'Work sans', sans-serif !important;

  display: flex;
  margin-left: 3rem;

  .AsinSearch__menu {
    display: flex;
    height: 34px;
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 10px;

    .multiple-asin-container {
      &__wrapper {
        border-top: 1px solid #98aeca;
        border-left: 1px solid #98aeca;
        border-bottom: 1px solid #98aeca;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: none !important;
        padding: 0 5px;
        min-width: 325px;
        max-width: 325px;
        overflow: hidden;

        .align-items-center {
          display: flex;
          align-items: center;

          .p-2.col-auto {
            &:first-child {
              margin-left: unset !important;
            }

            margin-left: 5px;

            div {
              border: 1px solid #98aeca;
              border-radius: 6px !important;
              background: #fff;
              display: flex;
              align-items: center;
              font-size: 12px;
              font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
              padding: 4px !important;
              height: 24px;

              svg {
                background: #98aeca;
                border-radius: 50%;
                fill: #fff;
                height: 13px;
                width: 13px;
                margin-left: 5px;
                padding: 1px;
                margin-top: -1px !important;

                path {
                  transform: scale(0.45);
                  -webkit-transform: scale(0.45);
                }
              }
            }
          }
        }

        .custom-form-control {
          margin-left: 5px;
          padding: 2px 0;
          width: 250px;

          input {
            border: none !important;
            outline: none !important;
            font-size: 12px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            width: 100%;
          }
        }
      }
    }

    &__label {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .ui.input {
      flex-grow: 1 !important;

      input {
        border-top: 1px solid #98aeca;
        border-left: 1px solid #98aeca;
        border-bottom: 1px solid #98aeca;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #3b4557;
        font-size: 14px;
        font-weight: 500;
        font-family: $fon-family;
      }
    }

    .ui.dropdown {
      display: flex;
      align-items: center;
      min-height: 34px;
      border: 0;
      border: 1px solid #98aeca;
      border-radius: 0;
      padding-top: 0;
      padding-bottom: 0;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      color: #3b4557;
      font-size: 14px;
      font-weight: 500;
      font-family: $fon-family;
    }
  }

  button.ui.basic.button {
    width: 140px;
    height: 34px;
    background: #fff 0% 0% no-repeat padding-box !important;
    border: 1px solid #349af8;
    border-radius: 15px;
    padding: 0;
    box-shadow: none;
    color: #349af8 !important;
    font-size: 16px;
    font-weight: bold;
    font-family: $fon-family;
    margin-left: 12px;
  }
}

.menu.transition.visible {
  > .item.flag-right {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
    padding-right: 37px !important;

    i {
      display: flex;
      flex-direction: row-reverse;
      width: max-content;
      margin: unset;
    }

    span {
      padding: 0 5px 0 0;
    }
  }
}
