@import '../../../../design-system/new-colors';

.dimmer {
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  p {
    margin-top: 18px;
    color: $black_0 !important;
    font-weight: $fontweight_semibold;
  }
}
