@import '../../design-system/colors';

.export-result-as {
  width: 342px !important;
  padding: 20px;
  color: $text-color;
  border-radius: 7px !important;

  .export-format {
    margin: 15px 0 0 !important;
  }

  .export-data {
    margin: 15px 0 0 !important;
  }

  .export-input {
    width: 100% !important;
    border: 1px solid $sellgo-light-gray !important;
    border-radius: 8px !important;

    .visible.menu {
      border-color: $sellgo-light-gray !important;
      border-bottom-left-radius: 8px !important;
      border-bottom-right-radius: 8px !important;
      color: $text-color;
    }
  }

  .export-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25px;

    .ui.button {
      border: 1px solid $sellgo-light-gray;
      border-radius: 7px !important;
      height: 32px;
      width: 120px;
      line-height: 0 !important;
      box-shadow: none !important;
      color: #3b4557 !important;
      font-family: 'Work Sans', sans-serif !important;
      background: 0 0 !important;

      &:hover {
        background: white !important;
      }
    }
  }
}
