.filterHead {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 43px;
}
.filterHead > p {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
}
.filterHead .icon.question.circle:before {
  line-height: 1;
  font-size: 15px;
  padding-left: 14px;
  color: #98aeca;
}
.filterHead .icon.chevron.up:before {
  font-size: 23px;
}
.filterHead .up_icon {
  color: #000;
  margin-right: 20px;
  margin-top: 3px;
}
.filterHead .icon.chevron.down:before {
  font-size: 23px;
}
.filterHeadBox {
  margin-top: 43px;
}

.filterContent .ui.container {
  margin-bottom: 31px;
}
