.filterHead {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.filterHead > p {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
}
.filterHead .icon.question.circle:before {
  line-height: 1;
  font-size: 13px;
  padding-left: 10px;
  color: #98aeca;
}
.filterHead .icon.angle.up:before {
  content: '\f106';
  font-size: 26px;
}
.filterHead .icon.angle.down:before {
  content: '\f107';
  font-size: 26px;
}
.filterHeadBox {
  margin-top: 39px;
}

.filterContent .ui.container {
  margin-bottom: 27px;
}
