.filter-section {
  .filter-head {
    display: flex;
    margin-bottom: 1rem;

    > p {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 0;
    }

    .icon.question.circle::before {
      line-height: 1;
      font-size: 15px;
      padding-left: 0.5rem;
      color: #98aeca;
    }

    .icon.chevron.up::before {
      font-size: 23px;
    }

    .up-icon {
      color: #000;
      margin-right: 20px;
      margin-top: 3px;
      cursor: pointer;
    }

    .icon.chevron.down::before {
      font-size: 23px;
    }
  }

  // Targeting the <Container> inside <SliderRange>
  // TODO: Maybe move spacing outside of <SliderRange>
  .filter-content .ui.container {
    margin-bottom: 20px;
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  .filter-section {
    .filter-head {
      margin-bottom: 0.5rem;
    }

    .filter-content .ui.container {
      margin-bottom: 10px;
    }
  }
}
