.filter-section {
  .filter-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    // Wider style
    //padding-left: 16px;

    > p {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 0;
    }

    .icon.question.circle:before {
      line-height: 1;
      font-size: 15px;
      padding-left: 0.5rem;
      color: #98aeca;
    }

    .icon.chevron.up:before {
      font-size: 23px;
    }

    .up-icon {
      color: #000;
      margin-right: 20px;
      margin-top: 3px;
      cursor: pointer;
    }

    .icon.chevron.down:before {
      font-size: 23px;
    }
  }

  // Targeting the <Container> inside <SliderRange>
  // TODO: Maybe move spacing outside of <SliderRange>
  .filter-content .ui.container {
    margin-bottom: 31px;
  }
}
