.betaLabel {
  padding: 2px 3px 2px 3px !important;
  margin: 0 3px 0 3px !important;
  background-color: #3cf7af !important;
  color: #3b4557 4557 !important;
  font-size: 10px !important;
  font-weight: 500 !important;
  vertical-align: middle !important;
  border-radius: 11px !important;
  position: absolute !important;
  top: -10px !important;
  right: -35px !important;
}

.betaLabelNav {
  padding: 2px 3px 2px 3px !important;
  margin-bottom: 3px !important;
  margin-left: 5px !important;
  font-weight: 500 !important;
  background-color: #3cf7af !important;
  color: #3b4557 !important;
  font-size: 8px !important;
  vertical-align: middle !important;
  border-radius: 11px !important;
}
