@import '../../../../../../design-system/new-colors.scss';

.productTitle {
  height: 100%;
  width: 30%;
  margin: 0 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productImage {
  max-width: 90%;
  height: 140px;
  object-fit: contain;
  margin-bottom: 10px;
}

.flagAndTitleRow {
  display: flex;
  flex-direction: row;
  align-items: center;

  .flagIcon {
    width: 20px;
    margin-right: 8px;
    object-fit: contain;
  }

  .productTitleTextBox {
    margin-top: -15px; //Used to offset the margins set inside CopyAndLocateClipboard
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .upcText {
    margin-top: -5px;
    font-weight: 500 !important;
    font-size: 10px;
    color: $prim_dark_1;
  }
}

.amazonsChoiceOrBestSellerRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .amazonsChoiceImg {
    max-width: 50%;
    object-fit: contain;
  }
}
