@import '../../../../../../design-system/new-colors.scss';

.productTitle {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 20px;
}

.productImage {
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin-bottom: 10px;
}

.flagAndTitleRow {
  display: flex;
  flex-direction: row;
  align-items: center;

  .flagIcon {
    width: 20px;
    margin-right: 8px;
    object-fit: contain;
  }

  .productTitleTextBox {
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .upcText {
    margin-top: -2px;
    font-weight: 500 !important;
    font-size: 10px;
    color: $prim_dark_1;
  }
}

.amazonsChoiceOrBestSellerRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .amazonsChoiceImg {
    max-width: 50%;
    object-fit: contain;
  }
}

.productTitleText {
  margin: 0;
  color: $grey_8;
  font-weight: 500 !important;
  font-size: 12px;
  margin-right: 3px;
}

.productAsin {
  color: $grey_8 !important;

  &:hover {
    text-decoration-color: $grey_8 !important;
  }
}
