@import '../../../../../../design-system/new-colors.scss';

.productTitle {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 20px;
}

.productImage {
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin-bottom: 10px;
}

.productTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.productTitleTextBox {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.productTitleText {
  margin: 0;
  color: $grey_8;
  font-weight: 500 !important;
  font-size: 12px;
  margin-right: 3px;
}

.productAsin {
  color: $grey_8 !important;

  &:hover {
    text-decoration-color: $grey_8 !important;
  }
}
