@import '../../../design-system/colors.scss';

.churnFlowContent {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__img {
    width: 22rem;
    padding-bottom: 4em;
  }

  &__title {
    margin-bottom: 3rem;
    font-size: 24px;
    color: $prim_dark_2;
    font-weight: 600;
  }

  &__desc {
    width: 40rem;
    margin-bottom: 4rem;
    font-size: 14px;
    color: $prim_dark_2;
    font-weight: 400;
  }
}
