@import '../../../design-system/colors.scss';

.churnFlowContent {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__img {
    width: 15rem;
  }

  &__title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 20px;
    color: $prim_dark_2;
    font-weight: 600;
  }

  &__desc {
    width: 40rem;
    margin-bottom: 2rem;
  }
}
