.slider-range {
  .range-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 14px;
    font-family: sans-serif;
    b {
      font-weight: 600;
    }

    // Wider style
    //padding-left: 16px;
  }

  i.small.icon.question {
    font-size: 1em !important;
    color: #98aeca !important;
    padding-left: 0.5rem;
  }

  .range-input {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    padding: 0 10px;
  }
  .range-input .ui.input > input {
    background: transparent;
    border: 1px solid #dfe8f3;
    font-size: 14px;
    color: #98aeca;
    padding: 7px 2px;
    min-height: 10px;
    font-weight: normal;
    width: 59px;
    text-align: center;
  }

  .range-input .ui.input > input::-webkit-input-placeholder {
    color: #98aeca;
  }

  .range-input .ui.input > input:-ms-input-placeholder {
    color: #98aeca;
  }

  .range-input .ui.input > input::placeholder {
    color: #98aeca;
  }
}
