$blue: #349af8;
$black: #2e3b4a;
$grey: #98aeca;
$red: #e74c3c;
$darkgary: #dfe8f329;

@import '../../../design-system/colors';

.disable-products {
  > .rst__tree {
    .square {
      //visibility: hidden !important;
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.seller-products-pagination {
  height: 46px;
  display: flex;
  border: 0.5px solid $grey;
  align-items: center;
  box-shadow: 0 3px 3px $darkgary;
  border-radius: 11px;
  background: #fff;
  justify-content: flex-end;
  width: 97.5%;
  padding: 0 10px;
  margin-left: 15px;
}

.seller-details {
  min-height: 270px;

  .text-center {
    text-align: center;
  }

  > .rst__tree {
    //min-height: 250px;
    .icon {
      font-size: 1.4em;
      //visibility: hidden;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1919px) {
      .square {
        font-size: 1.8em;
      }

      @media only screen and (min-width: 1600px) and (max-width: 1679px) {
        .square {
          font-size: 2.5em;
        }
      }
    }

    .rst__node:first-child {
      //height: 75px !important;

      > .rst__lineBlock {
        display: none;
      }

      > .rst__nodeContent {
        left: 0 !important;
        top: 50px;
        width: 100%;

        .lineChildren {
          display: none;
        }
      }
    }

    .rst__node:nth-child(2) {
      //height: 425px !important;
      //left: -54px;
      //top: 20px;

      > .rst__nodeContent {
        top: 10px;
        margin-left: 10px;
      }

      .product-tree {
        margin-top: 12px;

        .icon {
          font-size: 1.4em;
        }

        .rst__node {
          height: 50px !important;

          //top: 20px;
          > .rst__lineBlock:nth-child(1) {
            width: 44px !important;
          }

          > .rst__lineBlock:nth-child(1)::after {
            left: 29% !important;
          }

          > .rst__lineBlock:nth-child(2) {
            width: 112px !important;
          }

          > .rst__lineBlock:nth-child(2)::before {
            top: 63.9% !important;
            width: 100% !important;
            left: 15% !important;
          }

          > .rst__lineBlock:nth-child(2)::after {
            height: 63.3% !important;
            left: 15% !important;
            top: 10px;
          }

          .rst__nodeContent {
            //top: -55px;
            width: 100%;
            left: 50px !important;
            top: 50px;

            > div {
              display: flex;
              align-items: center;
            }

            .rowWrapperDragDisabled {
              width: 95%;
            }
          }

          .sellers-tree {
            margin-left: 100px;
            width: 100%;

            .rst__node {
              height: 47px !important;
            }

            .rst__node:nth-child(1) {
              .rst__lineBlock:first-child {
                top: 45px !important;
              }
            }
          }
        }
        /* stylelint-disable no-descending-specificity */

        .rst__node:first-child {
          height: 55px !important;

          > .rst__lineBlock {
            display: block !important;
            height: 0;
            top: 55px;
          }

          > .rst__nodeContent {
            left: 50px !important;
            top: 50px !important;
            //top: 67px;

            .lineChildren {
              display: none !important;
            }
          }
        }

        .rst__node:nth-child(2) {
          > .rst__nodeContent {
            left: 40px !important;
          }
        }

        > .rst__node:last-child {
          .rst__lineBlock {
            display: none;
          }
        }

        > .rst__node:nth-last-child(2) {
          //>.rst__lineFullVertical {
          //  background: black;
          //}
          //>.rst__lineFullVertical::after {
          //  background: transparent;
          //}
        }
      }
    }

    > .rst__node:nth-child(2) {
      height: 275px !important;
      left: -54px;
      top: 60px;
      z-index: 0;

      > .rst__nodeContent {
        position: relative !important;
        top: -125px !important;

        > .rowContents {
          > .rowLabel {
            margin-left: 0 !important;

            > .rst__tree {
              .rst__node {
                .rst__nodeContent {
                  //background: white;
                  > div {
                    display: flex !important;
                    align-items: center;
                    margin-left: 30px;
                    margin-top: -3px;
                  }
                }
              }

              > .rst__node:first-child {
                > .rst__lineBlock {
                  display: inline-block !important;
                }
              }
            }
          }
        }
      }

      > .rst__lineHalfHorizontalRight {
        width: 78px !important;
        //height: 0 !important;
        //top: 74px !important;
      }

      .rst__lineHalfHorizontalRight::before {
        width: 70% !important;
        top: 100%;
      }

      .rst__lineHalfHorizontalRight::after {
        left: 29% !important;
        height: 100%;
      }
    }

    height: auto;

    .card {
      margin-top: 20px;
      margin-left: 30px;
      width: 97.3%;
      z-index: 9999;
      height: 100px;

      .rowContents {
        border: none;
      }

      .disabled-control {
        color: #e6e6e6 !important;
        border-color: #e6e6e6 !important;
        cursor: auto;
      }

      .export-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px 0;
        //margin-top: 40px;
        margin-left: 20px;
        width: 100%;

        .export-products {
          cursor: pointer;
          font-size: 13px;
          color: $black;

          .icon {
            font-size: 12px;
          }
        }

        .export-products-disabled {
          color: #e6e6e6;
          cursor: auto;
        }
      }

      .seller-information {
        z-index: 999;
        height: 211px;
        background: #fff;
        width: 100%;
        display: flex;
        padding: 16px;
        margin-left: 30px;
        border: 1px solid #a2a2a2;
        border-radius: 10px;
        justify-content: space-between;
        margin-bottom: 20px;

        .action-button-container {
          padding-top: 33px;

          .action-buttons {
            display: flex;
            align-items: center;

            .icon {
              font-size: 15px !important;
            }

            .refresh {
              line-height: 1;
            }

            .check-inventory {
              width: 168px;
              height: 25px;
              border: 0.5px solid $sellgo-orange;
              //line-height: 0;
              border-radius: 7px;
              text-align: left;
              padding-left: 10px !important;
              font-size: 14px;
              font-weight: 600;
              color: $sellgo-orange !important;
              display: flex;
              align-items: center;
            }

            .check-inventory-disabled {
              color: #e6e6e6 !important;
              border: 0.5px solid #e6e6e6 !important;
              pointer-events: none !important;
            }
          }

          .inventory-progress {
            margin-top: 10px;

            .ui.orange.progress .bar {
              background-color: $sellgo-orange;
            }
          }
        }

        .seller-logo-container {
          margin-left: 10px;

          .seller-logo {
            width: 153px;
            height: 38px;
            margin-left: 55px;
          }

          .business-details-container {
            display: flex;
            margin: 0 30px;

            .seller-address-container {
              padding-top: 7px;
              padding-left: 30px;

              .icon {
                margin-left: 25px;
                font-size: 12px;
                color: #757575;
                cursor: pointer;
              }
            }

            .seller-name {
              color: $black;
              font-size: 25px;
              font-weight: 600;
              max-width: 260px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .seller-info {
              color: $black;
              font-size: 14px;
            }

            .seller-info-address {
              @extend .seller-info;

              max-width: 200px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: pre-line;
              width: 184px;
            }
          }
        }

        .seller-products-container {
          @media only screen and (min-width: 1920px) and (max-width: 2500px) {
            width: 375px;
          }

          .label-flex {
            display: flex;
          }

          .seller-product-label {
            font-size: 14px;
            color: $black;
            padding: 5px 0;
            max-width: 370px;

            .seller-product-value {
              max-width: 370px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-weight: 400;
            }

            .value {
              color: $blue;
            }

            .icon {
              font-size: 14px;
              cursor: pointer;
              position: absolute;
              z-index: 9;
            }
          }

          .seller-product-marketplace {
            @extend .seller-product-label;

            display: flex;
            align-items: center;

            .place-image-container {
              margin-left: 10px;
              display: flex;
              align-items: center;

              .place-image {
                width: 15px;
                height: 15px;
              }
            }
          }
        }

        .statistics-container {
          margin: 0 17px;

          .static-row {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            border-bottom: 1px solid $grey;

            .cell {
              width: 75px;
              padding: 2px;
              font-size: 12px;
              text-align: center;
            }

            .negative {
              color: $red;
            }

            .head-cell {
              @extend .cell;

              width: 78px;
              font-weight: 500;
            }

            .head-cell-row {
              @extend .head-cell;

              width: 85px;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1919px) {
      .card {
        margin-left: 1px !important;

        @media only screen and (min-width: 1600px) and (max-width: 1679px) {
          margin-left: 20px !important;
        }

        .action-button-container {
          padding-top: 23px;

          .action-buttons {
            align-items: center;

            > .icon {
              font-size: 10px;
              line-height: 1;
            }

            > span {
              font-size: 10px !important;
            }

            .check-inventory {
              width: 150px !important;
              height: 23px !important;
              font-size: 10px !important;
              font-weight: 600 !important;
              color: $blue !important;

              .icon {
                font-size: 12px;
              }
            }

            @media only screen and (min-width: 1366px) and (max-width: 1440px) {
              width: 110px !important;
              line-height: 1 !important;
            }

            @media only screen and (min-width: 1440px) and (max-width: 1919px) {
              .check-inventory {
                width: 120px !important;
                height: 23px !important;
                line-height: 0.5 !important;
                font-size: 10px !important;
                font-weight: 600 !important;
                color: $blue !important;

                .icon {
                  font-size: 12px;
                  line-height: 0.8;
                }
              }
            }
          }
        }

        .seller-logo-container {
          margin-left: 15px !important;

          .seller-logo {
            width: 120px !important;
            height: 28px !important;
            margin-left: 10px !important;
          }

          @media only screen and (min-width: 1366px) and (max-width: 1680px) {
            .seller-logo {
              margin-left: 20px !important;
            }

            .seller-name {
              max-width: 180px !important;
            }
          }

          @media only screen and (min-width: 1440px) and (max-width: 1679px) {
            .seller-logo {
              margin-left: 30px !important;
            }

            .seller-name {
              max-width: 220px !important;
            }
          }

          .business-details-container {
            display: flex;
            margin: 0 20px !important;

            @media only screen and (min-width: 1366px) and (max-width: 1680px) {
              margin: 0 28px !important;
            }

            .seller-address-container {
              padding-top: 0 !important;
              padding-left: 10px !important;

              @media only screen and (min-width: 1600px) and (max-width: 1679px) {
                padding-left: 20px !important;
              }

              .icon {
                margin-left: 22px !important;
                font-size: 12px;
                color: #757575;
                cursor: pointer;
              }
            }

            .seller-name {
              color: $black;
              font-size: 20px !important;
              font-weight: 600;
            }

            .seller-info {
              color: $black;
              font-size: 10px !important;
            }

            .seller-info-address {
              white-space: pre-line;
              width: 164px !important;
            }
          }
        }

        .seller-products-container {
          .seller-product-label {
            font-size: 10px !important;
            color: $black;
            padding: 5px 0;
            max-width: 230px !important;

            .seller-product-value {
              max-width: 230px !important;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .value {
              color: $blue;
            }
          }

          .seller-product-marketplace {
            display: flex;

            .place-image-container {
              margin-left: 5px;

              .place-image {
                margin: 0 2px;
              }
            }
          }
        }

        .statistics-container {
          margin: 0 20px !important;

          .static-row {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            border-bottom: 1px solid $grey;

            .cell {
              width: 55px !important;
              padding: 2px;
              font-size: 10px !important;
              text-align: center;
            }

            .negative {
              color: $red;
            }

            .head-cell-row {
              width: 75px !important;
            }
          }

          @media only screen and (min-width: 1366px) and (max-width: 1439px) {
            margin: 0 18px !important;

            .cell {
              width: 55px !important;
              padding: 2px;
              font-size: 10px !important;
              text-align: center;
            }

            .head-cell-row {
              width: 65px !important;
            }
          }

          @media only screen and (min-width: 1440px) and (max-width: 1599px) {
            margin: 0 24px !important;

            .cell {
              width: 60px !important;
              padding: 2px;
              font-size: 10px !important;
              text-align: center;
            }

            .head-cell-row {
              width: 65px !important;
            }
          }

          @media only screen and (min-width: 1600px) and (max-width: 1679px) {
            margin: 0 25px !important;

            .cell {
              width: 65px !important;
              padding: 2px;
              font-size: 10px !important;
              text-align: center;
            }

            .head-cell-row {
              width: 95px !important;
            }
          }

          @media only screen and (min-width: 1680px) and (max-width: 1919px) {
            margin: 0 135px 0 90px !important;

            .cell {
              width: 55px !important;
              font-size: 10px !important;
              text-align: center;
            }

            .head-cell-row {
              width: 95px !important;
            }
          }
        }
      }
    }
  }
}

.zero-products {
  > .rst__tree {
    > .rst__node:nth-child(2) {
      > .rst__lineBlock {
        //display: none;
        visibility: hidden;
      }

      .product-tree {
        > .rst__node {
          .rst__lineBlock {
            visibility: hidden;
          }
        }
      }
    }
  }
}
