.profitSysFilterPanel {
  .ui.divider:not(.vertical):not(.horizontal) {
    border-top: 1px solid #707070;
  }

  .ui.card {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;
  }

  .ui.card > .content > .header {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-top: 6px;
  }

  .ui.card > .content > p {
    font-size: 14px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 14px;
  }

  .ui.card > .content > span {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
    padding-bottom: 5px;
  }

  .products {
    font-size: 20px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid #707070;
    padding: 0 0 26px 10px;
  }

  .searchDropdown {
    padding-top: 38px;
  }

  .customCheck {
    width: 100%;
    margin-bottom: 21px;
  }

  .customCheck .ui.checkbox label {
    font-size: 16px;
  }
}
