@import '../../../../../design-system/new-colors.scss';

.productSalesTableWrapper {
  padding-top: 18px;
  padding-bottom: 60px !important;

  .expandButton {
    width: 30px;
    background: none;

    svg {
      width: 10px;
      height: 10px;
    }
  }

  .timeSettings {
    display: flex;
    align-items: center;

    > div {
      margin-left: 30px;
      min-width: 0;
      width: 100px;
    }
  }

  .tableTitles {
    width: 300px;
    min-width: 300px;

    p {
      display: flex;
      align-items: center;
      color: $black_1;
      font-size: 14px;
      margin: 0;
      margin-left: 30px;
    }

    .salesRowTitle {
      margin-left: 0 !important;
      font-weight: $fontweight_semibold;
      font-size: 12px;
    }
  }
}
