.product-tracker-filters {
  // Negative margin to make up for (most) of extra left padding due to column
  margin-left: -0.8rem;
  width: calc(100% + 1rem);
  margin-top: -24px;

  .products-count {
    color: 'black';
    font-size: 18px;
    margin-left: 0;
    font-weight: 600;
    text-align: center;

    // Wider style
    //font-size: 20px;
    //margin-left: 16px;
  }

  // Dropdown that says "select a preset"
  .search-dropdown {
    padding-top: 0.6rem;
  }

  .custom-check {
    width: 100%;
    margin-bottom: 21px;
    .ui.checkbox label {
      font-size: 16px;
    }
  }
  .check-filter {
    margin-top: 48px;
    .ui.checkbox input:checked ~ .box:after,
    .ui.checkbox input:checked ~ label:after {
      color: #fff !important;
      background: #4b9af7 !important;
      border-radius: 5px;
    }
  }
  .filter-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 14px;
    label {
      font-weight: 500;
    }
  }
  i.small.icon.question {
    font-size: 1em !important;
    color: #98aeca !important;
    padding-left: 0.5rem;
  }
  .ui.checkbox input.hidden + label {
    font-size: 12px;
    font-family: inherit;
    color: black;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-top: 49px !important;
  }
}
