@import '../../../../design-system/new-colors.scss';

/* Basic Filter Styles */
.basicFilters {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 30px 0 !important;
  padding-bottom: 0 !important;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  height: max-content;

  @media only screen and (max-width: 1690px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }

  @media only screen and(max-width: 1460px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
