.settings .basic-info-update.ui.grid {
  margin-top: 5rem !important;
}

.settings .upload-photo button {
  margin-right: 2rem;
}

.settings .autho-form {
  margin-top: 1.5rem;
}

.ui.header {
  font-family: 'Montserrat', sans-serif !important;
}

.settings .autho-sub-hear,
.settings .ui.small.header {
  font-size: 1.2rem;
  font-weight: 400;
}

.settings .ui.form .field > label {
  font-size: 1rem;
}

.settings .autho-form .ui.form .field > label::after {
  content: '\f059';
}

.settings .ui.primary.button {
  background: #4285f4;
  border: none;
  border-radius: 50px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 310px) and (max-width: 767px) {
  .settings h2 {
    text-align: center;
  }

  .txt-cntr {
    text-align: center !important;
  }
}

.ui.grid.settings-container {
  $font-fam: 'Work Sans', sans-serif !important;

  width: 85%;
  margin: 40px auto !important;

  h3,
  input,
  .button {
    font-family: $font-fam;
  }

  h3.ui.header {
    font-family: $font-fam;
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }

  .row:nth-child(1) h3.ui.header {
    color: #3b4557;
    margin-bottom: 10px;
  }

  .row {
    padding-bottom: 20px !important;
  }

  input,
  .ui.selection.dropdown,
  .password-content input {
    font-family: $font-fam;
    min-height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 11px !important;
    width: 367px !important;
    display: flex;
    align-items: center;
    border: 0.5px solid #888;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 1px 2px #00000029;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    color: #3b4557;
  }

  input::placeholder,
  .ui.selection.dropdown::placeholder,
  .password-content input::placeholder {
    color: #888;
  }

  input:-webkit-autofill,
  .ui.selection.dropdown:-webkit-autofill,
  .password-content input:-webkit-autofill {
    -webkit-text-fill-color: #3b4557 !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  .primary-btn button.ui.button,
  .error-btn button.ui.button {
    font-size: 16px;
    width: 167px;
    height: 35px;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    color: #f8faff;
    padding: 0;
  }

  .primary-btn button.ui.button {
    background: #349af8 0% 0% no-repeat padding-box;
    border: 0.5px solid #349af8;
  }

  .ui.form {
    margin-left: 50px;

    .sub.header:first-child {
      margin-bottom: 20px;
      font-size: 16px;
      color: #000;
    }
  }

  a {
    color: #349af8;
    font-weight: 500;
    font-size: 13px;
  }

  i {
    cursor: pointer;
    width: 12px;
    height: 15px;
  }

  a:hover {
    text-decoration: underline;
  }

  .phone-header,
  .email-header,
  .change-pass-header,
  .amazon-header {
    margin-bottom: 30px;
    border-bottom: 1px solid #707070;
  }

  @import './Password/Password';
}

@import './SettingsStyles/SellerAmazonMWS';
@import './SettingsStyles/SellerProfile';

.ui.top.left.basic.popup.transition.visible.pop-market,
.ui.top.left.basic.popup.transition.visible.pop-seller,
.ui.top.left.basic.popup.transition.visible.pop-token {
  min-height: 36px !important;
  padding: 3px 10px !important;
}

.ui.top.left.basic.popup.transition.visible.pop-market {
  min-width: 220px !important;
}

.ui.top.left.basic.popup.transition.visible.pop-seller {
  min-width: 306px !important;
}

.ui.top.left.basic.popup.transition.visible.pop-token {
  min-width: 434px !important;
}

.ui.small.modal.transition.visible.active.auth-token-confirm {
  $font-fam: 'Work Sans', sans-serif !important;

  box-shadow: none !important;
  padding: 30px 55px;
  width: 979px;
  height: 553px;
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe8f3;
  border-radius: 20px;

  a,
  span.auth-amazon {
    color: #349af8;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  .header,
  button {
    font-family: $font-fam;
  }

  h3.ui.icon.header {
    padding-top: 10px;
    color: #000 !important;
    font-size: 30px;
    font-weight: bold;
  }

  .ui.placeholder.segment {
    min-height: 8rem;
  }

  .sub.header {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #000 !important;
    font-size: 16px;
    text-align: left;

    .ui.ordered.list > .item {
      line-height: 40px;
    }
  }

  .ui.clearing.divider {
    width: 89%;
    margin: 20px auto;
  }

  button.ui.button {
    padding: 5px 15px !important;
    width: 150px;
    height: 36px;
    background: #349af8 0% 0% no-repeat padding-box !important;
    border: 1px solid #4285f4 !important;
    border-radius: 40px;
    font-weight: bold;
    font-size: 16px;
    color: #fff !important;
  }

  button.ui.button:first-child {
    display: none;
  }

  button.ui.button:last-child {
    border: 2px solid #349af8;
    background: #349af8;
    color: #fff;
  }

  button.ui.button:last-child:hover {
    background: #3d94d6;
    color: #fff;
  }

  .ui.placeholder.segment,
  .actions {
    border: 0 !important;
    background: none !important;
    box-shadow: none;
    padding: 0 !important;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .ui.small.modal.transition.visible.active.auth-token-confirm {
    width: 90% !important;
    height: max-content;
  }

  .password-content#password-content {
    .field {
      margin-bottom: 20px;
    }
  }

  .ui.top.left.basic.popup.transition.visible.pop-market,
  .ui.top.left.basic.popup.transition.visible.pop-seller,
  .ui.top.left.basic.popup.transition.visible.pop-token {
    height: max-content !important;
  }
}

@media only screen and (max-width: 425px), only screen and (max-width: 615px) {
  .ui.grid.settings-container {
    h3.ui.header {
      text-align: center;
    }

    form.ui.form {
      width: 85%;
      margin: 0 auto 60px auto;

      .field {
        width: 100%;
        margin-bottom: 20px;
      }

      button.ui.button,
      .ui.selection.dropdown {
        width: 100% !important;
      }
    }
  }

  .ui.top.left.basic.popup.transition.visible.pop-market,
  .ui.top.left.basic.popup.transition.visible.pop-seller,
  .ui.top.left.basic.popup.transition.visible.pop-token {
    min-width: 30% !important;
    height: max-content !important;
  }
}
