@import '../../../../design-system/new-colors.scss';

.expectedDaysOfInventoryTableWrapper {
  padding: 18px;
  background: $prim_white;
  border: 1px solid $grey_3;
  border-radius: 7px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.borderedCell {
  border-right: 1px solid $grey_3;
  border-bottom: 1px solid $grey_3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableTitle {
  display: flex;
  align-items: center;
  font-weight: $fontweight_medium;
  color: $grey_8;
  font-size: 12px !important;
  margin: 0;
  margin-left: 30px;
}

.titleCell {
  font-size: 12px;
  font-weight: $fontweight_medium;
  color: $grey_8;
}
