@import '../../../design-system/new-colors';

.upsellCtaPage {
  display: flex;
  background: #f7f7f7;
}

.leftSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > h2 {
    width: 700px;
    font-size: 30px;
    font-weight: $fontweight_bold;
    color: $black_0;
  }

  > p {
    margin: 30px 0;
    width: 700px;
    font-size: 14px;
    font-weight: $fontweight_medium;
    color: $grey_8;
  }
}

.benefitsTable {
  border: 1px solid $grey_3;
  background: $prim_white;
  border-radius: 20px;
  width: 700px;
  height: max-content;
  padding: 10px 30px;
  display: flex;

  .benefitsColumn {
    width: 60%;
    margin-top: 20px;

    > h2 {
      line-height: 20px;
      color: $grey_8;
      font-size: 14px;
      font-weight: $fontweight_regular;
      margin-bottom: 30px;
    }

    > span {
      display: flex;
      align-items: center;
      height: 50px;
      color: $prim_dark_2;
      font-size: 16px;
      font-weight: $fontweight_semibold;
      border-bottom: 1px solid $grey_3;
    }
  }

  .freePlanColumn {
    width: 20%;
    margin-top: 20px;

    > h2 {
      color: $black_1;
      line-height: 20px;
      font-size: 14px;
      font-weight: $fontweight_semibold;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
    }

    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      color: $grey_8;
      font-size: 14px;
      font-weight: $fontweight_regular;
      border-bottom: 1px solid $grey_3;
    }
  }

  .professionalColumn {
    width: 20%;
    border: 3px solid $sellgo_purple;
    padding: 18px 0;
    border-radius: 7px;
    position: relative;

    .price {
      position: absolute;
      top: 38px;
      font-size: 14px;
      font-weight: $fontweight_semibold;
      color: $grey_8;
      left: 25%;
    }

    > h2 {
      color: $black_1;
      line-height: 20px;
      font-size: 14px;
      font-weight: $fontweight_semibold;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
    }

    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      color: $sellgo_purple;
      font-size: 14px;
      font-weight: $fontweight_semibold;
      border-bottom: 1px solid $grey_3;
    }
  }
}

.activateButton {
  width: 150px;
  margin-top: 30px;
  margin-left: 500px;
  font-size: 16px !important;
  font-weight: $fontweight_semibold;
}

.upsellImg {
  height: 100% !important;
  object-fit: contain;
}
