@import '../../../design-system/colors';

.create-group-modal {
  .header {
    border-bottom: none !important;
  }

  .ui.input {
    width: 100%;

    .ui.input > input {
      border: 1px solid #cecfcf;
    }
  }

  .cancel-btn {
    background: white;
    border: 1px solid #cecfcf;
    color: black;
    width: 134px;
  }

  .create-btn {
    background: #4b9af8;
    color: #fff;
    width: 134px;
  }
}

.sf-menu-bar {
  .ui.secondary.pointing.menu {
    border: none !important;
    width: max-content;
    overflow-x: auto;

    h4.ui.header {
      font-family: 'Work Sans', sans-serif !important;
      color: $text-color !important;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
    }

    .item {
      border-bottom: 1px solid #707070 !important;
      margin-bottom: 0 !important;
    }

    .active.item {
      background-color: #fff;
      border: 1px solid;
      border-bottom: none !important;
      padding-bottom: 10px !important;
      margin-bottom: 0;
      border-color: #707070 !important;

      @media screen and (min-width: 1025px) {
        border-radius: 4px 4px 0 0;
      }

      h4.ui.header {
        color: $text-color !important;
      }
    }
  }
}
