.create-group-modal {
  .header {
    border-bottom: none !important;
  }

  .ui.input {
    width: 100%;

    .ui.input > input {
      border: 1px solid #cecfcf;
    }
  }

  .cancel-btn {
    background: white;
    border: 1px solid #cecfcf;
    color: black;
    width: 134px;
  }

  .create-btn {
    background: #4b9af8;
    color: #fff;
    width: 134px;
  }
}

.menu-bar {
  .menu-bar-inner {
    &::-webkit-scrollbar {
      height: 4px;
    }

    @media screen and (min-width: 768px) {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 60%;
  }

  .ui.secondary.pointing.menu .item {
    @media screen and (min-width: 1025px) {
      border-radius: 4px 4px 0 0;
    }

    h4 {
      font-family: 'Work sans', sans-serif !important;
      color: #000 !important;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .ui.blue.menu .active.item,
  .ui.menu .blue.active.item {
    border-color: #98aeca !important;
  }

  .ui.secondary.pointing.menu .active.item {
    background-color: #fff;
    border: 1px solid;
    border-bottom: none !important;
    padding-bottom: 10px !important;
    margin-bottom: 0;

    @media screen and (min-width: 1025px) {
      border-radius: 4px 4px 0 0;
    }

    h4 {
      font-family: 'Work sans', sans-serif !important;
      color: #000 !important;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}
