@import '../../../../../design-system/new-colors';

.sellerInformation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sellerInformationLeft {
  max-width: 180px;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center !important;

  img {
    max-width: 100%;
    height: 40px;
    margin-bottom: 10px;
  }
}

.sellerInformationRight {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 450px;
  flex: 1;

  h2 {
    font-size: 14px;
    color: $prim_dark_1 !important;
    margin: 0;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
  }
}

.sellerBusinessDetails {
  font-size: 14px !important;
  color: $grey_8;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  word-wrap: pre;

  h3 {
    font-weight: 400;
    font-size: 12px !important;
    line-height: 1;
    color: $grey_8;
  }

  p {
    margin-left: 10px;
    flex: 1;
    line-height: 1;
    color: $grey_8;
    font-size: 12px !important;
  }

  img {
    border-radius: 50px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
  }
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;

  p {
    max-width: 2800px;
    word-wrap: break-all;
    margin: 0;
    font-size: 12px !important;
    color: $grey_8;
  }
}
