@import '../../../../design-system/new-colors';

.filterSection {
  padding: 0;
  width: 220px;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Basic Filter Styles */
.basicFilters {
  background: $prim_white;
  border-radius: 7px 7px 7px 7px;
  padding: 0 0 0 0;
  margin-left: -24px;
  height: max-content;
}

/* Advanced Filter Styles */
.advancedFilterWrapper {
  background: $grey_10;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 7px;
  height: max-content !important;
  user-select: none;
}

.showAdvancedFilter {
  padding: 11px 18px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 0;
  justify-content: start;

  @media only screen and (max-width: 1650px) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 18px;

    .spacers {
      display: none;
    }
  }

  @media only screen and(max-width: 1450px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.filterPeriod {
  p {
    opacity: 0 !important;
  }
}

.groupFilters {
  display: flex;
  align-items: flex-start;
}

.reviewGroupedFilter {
  .groupFilters {
    margin-top: 10px;
  }
}

.activeFilter {
  input {
    border: 2px solid $blue_6 !important;
  }
}

.accordian__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: -11px;

  &__block {
    display: flex;
    color: $grey_8;
  }

  &__arrowImage {
    width: 11px;
  }
}

.accordianBlockWrapper {
  padding: 7px 18px 11px 18px;
  margin-top: 3px;

  &__active {
    // border: 1px solid;
    // border-image-source: $orange_purple_gradient;
    // border-radius: 7px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 7px 7px 7px 7px;
      padding: 2px;
      background: $orange_purple_gradient;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    .accordian__title__block {
      color: $prim_dark_1 !important;
      font-weight: $fontweight_semibold;
    }
  }
}

.filterType {
  display: flex;
  padding: 11px 0 7px 0;
  margin-left: -14px;

  &__text {
    margin-left: 11px;
    font-weight: $fontweight_semibold;
  }

  &__img {
    cursor: pointer;
  }
}

.hide {
  display: none !important;
}

.activeFiltersWrapper {
  padding: 20px 18px 11px 18px !important;
  margin-top: 3px;
  background: #fff;
  border-radius: 7px 7px 7px 7px;
  margin-left: -24px;

  .activeFiltersPils {
    display: flex;
    flex-wrap: wrap;

    &__pil {
      padding: 5px;
      margin: 10px 0 0 10px;
      background-color: $grey_6;
      color: $prim_white;
      font-size: 12px;
      border-radius: 7px;

      .cross {
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }

  .btnWrapper {
    display: flex;
    justify-content: flex-end;

    .btn {
      background: transparent;
      border: 1px solid;
      border-radius: 7px;
      float: right;

      .cross {
        margin-right: 5px;
      }
    }
  }
}

.minMaxCount {
  display: flex;
  flex-direction: column;

  &__choice {
    margin-bottom: 5px;
  }
}
