@import '../../design-system/new-colors';

/* Style Guide for cta button */
.ctabutton {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: 1px solid $grey_6;

  &__primary {
    background: $grey_6;
    color: #fff;
    border: 1px solid $grey_6;
  }

  &__secondary {
    background: #fff;
    color: $grey_8;
    border: 1px solid $grey_6;
  }

  &__large {
    width: max-content;
    padding: 0 4rem;
    font-size: 14px;
    height: 65px;
    font-weight: normal;
  }

  &__medium {
    width: max-content;
    padding: 0 3rem;
    font-size: 14px;
    height: 50px;
    font-weight: normal;
  }

  &__small {
    width: max-content;
    padding: 0 2rem;
    font-size: 14px;
    height: 35px;
    font-weight: normal;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
