@import '../../../design-system/colors.scss';

.selectionFilterWrapper {
  width: max-content !important;
  height: max-content !important;

  p {
    margin: 0;
    color: $sellgo-text;
    font-size: 16px;
    font-weight: 500;
  }
}

.ui.dropdown.selectionFilter {
  color: $sellgo-text !important;
  background-color: $prim_white;
  border: 1px solid $sellgo-light-gray-100 !important;
  max-height: 35px !important;
  min-height: 35px !important;
  height: 35px;
  min-width: 250px !important;
  font-size: 14px;
  font-weight: 400 !important;
  padding: 8px 10px !important;
  border-radius: 4px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu.transition {
    border: 1px solid $sellgo-light-gray-100 !important;
    width: 100% !important;
    font-size: 12px !important;
    max-height: 250px !important;
    z-index: 999;

    .item {
      span {
        font-size: 14px !important;
      }
    }
  }
}
