@import '../../../design-system/new-colors';

.selectionFilterWrapper {
  width: max-content;
  height: max-content !important;
  min-width: 250px;

  p {
    margin: 0 7px 3px;
    color: $grey_8 !important;
    font-size: 12px;
    font-weight: 600;
  }

  .ui.dropdown.selectionFilter {
    margin: 0;
    color: $grey_8 !important;
    background-color: $prim_white;
    border: 1px solid $grey_3;
    max-height: 35px !important;
    min-height: 35px !important;
    height: 35px;
    font-size: 12px;
    font-weight: 500 !important;
    padding: 7px 10px !important;
    border-radius: 3px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      color: $grey_8 !important;
      font-size: 12px !important;
    }

    .default {
      color: $grey_5 !important;
    }

    &__focused {
      border: 2px solid $grey_3 !important;
    }

    &:hover {
      background-color: $grey_10 !important;
    }

    &.error {
      border: 1px solid $system_red !important;
    }

    .menu.transition {
      border: 1px solid $grey_3 !important;
      width: 100% !important;
      font-size: 12px !important;
      max-height: 250px !important;
      z-index: 999;

      .item {
        color: $grey_8 !important;
        font-weight: 400;
        font-size: 12px;

        &:hover {
          background: $grey_1 !important;
          font-weight: 500 !important;
        }

        &.active {
          font-weight: 500 !important;
        }
      }
    }
  }

  .disabled {
    opacity: 0.5;
  }
}
