@import '../../../design-system/new-colors';

@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.btn {
  margin: 10px auto 0;
}

.OrgChartBox {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: 18px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 3px 6px #00000029;
}

.orgChartWrapper {
  overflow: auto;
  padding: 0 30px 30px;

  @include no-scroll-bar();
}

.informationHeading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 18px 30px 11px 30px;
  color: $grey_8;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid $grey_3;
}

.employeeBox {
  width: 300px;
  margin: auto;
  border: 1px solid $grey_13;
  border-radius: 7px;
  box-shadow: 0 3px 6px #00000029;
  padding: 20px;

  .name {
    color: $link_blue;
    font-size: $fontsize_content_14;
    font-weight: $fontweight_semibold;
  }

  .positon {
    color: $grey_8;
    font-size: $fontsize_content_10;
    font-weight: $fontweight_regular;
  }

  .socialLink {
    margin-right: 10px;
  }
}

.label {
  color: $grey_8;
  font-size: $fontsize_content_16;
  font-weight: $fontweight_medium;
  margin: 15px 0;
}

.reviewRatingsWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__container {
    width: 49.5%;
    background-color: $prim_white;
    border-radius: 7px;
    box-shadow: 0 3px 6px #00000029;
    height: 380px;
    position: relative;
  }

  &__ratingBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 380px;
    height: fit-content;
  }

  &__rating {
    display: flex;
    align-items: center;

    p {
      color: $prim_dark_1;
      font-size: $fontsize_subtitle_30;
      font-weight: $fontweight_bold;
      margin-left: 30px;
    }
  }

  &__label {
    color: $grey_3;
    font-size: $fontsize_content_16;
    font-weight: $fontweight_medium;
    text-align: center;
  }

  &__totalReviewBox {
    margin-top: 50px;
    text-align: center;
  }

  &__totalReviewCount {
    color: $prim_dark_1;
    font-size: $fontsize_subtitle_32;
    font-weight: $fontweight_bold;
  }

  &__totalReviewLabel {
    color: $grey_3;
    font-size: $fontsize_content_16;
    font-weight: $fontweight_medium;
  }

  &__percentageRatingBox {
    margin: 30px;
  }

  &__percentageRatingLabel {
    color: $prim_dark_1;
    font-size: $fontsize_subtitle_20;
    font-weight: $fontweight_semibold;
    text-align: center;
  }

  &__percentageRatingContainer {
    margin-top: 20px;
  }

  &__percentageRating {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;

    p {
      color: $prim_dark_1;
      font-size: $fontsize_content_18;
      font-weight: $fontweight_semibold;
      margin: 0 15px;
    }
  }
}

.disabled {
  opacity: 0.5;
}

.horizontalSlider {
  width: 40%;
  height: 10px;
  margin: auto;
}

.lineNumber {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 10px auto 0;
}

.sliderThumb {
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  background-color: #fff;
  color: #fff;
  border: 1px solid #eb675e;
  border-radius: 50%;
  cursor: grab;
  top: -10px;
}

.sliderThumbIncrease {
  border: 1px solid #349af8;
}

.sliderTrack {
  top: 0;
  bottom: 0;
  background: #eb675e;
  opacity: 0.7;
  border-radius: 999px;
}

.sliderTrackIncrease {
  background: #349af8;
}

.decreasingStarsLabel {
  margin-top: 30px;
  text-align: center;
  color: #eb675e;
}

.increasingStarsLabel {
  margin-top: 30px;
  text-align: center;
  color: #349af8;
}
