@import '../../../../design-system/new-colors';

.apiFormGrid {
  position: relative;
  background-color: $grey_0;
  width: 700px;
  height: max-content;
  padding: 30px 0;
  display: grid;
  grid-template-rows: 40px;
  row-gap: 18px;
}

.deleteIcon {
  position: absolute;
  top: 20px;
  right: 20px;

  &:hover {
    cursor: pointer;
  }

  &__disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.3 !important;

    &:hover {
      cursor: not-allowed;
    }
  }
}

.copyToClipboard {
  display: flex;
}

.formInput {
  display: grid;
  grid-template-columns: 160px 300px;
  column-gap: 30px;
  align-items: center;
  color: $grey_8 !important;

  &__name,
  &__key {
    margin-top: 10px !important;
  }

  &__apiType {
    p {
      margin: 0;
      color: $prim_dark_1 !important;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .formLabel {
    width: 100%;
    text-align: right;
  }

  .formValue {
    margin: 0;

    .pencilIcon {
      font-size: 10px;
      margin-left: 10px;
    }

    /* Zapier icon and key icon */
    img {
      margin-right: 10px;
    }

    &__key {
      color: $grey_6;
    }

    &__showKey {
      display: flex;
      font-weight: 600;
    }
  }

  input {
    border: 1px solid $grey_3 !important;
    color: $grey_8 !important;

    &:focus {
      border: 2px solid $blue_6 !important;
    }
  }

  .warningMessage {
    grid-column-start: 2;
    color: $system_blue;
    font-weight: 500;
  }
}

.buttonsRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .updateButton {
    margin-left: 18px;
    margin-right: 30px;
    width: 140px;

    &__disabled {
      opacity: 0.6 !important;
      cursor: unset;
      pointer-events: none;
    }
  }
}
