.untrack-success {
  font-family: 'Work Sans', sans-serif !important;
  padding: 10px 20px !important;
  color: #ececec !important;
  font-size: 16px !important;

  .sub.header {
    font-size: 13px !important;
    padding-top: 13px !important;
    color: #ececec !important;
  }
}

.email-update-success {
  font-family: 'Work Sans', sans-serif !important;
  padding: 10px 20px !important;
  color: #ececec !important;
  font-size: 16px !important;

  .sub.header {
    font-size: 13px !important;
    padding-top: 13px !important;
    color: #ececec !important;
  }
}
