@import '../../../../design-system/new-colors';

.orderPlanningMeta {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}

.filterContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.editSkuButton {
  width: 150px;
  margin-right: 30px;

  /* Styling for plus icon */
  svg {
    margin-right: 8px;

    path {
      fill: $grey_8 !important;
    }
  }

  &:hover {
    path {
      fill: $prim_white !important;
    }
  }
}
