.filter-section {
  position: sticky;
  top: 13px;
  background: #f8faff;
  z-index: 4;
  transition-property: top;
  transition-duration: 1s;

  &.scroll-top {
    top: 70px;
    transition-property: top;
    transition-duration: 1s;
  }

  &.sticky-chart-active {
    top: 285px;
    transition-property: top;
    transition-duration: 1s;
  }

  &.scroll-top.sticky-chart-active {
    top: 364px;
    transition-property: top;
    transition-duration: 1s;
  }

  .ui.basic {
    &.button {
      border-radius: 100px;
      border: 1px solid #98aeca;
      box-shadow: none !important;
      display: flex;
      align-items: center;
      font-family: 'Work Sans', sans-serif !important;
      position: relative;
      height: 32px;
      width: 107px;
      padding: 0 !important;
      margin-top: 0;
      justify-content: space-evenly;
      background: white !important;

      &.more-filter {
        padding: 0 10px 0 13px !important;
        display: flex;
        align-items: center;
        width: 86px;
      }

      .filter-name {
        color: #3b4557;
        font-weight: 600;
      }

      .filter-count {
        background-color: #349af8;
        color: white;
        border-radius: 50%;
        font-size: 14px;
        width: 20px;
        height: 20px;
        margin-left: 10px;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      i {
        position: relative !important;
        background: none !important;
        width: 11px;

        &.sliders {
          color: #349af8 !important;
          width: 17px;
        }

        &.filter,
        &.angle.down {
          width: 11px;
        }

        &.filter.icon.blue {
          color: #349af8 !important;
        }

        &.filter.icon.grey {
          color: #98aeca !important;
        }

        &.filter-left-icon {
          color: #3b4557;
          padding-left: 5px;
          opacity: 0.1;
        }
      }

      &.reset-filter-btn {
        width: 83px;
        height: 25px;
        font-weight: 600;
        border: 1px solid #98aeca;
        border-radius: 100px;
        color: #98aeca !important;
        padding: 4px 22px;
        box-shadow: unset;
      }

      &.apply-filter-btn {
        width: 83px;
        height: 25px;
        font-weight: 600;
        border: 1px solid #349af8;
        border-radius: 100px;
        color: #349af8 !important;
        padding: 4px 22px;
        box-shadow: unset;
      }

      &.active {
        background: white !important;
      }
    }
  }

  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__options {
      display: flex;
      width: 100%;
    }

    .leads-export-wrapper {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      padding-right: 5px;

      .ToggleSwitch {
        width: 55px;
        margin-right: 20px;
        margin-left: 10px;
      }

      p {
        font-weight: 600;
        color: #3b4557;
        font-size: 14px;
        margin: inherit;

        &.hidden {
          display: none;
        }
      }

      .ui.basic.button {
        box-shadow: inset 0 2px 1px #dbe0e457, 0 1px 1px rgba(0, 0, 0, 0.1) !important;
        background: 0 0 !important;

        &:hover {
          background: white !important;
        }
      }
    }
  }
}

.ui.bottom.center.basic.popup.transition.visible.export__list {
  width: 80px;
  margin-top: 0 !important;
  padding: 0;

  .item {
    align-items: center;
    padding: 7px 0 7px 11px !important;
    display: flex !important;
    min-height: 26px;
    justify-content: flex-start;

    &.disabled {
      opacity: 0.5;
    }

    a {
      color: black;
    }

    .ui.image {
      img {
        max-width: 16px;
        min-width: 16px;
      }

      &:last-child {
        img {
          max-width: 23px;
          min-width: 23px;
        }
      }
    }

    span {
      font-size: 12px !important;
    }

    &:last-child {
      .ui.image {
        padding-right: 0 !important;

        img {
          max-width: 23px;
        }
      }
    }
  }
}

.filter-button-popup {
  max-width: 87% !important;
  width: 87% !important;
  height: 500px;
  overflow: auto;

  i.fas.fa-times {
    font-size: 15px;
    position: absolute;
    right: 15px;
    top: 11px;
    color: #98aeca;
    cursor: pointer;
  }
}

.ui.left.basic.popup.transition.visible.pf-preset-filter-popup {
  max-width: 450px !important;
  width: 100% !important;
  height: 265px !important;
  border-radius: 10px;

  i.fas.fa-times {
    font-size: 15px;
    position: absolute;
    right: 15px;
    top: 11px;
    color: #98aeca;
    cursor: pointer;
  }

  .presets-filter-content-wrapper {
    &__header {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      &__options {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__filter-name {
          font-weight: 600;
          color: #3b4557;
          font-size: 16px;
          line-height: 1;
          margin-bottom: 5px;
        }

        &__close-btn {
          font-size: 20px;
          color: #98aeca;
          font-weight: 600;
          cursor: pointer;
          font-family: 'Work sans', sans-serif;
        }
      }

      &__preset-reset {
        padding: 0 10px;

        p {
          cursor: pointer;
          color: #349af8;
          font-size: 12px;
          display: contents;
        }
      }
    }

    &__content {
      &__filter-name {
        font-weight: 600;
        color: #3b4557;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 5px;
      }

      &__filter-item {
        margin-bottom: 5px;
      }

      display: flex;
      flex-direction: column;
      padding: 0 10px;
    }

    .ui.checkbox {
      max-width: 295px;
      margin-right: 20px;

      &.customizable-checkbox {
        max-width: 400px !important;
        display: flex;
        align-items: center;

        .customizable-checkbox__label {
          font-weight: 500;
        }

        .input {
          max-width: 60px;
          margin: 0;
          color: #98aeca;
          margin-right: 5px;

          input {
            padding: 3px 0 3px 5px;
            border-radius: 5px;
            border: 1px solid #98aeca;
            font-size: 12px;
            font-weight: 500;
            font-family: 'Work sans', sans-serif;
          }
        }

        .dropdown {
          border: 1px solid #98aeca;
          background: #fff;
          border-radius: 5px;
          padding: 1px 0 1px 5px;
          margin: 0 5px;
          font-size: 12px;
          font-weight: 500;

          .icon {
            border: unset !important;
            margin: 0;
            height: 10px;
            color: #98aeca;
          }

          .menu {
            border-radius: 5px;
            border: 1px solid #98aeca;

            .item {
              width: 15px;
              padding: 5px 3px 4px 4px !important;
              font-size: 12px;
            }
          }
        }
      }

      label {
        color: #3b4557;
        font-size: 14px;
        display: unset !important;
        cursor: pointer;
      }

      input:checked ~ .box::before,
      input:checked ~ label::before {
        background-color: #349af8;
        border: 1px solid #d4d4d5;
      }

      input:checked ~ .box::after,
      input:checked ~ label::after {
        color: #fff;
      }
    }
  }
}

@media (max-width: 2560px) {
  .filter-section {
    &.sticky-chart-active {
      top: 585px;
    }

    &.scroll-top.sticky-chart-active {
      top: 608px;
    }
  }
}

@media (max-width: 2550px) {
  .filter-section {
    &.sticky-chart-active {
      top: 462px;
    }

    &.scroll-top.sticky-chart-active {
      top: 480px;
    }
  }
}

@media (max-width: 1920px) {
  .filter-section {
    &.sticky-chart-active {
      top: 450px;
    }

    &.scroll-top.sticky-chart-active {
      top: 490px;
    }
  }
}

@media (max-width: 1680px) {
  .filter-section {
    &.sticky-chart-active {
      top: 340px;
    }

    &.scroll-top.sticky-chart-active {
      top: 364px;
    }
  }
}

@media (max-width: 1600px) {
  .filter-section {
    &.sticky-chart-active {
      top: 349px;
    }

    &.scroll-top.sticky-chart-active {
      top: 364px;
    }
  }
}

@media (max-width: 1536px) {
  .filter-section {
    &.sticky-chart-active {
      top: 346px;
    }

    &.scroll-top.sticky-chart-active {
      top: 371px;
    }
  }
}

@media (max-width: 1367px) {
  .filter-section {
    &.sticky-chart-active {
      top: 443px;
    }

    &.scroll-top.sticky-chart-active {
      top: 460px;
    }
  }
}
