@import '../../design-system/new-colors.scss';

/* Reverse Asin Card */
.reverseAsinCard {
  width: 160px;
  height: 240px;
  background: $prim_white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: $grey_8;
  position: relative !important;
  padding: 8px;
  padding-left: 12px;
  padding-right: 8px;
  border-radius: 5px;
  user-select: none;
  border: 1px solid transparent;
  overflow: display !important;
  margin-right: 10px;
  box-shadow: 0 3px 10px rgba(#000, 0.1);
}

.crown {
  background: $grey_1;
  color: $grey_8;
  height: 30px;
  width: 160px;
  padding-left: 10px;
  border-radius: 7px 7px 0 0;
  position: relative;
  font-size: 16px;
  font-weight: $fontweight_semibold;
  padding-top: 4px;
  cursor: pointer;

  .bullsEyeIcon {
    position: absolute;
    top: 6px;
    left: 45%;

    path {
      fill: $grey_8;
    }
  }

  &__active {
    background: $prim_dark_1;
    color: $prim_white;

    .bullsEyeIcon {
      path {
        fill: $prim_white;
      }
    }
  }
}

/* Remove Asin Icon */
.removeAsinIcon {
  align-self: flex-end;
  cursor: pointer;
  color: $grey_8 !important;
}

/* Product Title */
.title {
  font-size: 12px;
  font-weight: $fontweight_semibold;
  color: $black_1;
}

/* Product ASIN */
.asinWrapper {
  margin-top: 0;
}

.asin {
  font-size: 12px !important;
  color: $black_0 !important;
}

.keywordsAndRank {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: flex-end !important;
}

/* Sales Per Month */
.keywordsCount {
  color: $grey_8;
  font-size: 12px;

  span {
    font-size: 24px;
    font-weight: $fontweight_semibold;
    color: $prim_dark_2;
  }
}

.rank {
  max-width: 60px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin-top: 0;
  color: $grey_8;
  font-size: 12px;

  span {
    font-size: 14px;
    font-weight: $fontweight_semibold;
    color: $prim_dark_2;
  }
}

.sales {
  margin-top: 6px;
  color: $grey_8;
  font-size: 12px;

  span {
    font-size: 14px;
    font-weight: $fontweight_semibold;
    color: $prim_dark_2;
  }
}

/* Product image */
.productImage {
  margin: 8px 0;
  margin-left: 30px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 50%;
  overflow: hidden;
  background: $purple_pink_gradient;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $prim_white;
  }
}

.loader {
  background: #fff;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 160px;
  height: 100%;
  padding: 0 18px;
}

.checkProductLink {
  background: none;
  font-size: 9px;
  color: $blue_link_bg_light;
  font-weight: $fontweight_medium;
}
