@import '../../design-system/colors.scss';

.typeFormBox {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  overscroll-behavior: contain;

  &__hidden {
    width: 0;
  }
}

.goBackButton {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  padding-left: 18px;
  gap: 11px;

  &:hover {
    text-decoration: none;
  }
}
