@import '../../design-system/colors.scss';

.typeFormBox {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  overscroll-behavior: contain;

  &__hidden {
    width: 0;
  }
}

.churnFlowContent {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .sellgoLogo {
    width: 15rem;
  }

  .churnFlowTitle {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 20px;
    color: $prim_dark_2;
    font-weight: 600;
  }

  .churnFlowOrangeButton {
    margin-top: 2rem;
  }
}

.goBackButton {
  margin-bottom: 2vh;
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: $prim_dark_2;
}
