@import '../../../design-system/colors';

.suppliers-table {
  // TODO: Consider a generic table class that can be added to any content
  // that has a set width and needs overflow hidden and ellipsis.
  .supplier {
    display: flex;
    align-items: center;

    > .name {
      width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .filename {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
  }

  .card-content {
    width: 'auto';
  }

  .inventory {
    text-align: right !important;
  }

  .progress {
    text-align: right !important;
  }

  .p2l_ratio {
    text-align: right !important;
  }

  .rate {
    text-align: right !important;
  }

  .ui.secondary.pointing.menu .active.item {
    border-color: $sellgo-light-gray !important;
  }

  h4.ui.header {
    color: $text-color;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
  }
}

.recent-files-container::-webkit-scrollbar {
  width: 5px !important;
}

.supplier-text:hover {
  font-weight: 600;
  color: #757575 !important;
  background-color: #f8faff;
}

.recent-files {
  width: 300px;
  padding: 10px;

  .recent-files-header {
    border-bottom: 1px solid #349af8;
    padding-bottom: 5px;
  }

  .recent-files-container {
    max-height: 300px;
    min-height: 300px;
    overflow: hidden;
    margin-top: 5px;

    .supplier-text {
      color: #757575;
      cursor: pointer;
    }

    .supplier-text-active {
      font-weight: 600;
      color: #757575;
    }
  }
}

.recent-files-container:hover {
  overflow: auto !important;
}

.search-title {
  cursor: pointer;
}

.search-title:hover {
  font-weight: 600;
  color: #757575 !important;
}

.hidden-url {
  display: none;
}

@media screen and (min-width: 310px) and (max-width: 767px) {
  .wdt100 {
    width: 100% !important;
  }

  .menu-item {
    border-bottom: 0 !important;
    margin-bottom: 20px !important;
    text-align: center !important;
  }

  .menu-item a h4 {
    width: 100% !important;
  }

  .card-content {
    height: auto !important;
    margin-right: 0 !important;
  }

  .flex-col {
    flex-direction: column !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .ipad-wdth100 {
    width: 100% !important;
  }

  .card-content {
    margin-bottom: 0 !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .card-content {
    width: 50% !important;
  }

  .card-content h2 {
    font-size: 17px !important;
  }
}
