.suppliersTable {
  // TODO: Consider a generic table class that can be added to any content
  // that has a set width and needs overflow hidden and ellipsis.
  .supplier {
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .fileName {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card_content {
    width: 'auto';
  }
}

@media screen and (max-width: 700px) {
  .card_content {
    width: auto;
    margin-top: -40px;
    height: 180px;
    margin-right: 165px;
  }
}
@media screen and (min-width: 710px) and (max-width: 800px) {
  .card_content {
    width: auto;
    margin-top: -46px;
    margin-left: -20px;
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 310px) and (max-width: 767px) {
  .wdt100 {
    width: 100% !important;
  }
  .card_content {
    margin-right: 0 !important;
    height: auto !important;
  }

  .flexCol {
    flex-direction: column !important;
  }
  .menuItem {
    margin-bottom: 20px !important;
    border-bottom: 0px !important;
  }
}
