@import '../../../design-system/new-colors';

.filterMessage {
  margin: 20px 0;
}

.sellerDatbasePage {
  display: flex;
}

.defaultDisplaySection {
  width: calc(100% - 100px);
}

.tableSection {
  width: calc(100% - 240px);
  margin-left: 11px;
}
