@import '../../../design-system/colors.scss';

.filterSection {
  border: 1px solid $sellgo-disabled;
  border-top: 0;
  padding: 10px 20px !important;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.showbasicFilters {
  height: max-content;
}

.advancedFilterWrapper {
  background: $grey_0;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 7px;
  height: max-content !important;
}

.advancedFilterToggle {
  background: $grey_1;
  color: $sellgo-text;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  height: 30px;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 20px;

  span {
    flex: 1;
  }
}

.showAdvancedFilter {
  padding: 30px 20px;
}
