@import '../../../../../design-system/new-colors.scss';

.stockOutCell {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  padding-right: 30px;
  align-items: center;
}

.stockOutDate {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: $black_0;
  font-weight: $fontweight_medium;

  span {
    color: $grey_8;
    font-size: 12px;
    font-weight: $fontweight_regular;
  }
}

.daysToStockOut {
  color: $system_red;
  font-size: 24px;
  font-weight: $fontweight_bold;
}
