@import '../../../design-system/new-colors';

.displayStatChange {
  font-size: 14px !important;
  color: $grey_6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stat {
  font-size: 14px;
}

.changeNegative {
  color: $system_red !important;
  font-size: 12px;
}

.changePositive {
  color: $system_green !important;
  font-size: 12px;
}
