@import '../../../design-system/new-colors';

.displayStatChange {
  font-size: 14px !important;
  color: $grey_8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content !important;
}

.stat {
  font-size: 14px;
  align-self: flex-end;
}

.changeNegative {
  color: $system_red !important;
  font-size: 12px;
  align-self: center;
}

.changePositive {
  color: $system_green !important;
  font-size: 12px;
  align-self: center;
}
