.ui.popup.QuickTour__container {
  min-width: 357px;
  min-height: 134px;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  left: 52px !important;
  // transform: translate3d(-0px, auto, auto) !important;
  &::before {
    left: -6px !important;
    right: auto !important;
    -webkit-box-shadow: 0 0 1px -1px #bababc !important;
    box-shadow: 0 0 1px -1px #bababc !important;
  }

  &.expand-icon {
    // left: 19px !important;

    &::before {
      top: 68%;
    }
  }

  &.pf-icon {
    // left: 19px !important;

    &::before {
      top: 34%;
    }
  }

  .ui.header {
    color: #2185d0;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Work sans', sans-serif !important;

    .sub.header {
      color: #000c;
      font-size: 10px;
      font-weight: normal;
      font-family: 'Work sans', sans-serif !important;
      line-height: inherit;
    }
  }

  .QuickTour__footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    .column {
      &:first-child {
        img {
          width: 26px;
          height: 34px;
          margin: 0;
        }
      }

      &:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        > .ui.button {
          background: #349af8 0% 0% no-repeat padding-box;
          border-radius: 15px;
          padding: 0;
          color: #fff;
          font-size: 10px;
          font-weight: normal;
          width: 59px;
          height: 21px;
          font-family: 'Work sans', sans-serif !important;
          margin: 0;
        }

        p {
          color: #000c;
          font-size: 10px;
          margin-top: 4px;
          font-family: 'Work sans', sans-serif !important;

          .ui.button {
            background: none;
            color: #2185d0cc;
            font-size: 10px;
            font-weight: normal;
            padding: 0 0 0 3px;
            font-family: 'Work sans', sans-serif !important;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .ui.popup.QuickTour__container {
    min-width: 60% !important;
  }
}

@media only screen and (max-width: 325px) {
  .ui.popup.QuickTour__container {
    left: 6px !important;
  }
}
