@import '../../../../../design-system/new-colors';

/* Expanded product settings */
// .expandedProductSettings {
//   margin-bottom: 18px;
// }

.settingsBoxHeader {
  color: $black_1 !important;
  font-size: 14px !important;
  font-weight: $fontweight_semibold !important;
  width: 100%;
  padding-left: 20px;
}

.settingsBoxContainer {
  height: calc(100% - 50px);
  min-width: 0;
  padding: 18px;
  overflow-y: auto;
  overflow-x: hidden;
}

.headerIcon {
  path {
    fill: $grey_8 !important;
  }

  height: 12px !important;
  width: 12px !important;
}
