@import '../../design-system/colors.scss';

.filterMetaData {
  padding: 0 20px !important;
  border: 1px solid $sellgo-disabled;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: $sellgo-text !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    margin: 0 !important;
  }
}

.productTablist {
  display: flex;
  list-style: none;
  margin: 0 !important;
  padding: 0 20px;
  padding-top: 18px !important;
  width: 100%;
  border-left: 1px solid $sellgo-disabled;
  border-right: 1px solid $sellgo-disabled;

  li {
    color: $grey_8 !important;
    font-size: 16px !important;
    min-width: 110px !important;
    padding: 4px 10px;
    border-bottom: 1px solid $grey_6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
  }
}

.activeProductTab {
  background: $grey_1 !important;
  color: $sellgo-text !important;
  font-weight: 600 !important;
  border: 1px solid $grey_6 !important;
  border-radius: 4px 4px 0 0;
  border-bottom: transparent !important;
}
