@import '../../design-system/new-colors';

.sellerResearchPage {
  background: $light_gray_background;
}

.filterMetaData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey_3;

  h1 {
    color: $grey_8 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    margin: 0 !important;
  }
}

.productTablist {
  display: flex;
  list-style: none;
  margin: 0 !important;
  padding: 0;
  padding-top: 18px !important;
  width: 100%;

  li {
    color: $grey_8 !important;
    font-size: 14px !important;
    min-width: 110px !important;
    padding: 4px 10px;
    border-bottom: 1px solid $grey_3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
  }
}

.activeProductTab {
  background: transparent !important;
  color: $prim_dark_2 !important;
  font-weight: 500 !important;
  border: 1px solid $grey_3 !important;
  border-radius: 4px 4px 0 0;
  border-bottom: transparent !important;
}
