@import '../../../design-system/new-colors.scss';

.checkBoxCell {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.checkbox {
  font-size: 14px !important;
  margin-left: 5px;

  label {
    color: $grey_6 !important;
  }

  label::before {
    border-radius: 4px !important;
    border: 1px solid $grey_3 !important;
  }

  input:checked ~ .box::after,
  input:checked ~ label::after {
    color: $grey_8 !important;
  }

  &__radio {
    label::before {
      border-radius: 50% !important;
    }
  }
}
