@import '../../design-system/colors.scss';

.notifications {
  min-width: 428px !important;

  a {
    &:hover {
      text-decoration: none !important;
    }
  }

  .title {
    border-bottom: 1px solid #349af8;

    > p {
      font-size: 14px;
      color: #3b4557;
      padding-bottom: 5px;
      margin: 0 5px !important;
    }
  }

  .notification {
    margin: 5px 0;
    display: flex;

    .file-image-container {
      display: flex;
      align-items: center;

      .file-image {
        margin-right: 5px;
      }

      .progressing {
        width: 35px;
        height: 35px;
      }

      .failed {
        color: red !important;
        font-size: 32px;
      }
    }

    .file-name {
      font-size: 14px;
      color: #349af8;
      padding: 5px 0;
      margin: 0 2px !important;
      white-space: nowrap;
      width: 320px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .downloaded {
      font-weight: bold;
    }

    .in-progress-file {
      @extend .file-name;

      color: #4c5566 !important;
    }

    .file-status {
      font-size: 10px;
      color: #98aeca;
      margin: 0 2px !important;
    }

    .failed-text {
      font-size: 10px;
      color: red;
      margin: 0 2px !important;
    }
  }
}

a.item.notification-wrapper {
  position: relative !important;
}

i.bell-icon {
  font-size: 18px !important;
  color: $icon-color !important;
  position: relative !important;
  cursor: pointer;

  &:hover {
    color: $icon-hover-color !important;
    transform: scale(1.05);
  }
}

.badge-count {
  background: #349af8;
  color: #f8faff;
  width: 15px !important;
  height: 15px !important;
  font-size: 10px;
  font-weight: normal;
  position: absolute;
  z-index: 99999 !important;
  border-radius: 50%;
  right: -5px;
  top: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
