.subscription-page {
  display: flex !important;
  justify-content: center !important;
  min-height: 100vh;

  &__logo-container {
    &__image {
      padding: 67px 0 52px;
      margin: 0 78px;
      text-align: center;
      border-bottom: solid 1px #98aeca;

      .image {
        height: 101px;
        width: 320px;
      }
    }
  }

  &__content {
    background: #f8faff;
    padding: 45px 35px !important;
  }
}
