@import '../../design-system/new-colors';

.betaUsersActivation {
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin: 0;
}

.typeFormBox {
  width: 100%;
  height: 90vh;
  overflow: hidden !important;

  &__hidden {
    width: 0;
  }
}
