@import '../../design-system/new-colors';

.addReverseBulkAsinsModal {
  border-radius: 7px !important;
  background: #fff;
  border: 1px solid $grey_3 !important;
  padding: 20px;
}

.label {
  margin: 0;
  color: $grey_8 !important;
  font-size: 14px;
  font-weight: 500;
}

.filterForm {
  border: 1px solid $grey_3;
  min-height: 80px;
  border-radius: 4px !important;
  overflow: hidden;
}

.asinPillWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.formInput {
  width: 100%;

  input {
    border: none !important;

    &:focus {
      border: none !important;
    }
  }
}

.leftOverMessage {
  color: $grey_6 !important;
  font-size: 12px;
  text-align: right;
  margin-right: 20px;
  margin-top: 4px;

  span {
    color: $grey_8 !important;
    font-weight: 500;
    margin-left: 10px;
  }
}

.applyButton {
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: $accent_orange;
  border: 1px solid $accent_orange;
  margin-left: auto;
  width: 140px;
  border-radius: 7px;
  margin-top: 30px;
  margin-bottom: 10px;

  &:disabled {
    opacity: 0.7;
  }
}
