@import '../../../../design-system/new-colors.scss';

.productTitle {
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productTitleTextBox {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.productTitleText {
  margin: 0;
  color: $prim_dark_1;
  font-size: 12px;
  margin-right: 3px;
}

.productImageBox {
  width: 100%;
}

.productImage {
  background-color: red;
  max-width: 90%;
  height: 110px;
  object-fit: contain;
  margin-bottom: 10px;
}
