@import '../../design-system/new-colors.scss';

.navbarWrapper {
  color: white;
  z-index: 9999999;
  height: 100%;
  top: 0;
  margin: 0 !important;
  width: 55px;
}

.navBar {
  padding-top: 10px;
  padding-bottom: 30px;
  transition: 0.3s;
  z-index: 10001;
  background-color: $black_1;
  position: fixed;
  width: 55px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ------------------------------
 USED FOR ANIMATING THE NAV BAR
------------------------------ */

.mainNavOption {
  overflow: hidden;
}

.subNavOptions {
  transition: 0.3s !important;
  max-height: 0 !important;
  width: 100%;
  overflow: hidden;
}

.navBar:hover {
  width: 260px !important;

  .subNavOptions {
    max-height: 500px !important;
  }
}

.hideNavbar {
  display: none !important;
}
