@import '../../../../../../design-system/new-colors';

.informationHeading {
  font-size: 14px;
  color: $grey_8;
  margin-bottom: 10px;
}

.employeeInformationDetails {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 7px;
  height: 470px;
  overflow-y: auto;

  &__card {
    width: 480px !important;
    height: fit-content !important;
    margin: 0 !important;
    margin-right: 1px !important;
    margin-bottom: 11px !important;

    &__content {
      display: flex;
      padding: 7px 10px !important;
      box-shadow: 0 0 10px $grey_3 !important;
    }

    &__description {
      width: 70%;

      &__image {
        margin-top: 1em;
      }
    }

    &__header {
      color: $link_blue !important;
      font-size: 14px;
      font-weight: 600;
      display: flex;
    }

    &__contact {
      display: flex;
      margin-left: 11px;
      color: $grey_3 !important;

      .phoneIcon {
        margin-left: 11px;
      }
    }

    &__button {
      align-self: center;

      .continueButton {
        display: flex;
        align-items: center;

        svg {
          margin-right: 7px;
        }
      }
    }

    &__meta {
      font-size: 12px;
      width: 200px;
      overflow: hidden;
      white-space: nowrap;
      display: flex;
      align-items: center;

      .location {
        margin-left: 5px;
      }
    }
  }

  &__noDataFoundCard {
    width: fit-content !important;
    height: fit-content !important;

    &__header {
      color: $link_blue !important;
      font-weight: 600;
    }
  }
}

.modalWrapper {
  width: fit-content !important;
  height: 600px !important;
}
