.setting {
  // Give left filters column a fixed width

  // Make right column expand to take up available width
  .ui.grid {
    justify-content: center;

    .column {
      .ui {
        width: 100%;

        .supplier-details-card {
          padding: 11px;

          .ui.feed {
            .event {
              .content {
                .highcharts-container {
                  width: 100% !important;

                  svg {
                    height: 100% !important;
                  }
                }

                .chart-end-form {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
            }
          }

          .ui.checkbox {
            input.hidden + label {
              color: #000;
              font-family: 'Work Sans', sans-serif;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .products-table {
    margin-top: unset;
  }
}

.chart-end-content h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.radio-toggle-wrap {
  margin: 0 auto;
  padding-top: 285px;
  text-align: center;
}

.ui.raised.card {
  background: #fff;
  border: 1px solid #98aeca;
  border-radius: 10px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16) !important;
}

.Toastify {
  .Toastify__toast-container {
    width: 350px !important;
  }
}

.ui.warning.message.notification {
  margin: 0;
  padding: 15px 20px;
  letter-spacing: 1px;

  p.header {
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 24px;
  }

  p.label {
    display: flex;
    font-size: 14px;

    i.icon {
      font-size: 0.8rem;
      margin: 0 3px;
    }
  }
}

@media screen and (max-height: 900px) {
  .setting .right-column {
    // flex: 1;
    .wide.column {
      .ui {
        .supplier-details-card {
          .ui.feed {
            .event {
              .content {
                padding: 10px 25px;
              }
            }
          }
        }
      }
    }
  }

  .left-column {
    .Supplier_Filters {
      .synthesis-supplier-filters {
        .inner-wrap {
          padding: 5px 15px;
        }
      }
    }
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  .supplier-details-card {
    .ui.feed {
      .event {
        .content {
          padding: 20px 35px;
        }
      }
    }

    .individual-pie-chart {
      .highcharts-container {
        height: 250px !important;

        svg {
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .left.floated.four.wide.column.left-column {
    padding-right: 15px !important;
  }

  .supplier-details-card {
    .ui.feed {
      .event {
        .content {
          padding-top: 63px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .setting {
    .left.floated.four.wide.column.left-column {
      padding-bottom: 30px;
      padding-right: 15px !important;
      width: 100% !important;
    }

    .right.floated.nine.wide.column.right-column {
      width: 100% !important;
      //padding-left: 0 !important;
    }

    .right.floated.three.wide.column.right-column {
      width: 100% !important;

      .radio-toggle-wrap {
        padding-top: 30px;
      }
    }
  }

  .setting .left-column .Supplier_Filters .synthesis-supplier-filters .inner-wrap {
    padding: 20px 20px 10px;
  }
}

@media (max-width: 480px) {
  .page-header .header-right-wrap .progress-bar {
    width: 180px;
  }
}

@media (max-width: 350px) {
  .page-header .header-right-wrap .progress-bar {
    width: 170px;
  }

  .page-header .header-right-wrap .progress-bar .ui.progress {
    margin-right: 10px;
  }

  .page-header .header-right-wrap .button {
    padding-left: 1em;
    padding-right: 1em;
  }
}
