.container, .container :global(.form) {
  font-size: 0.7vw;
}

.form_container {
  position: relative;
}

.supplier_details_toggle {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

.actions {
  margin-left: 60%;
}

.action {
  border-radius: 50px !important;
  min-width: 110px;
}

.flex {
  flex: 1;
}