@import '../../../../design-system/colors';

.ui.popup.charges-input-popup-container {
  padding: 0 !important;

  &::before {
    display: none;
  }
}

.input-charges-summary {
  box-shadow: 0 3px 6px #00000029;
  border-radius: 10px;
  background-color: #fff !important;
  padding: 15px 20px;
  min-height: 300px;
  min-width: 300px;
  width: 100%;

  h2 {
    color: $text-color;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-color: $sellgo-light-gray-100;
    text-decoration-thickness: 1px;
    font-weight: 600;
  }

  p {
    color: $text-color;
    text-align: left;
    margin-bottom: 5px;
    font-size: 12px;

    span {
      font-weight: 600;
      color: inherit;
      margin-left: 10px;
    }
  }

  .divider {
    height: 1px !important;
    background-color: $sellgo-light-gray-100;
    width: 100%;
    margin-bottom: 5px;
  }
}
