.products-table .ui.table .multipack_profit .input-charges-summary {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 100px;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 10px;
  background-color: #fff !important;
  padding: 20px;
  display: none;
  min-height: 300px;
  min-width: 300px;

  h2 {
    color: #3b4557;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: #98aeca;
    text-decoration-thickness: 10px;
    font-weight: bold;
    padding-bottom: 5px !important;
  }

  p {
    color: #3b4557;
    text-align: left;

    span {
      font-weight: bold;
      color: inherit;
      margin-left: 10px;
    }
  }

  .divider {
    height: 3px;
    background-color: rgba(#98aeca, 0.4);
    width: 100%;
    margin-bottom: 10px;
  }
}

.products-table .ui.table .multipack_profit .stat:hover + .input-charges-summary {
  display: block !important;
}
