@import '../../../../design-system/new-colors';

.mwsFormWrapper {
  margin-top: 50px;
}

.mwsFormGrid {
  position: relative;
  background-color: $grey_1;
  border-radius: 7px;
  width: 100%;
  height: max-content;
  padding: 30px 30px;
  display: grid;
  grid-template-rows: 40px;
  row-gap: 18px;
}

.mwsFormTitle {
  margin-bottom: 30px;
  color: $prim_dark_1;
  text-align: left;
}

.regionTitle {
  color: $grey_8;
  font-size: 14px;
  font-weight: $fontweight_semibold;
}

.deleteIcon {
  position: absolute;
  top: 20px;
  right: 20px;

  &:hover {
    cursor: pointer;
  }

  &__disabled {
    cursor: not-allowed;

    &:hover {
      cursor: not-allowed;
    }
  }
}

.elevioButton {
  color: $blue_7;
  text-decoration: underline;
  cursor: pointer;
}

.formInput {
  display: grid;
  grid-template-columns: 160px 300px;
  column-gap: 30px;
  align-items: center;
  color: $grey_8;

  .authenticateInstructions {
    grid-column-start: 2;
    font-size: 12px;
    color: $system_blue;
    font-weight: 600;

    &:hover {
      cursor: pointer;
    }
  }

  .formLabel {
    width: 100%;
    text-align: right;
  }

  &__marketplace {
    grid-template-columns: 160px 250px;
  }
}

.authorizeButton {
  width: 200px;
  margin: 0 auto;
}

.dimmer {
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  p {
    margin-top: 18px;
    color: $black_0 !important;
    font-weight: $fontweight_semibold;
  }

  button {
    color: $blue_link_bg_light !important;
    margin-top: 18px;
    background: none;
    font-weight: $fontweight_semibold;
  }
}

.privacyInformation {
  display: flex;
  align-items: center;
  padding: 0 30px;
  background: $grey_3;
  border-radius: 7px;
  margin-top: 10px;
  width: 800px;
  height: 70px;

  span {
    font-size: 12px;
    font-weight: $fontweight_medium;
    color: $black_1;
    margin-left: 18px;

    .popupButton {
      margin-left: 0;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
