@import '../../../../../../design-system/new-colors.scss';

.hoveredContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  padding-top: 50px;
  background: rgba(50, 50, 50, 0.25);

  svg {
    width: 20px !important;
    height: 20px !important;
  }

  &__disabled {
    background: $prim_dark_1 !important;
    opacity: 1;

    path {
      fill: $prim_white !important;
    }
  }
}

.date {
  font-size: 12px;
  font-weight: $fontweight_medium;
  position: absolute;
  top: 5px;
  left: 18px;
  color: $prim_white;
  line-height: 15px;

  &__dark {
    color: $black_1;
  }
}
