.checkoutContainer {
  padding: 0 25px;
  padding-bottom: 30px;

  h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #3b4557;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
}

.formGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.formInput {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 400px;
  margin: 8px 0;
  margin-right: 18px;

  label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #3b4557;
  }

  input {
    height: 40px;
    background: #fff;
    font-size: 14px;
    color: #808080 !important;
    border: 1px solid #dededf;
    border-radius: 4px;
  }

  &__expiry {
    width: 150px;
  }

  &__cvv {
    width: 75px;
  }

  &__error {
    input {
      border: 1px solid #eb675e !important;
    }
  }
}

.stripeInput {
  height: 40px;
  background: #fff;
  color: #808080 !important;
  border: 1px solid #dededf;
  border-radius: 4px;
  font-size: 14px !important;
  padding: 9.5px 14px;

  &::placeholder {
    font-size: 14px !important;
  }

  &__expiry {
    width: 150px;
  }

  &__cvv {
    width: 75px;
  }
}

.paymentMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.cardsWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__cards {
    height: 35px;
  }

  &__stripe {
    height: 20px;
  }
}

.paymentButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;

  .whiteButton {
    width: 200px;
    height: 50px;
    padding: 0;
  }

  .buttonWrapper {
    position: relative;
    width: 200px;
    border-radius: 7px;
    margin-left: 18px;

    &:hover {
      opacity: 0.8;
    }
  }
}

.paymentErrorMessage {
  background: #eb675e;
  color: #fff;
  border-radius: 8px;
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  font-size: 14px;
  padding: 15px 0;
  font-weight: 500 !important;
}
