@import '../../../../../design-system/new-colors.scss';

.inboundFulfillableStat {
  display: flex;
  flex-direction: column;
}

.statLabel {
  margin: 0;
  font-size: 8px;
  color: $grey_8;
  font-weight: $fontweight_medium;
}

.stat {
  margin: 0;
  font-size: 14px;
  font-weight: $fontweight_semibold;
  color: $grey_8;
}
