@import '../../../../design-system/colors.scss';

.basicFilters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px !important;

  @media only screen and(max-width: 1550px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    column-gap: 120px;
    row-gap: 30px;
  }
}
