@import '../../../../design-system/colors.scss';

.basicFilters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  padding: 30px 0 !important;
  height: max-content;
  grid-column-gap: 30px;
  margin-bottom: 40px !important;
}
