@import '../../../../../design-system/new-colors';

.productTrackerKeywordActionsCellWrapper {
  display: flex;
  min-height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.productKeywordActionsCellTrigger {
  cursor: pointer !important;
  color: $grey_6 !important;
  align-self: flex-start;
  padding-top: 10px;
}

.productKeywordActionsCell {
  padding: 0 !important;

  &::before {
    display: none;
  }
}

.productKeywordActionsCellContent {
  min-width: 160px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 5px;
  padding-top: 15px;

  button {
    background: #fff;
    color: $grey_8 !important;
    border: 0;
    outline: 0;
    width: 100%;
    font-weight: 500 !important;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 5px;

    &:hover {
      background: $grey_1;
    }

    .productKeywordActionIcon {
      margin-right: 5px;
      font-size: 12px !important;
      color: inherit !important;
    }

    &:disabled {
      color: $grey_3 !important;
    }
  }
}

.keywordHistoryModal {
  border-radius: 0 !important;
  min-height: 500px;
  min-width: 500px;
}
