$gray: #98aeca;
$darkgary: #dfe8f329;
$black: #3b4557;
$blue: #349af8;

.sellers-header {
  height: 46px;
  display: flex;
  border: 0.5px solid $gray;
  align-items: center;
  box-shadow: 0 3px 3px $darkgary;
  border-radius: 11px;
  background: #fff;
  position: absolute;
  width: 96%;
  top: -73px;

  .th-column {
    min-width: 100px;
    white-space: pre-line;

    > p {
      margin-bottom: 0;
      color: $black;
      font-weight: 600;
      font-size: 14px;
      white-space: pre-line;
    }
  }

  .seller-name {
    min-width: 350px;
    padding-left: 35px;
  }

  .price {
    min-width: 125px;
  }

  .fba {
    min-width: 95px;
  }

  .fbm {
    min-width: 95px;
  }

  .product-rating {
    min-width: 135px;
  }

  .total_rating {
    min-width: 125px;
  }

  .processed-on {
    min-width: 200px;
  }

  .track-sellers {
    min-width: auto;

    > button {
      visibility: hidden;
      width: 168px;
      height: 25px;
      border: 0.5px solid $blue !important;
      border-radius: 100px !important;
      box-shadow: unset !important;
      cursor: pointer;
      display: flex !important;
      align-items: center !important;
      padding: 0 10px !important;
      color: $blue !important;
      background: white !important;
    }
  }
}

.sellers-row {
  height: 46px;
  display: flex;
  border: 0.5px solid $gray;
  align-items: center;
  box-shadow: 0 3px 3px $darkgary;
  border-radius: 11px;
  background: #fff;
  width: 97%;
  z-index: 999;

  .td-column {
    min-width: 100px;
    white-space: pre-line;

    > p {
      margin-bottom: 0;
      font-size: 14px;
    }
  }

  .seller-name {
    min-width: 350px;
    padding-left: 35px;
    padding-right: 10px;
    z-index: 999;

    > p {
      .name {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
      }

      .asin {
        float: right;
        font-size: 12px;
        font-weight: 400 !important;

        .icon {
          cursor: pointer;
          z-index: 999;
          position: relative;
        }
      }
    }
  }

  .price {
    min-width: 125px;
  }

  .fba {
    min-width: 95px;
  }

  .fbm {
    min-width: 95px;
  }

  .product-rating {
    min-width: 135px;

    > span {
      font-size: 9px;
    }
  }

  .total_rating {
    min-width: 125px;
  }

  .processed-on {
    min-width: 200px;
    white-space: unset !important;
  }

  .track-sellers {
    min-width: auto;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1919px) {
  .sellers-header {
    width: 93%;

    @media only screen and (min-width: 1280px) and (max-width: 1599px) {
      width: 91% !important;
    }

    @media only screen and (min-width: 1600px) and (max-width: 1919px) {
      width: 93.5% !important;
    }

    .seller-name {
      min-width: 250px;
      padding-left: 25px;

      @media only screen and (min-width: 1440px) and (max-width: 1919px) {
        min-width: 250px;
      }
    }

    .price {
      min-width: 75px;

      @media only screen and (min-width: 1600px) and (max-width: 1919px) {
        min-width: 115px;
      }
    }

    .fba {
      padding-right: 25px !important;

      @media only screen and (min-width: 1600px) and (max-width: 1919px) {
        padding-right: 45px !important;
      }
    }

    .fbm {
      padding-right: 25px !important;

      @media only screen and (min-width: 1600px) and (max-width: 1919px) {
        padding-right: 45px !important;
      }
    }

    .product-rating {
      min-width: 115px;

      @media only screen and (min-width: 1600px) and (max-width: 1919px) {
        min-width: 135px;
      }
    }

    .total_rating {
      padding-right: 25px;
    }

    .processed-on {
      min-width: 145px;

      @media only screen and (min-width: 1440px) and (max-width: 1599px) {
        min-width: 150px !important;
      }

      @media only screen and (min-width: 1600px) and (max-width: 1919px) {
        min-width: 145px;
      }
    }

    .track-sellers {
      min-width: 170px;

      > button {
        width: 140px;
        height: 20px;
        border: 0.5px solid $blue !important;
        border-radius: 100px !important;
        box-shadow: unset !important;
        cursor: pointer;
        display: flex !important;
        align-items: center !important;
        padding: 0 10px !important;
        color: $blue !important;
        background: white !important;
        font-size: 10px !important;
      }
    }
  }

  .sellers-row {
    width: 95%;

    @media only screen and (min-width: 1280px) and (max-width: 1599px) {
      width: 92.5% !important;
    }

    @media only screen and (min-width: 1600px) and (max-width: 1919px) {
      width: 95% !important;
    }

    .seller-name {
      min-width: 250px;
      padding-left: 25px;

      @media only screen and (min-width: 1440px) and (max-width: 1919px) {
        min-width: 250px;
      }

      > p {
        .name {
          font-size: 11px;
          font-weight: 500;
        }

        .asin {
          float: right;
          font-size: 10px;
          font-weight: 400 !important;
        }
      }
    }

    .price {
      min-width: 75px;

      @media only screen and (min-width: 1600px) and (max-width: 1919px) {
        min-width: 115px;
      }
    }

    .fba {
      padding-right: 25px !important;

      @media only screen and (min-width: 1600px) and (max-width: 1919px) {
        padding-right: 45px !important;
      }
    }

    .fbm {
      padding-right: 25px !important;
      padding-left: 10px;

      @media only screen and (min-width: 1600px) and (max-width: 1919px) {
        padding-right: 45px !important;
      }
    }

    .product-rating {
      min-width: 125px;

      @media only screen and (min-width: 1600px) and (max-width: 1919px) {
        min-width: 145px;
      }
    }

    .total_rating {
      padding-right: 40px;
      //padding-left: 10px;
    }

    .processed-on {
      min-width: 135px;

      @media only screen and (min-width: 1440px) and (max-width: 1599px) {
        min-width: 160px !important;
        padding-left: 15px;
      }

      @media only screen and (min-width: 1600px) and (max-width: 1919px) {
        min-width: 145px;
      }
    }

    .track-sellers {
      min-width: 170px;

      > button {
        width: 140px;
        height: 20px;
        border: 0.5px solid $blue !important;
        border-radius: 100px !important;
        box-shadow: unset !important;
        cursor: pointer;
        display: flex !important;
        align-items: center !important;
        padding: 0 10px !important;
        color: $blue !important;
        background: white !important;
        font-size: 10px !important;
      }
    }
  }
}
