.supplier-charts {
  // Chart radio inputs
  .ui .inline.fields {
    align-items: flex-start;
  }

  .chart-end-content {
    text-align: center;
    height: 28px;
    padding-top: 14px;
  }

  .chart-end-form {
    display: flex;
    height: 28px;
    align-items: center;
    justify-content: center;
  }

  .supplier-charts__chart-grid {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .chart-grid__left-arrow,
  .chart-grid__right-arrow {
    color: #349af833;

    &:hover {
      color: #349af8;
      cursor: pointer;
    }
  }

  // On mobile stack radio inputs, align left, and center container
  @media screen and (min-width: 310px) and (max-width: 767px) {
    .ui {
      display: flex;

      .inline.fields {
        align-items: flex-start;
        flex-direction: column;
        flex-shrink: 1;
        justify-content: start;
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .chart-end-content {
      padding: 15px 0 20px 40px;
    }
  }
}

@media screen and (max-height: 900px) {
  .supplier-charts {
    // Chart radio inputs
    .ui .inline.fields {
      margin: 0;
    }
  }
}
