.signup-form {
  display: flex;
  flex-direction: column;
  .header {
    text-align: center;
    color: #fff;
  }
  a {
    color: #fff;
  }
  a:hover {
    color: #2185d0;
    text-decoration: underline;
  }
  label.log-in {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  form.signup-form {
    padding-bottom: 50px;
  }
}
