.seller-database {
  .filters {
    width: 100%;
  }

  .table-container {
    margin-top: 25px;
  }

  .ui.table {
    border-collapse: separate;
    border-spacing: 0;
    border: none;
    background: transparent;
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    a {
      font-family: '' Work Sans ', sans-serif', sans-serif;
      font-size: 14px;
    }

    td p {
      font-size: 14px;
      margin-bottom: 0;
    }

    thead {
      tr {
        th {
          &.table-headers {
            width: 95px;
          }

          &.undefined {
            padding-left: 37px;
          }

          i {
            display: block;
          }

          border-top: 1px solid rgba(34, 36, 38, 0.3);
          border-bottom: 1px solid rgba(34, 36, 38, 0.3);
          background: #fff;
          text-align: left;
          font-size: 14px;
          font-weight: 600;
          padding: 0 32px;
        }

        th:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border-left: 1px solid rgba(34, 36, 38, 0.3);
        }

        th:last-child {
          border-right: 1px solid rgba(34, 36, 38, 0.3);
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }

    tbody {
      tr {
        td.table-cell {
          width: auto;

          &.undefined {
            padding-left: 0;
          }
        }
      }
    }

    tbody::before {
      /* This doesn't work because of border-collapse */
      content: '@';
      display: block;
      line-height: 10px;
      text-indent: -99999px;
    }

    td {
      border-top: 1px solid rgba(34, 36, 38, 0.2) !important;
      border-bottom: 1px solid rgba(34, 36, 38, 0.2);
      padding: 8px;
      font-size: 14px;
      text-align: left;
      vertical-align: middle;
      background: #fff;

      &:first-child {
        width: 200px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-left: 1px solid rgba(34, 36, 38, 0.2);
      }

      &:last-child {
        border-right: 1px solid rgba(34, 36, 38, 0.2);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        vertical-align: middle;
        text-align: left;
        padding: 4px 5px 2px 5px;

        span {
          font-family: 'Work Sans', sans-serif !important;
          white-space: nowrap;
          margin: 0 auto;
          font-weight: 600;
        }
      }
    }
  }
}
