/* Otherwise the icons on the left navbar will be floated right */
.ui.vertical.menu .item>i.icon {
  text-align: left;
  float: left;
  min-width: 2em;
}
.home-desc {
  min-height: 27rem;
}
.home-main {
  margin:1rem 3rem;
}
.right-arrow {
  padding: 0px 2px 0px 8px;
  background: #333333;
  color: #fff;
  border-radius: 7px;
  font-weight: 900;

}