// Font-Size
$base-font-size: 1em;

.login-cont {
  font-family: 'Work Sans', sans-serif !important;
  min-height: 100vh;
  display: flex !important;
  align-items: center !important;
  background-image: linear-gradient(to right, #323232, #323232);
  margin: 0 !important;

  label {
    color: #fff !important;
    cursor: pointer;
  }

  .primary {
    background-color: #fc7900 !important;
    cursor: pointer;
  }

  .row {
    min-height: 300px;

    .column {
      padding: 0 !important;
      display: flex !important;
      justify-content: center;
      align-items: center;

      form.login-form {
        width: 350px;
        display: flex;
        flex-direction: column;

        .reset-password {
          margin-bottom: 0;
          text-align: right;
          font-size: 14px;
        }

        a {
          text-align: right;
          color: #fff;
        }

        a.sign-up {
          width: 170px;
          margin: auto;
        }

        a:hover {
          color: #2185d0;
          text-decoration: underline;
        }

        div.inline {
          display: flex;
          justify-content: space-between;
        }

        .field {
          margin-bottom: 30px;
        }

        .field:last-of-type {
          margin-bottom: 10px;
        }

        .inline.fields {
          margin-bottom: 0;

          .field,
          a {
            margin-bottom: 0;
          }
        }

        span {
          font-size: 13px;
          color: #f00;
          text-align: center;
          margin-bottom: 10px;
        }
      }

      .image {
        width: 350px;
      }
    }
  }

  .ui.divided.grid:not([class*='vertically divided']) > .row > .column {
    -webkit-box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.15);
    -ms-box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.15);
    -o-box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.15);
    box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.15);
  }

  .ui.vertical.divider::after,
  .ui.vertical.divider::before {
    border-left: 2px solid rgba(34, 36, 38, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.51);
    top: 0 !important;
    bottom: 0 !important;
  }

  .ui.vertical.divider {
    height: 40%;
    top: 32%;
    margin: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .login-cont {
    .row {
      .column {
        padding-top: 60px !important;
      }
    }

    .vertical.divider {
      display: none;
    }
  }
}

@media only screen and (min-width: 2560px) {
  .login-cont {
    form.login-form {
      width: 531px !important;

      .field {
        margin-bottom: 40px !important;
      }

      .field:last-of-type {
        margin-bottom: 20px !important;
      }

      .inline.fields {
        margin-bottom: 30px !important;

        .field,
        a {
          margin-bottom: 0 !important;
        }

        a {
          height: 33px;
          font-size: $base-font-size * 1.6 !important;
        }
      }
    }

    label,
    input,
    button {
      font-size: $base-font-size * 1.6 !important;
    }

    input,
    button {
      height: 65px;
    }

    .image {
      width: auto !important;
    }

    .ui.vertical.divider::after,
    .ui.vertical.divider::before {
      border-right: 3px solid rgba(255, 255, 255, 0.51);
    }

    .ui.form .field > label {
      font-weight: 600;
      padding-bottom: 10px;
    }

    .sign-up {
      width: 270px !important;
    }

    .sign-up b {
      font-weight: bold;
    }
  }
}
