.login_head a {
  margin-left: 0.5rem;
}

.primary-btn {
  background: #4285f4;
  border: none;
  border-radius: 50px;
  color: white;
  font-display: optional;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 40px;
}
