.add-supplier-popup {
  max-width: 420px !important;
}

.ui.basic.teal.button .button,
.ui.basic.teal.button {
  border: 1px solid !important;
  box-shadow: none !important;
}

.ui.basic.blue.button,
.ui.basic.blue.button:hover,
.ui.basic.blue.button .button,
.ui.basic.primary.button,
.ui.basic.primary.buttons .button,
.ui.basic.primary.button:hover,
.ui.basic.blue.button .button:hover,
.ui.basic.primary.buttons .button:hover {
  border: 1px solid #4285f4 !important;
  box-shadow: none !important;
  color: #4285f4 !important;
}

.add-new-supplier {
  background-color: #4b9af8 !important;
  border-radius: 50px !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px !important;
  font-weight: bold !important;
}

.syn-dropdown .menu {
  background-color: #ffff !important;
  border: 1px 1px 1px 1px solid !important;
  border-color: #4285f4 !important;
  border-radius: 0 0 5px 5px !important;
  box-shadow: 0 3px 4px 0 rgba(34, 36, 38, 0.3) !important;
  min-width: max-content !important;
}

.ui.selection.dropdown .menu {
  width: 100% !important;
}

.syn-dropdown {
  align-self: center !important;
  border: 1px solid #4285f4 !important;
  border-radius: 5px !important;
  color: #4285f4 !important;
  width: 65% !important;
}

.syn-dropdown > .text {
  font-size: 14px !important;
  font-weight: 900 !important;
}

.ui.selection.dropdown.syn-dropdown-link .menu {
  width: max-content !important;
}

.syn-dropdown-link a {
  color: black !important;
}

.operations {
  align-items: center;
  display: flex;
}

.operations i {
  cursor: pointer;
}

.product-ratio-with-pie {
  display: inline-block;
  min-width: 50px;
}

.new-supplier-modal.ui.large.modal {
  margin: auto;
}

.new-supplier-modal {
  border-radius: 15px !important;
  min-width: 966px;
  min-height: 600px;
  max-width: 966px;
  background: #fff 0% 0% no-repeat padding-box !important;
  box-shadow: 0 3px 20px #00000029;
  border: 1px solid #98aeca;
}

.new-supplier-modal i.close {
  display: none;
}

.new-supplier-modal .content {
  border-radius: 15px !important;
  height: 600px;
}

.new-supplier-modal .rc-steps-item-tail {
  margin-left: 50px !important;
  margin-top: 25px !important;
}

.new-supplier-modal .rc-steps-item-tail::after {
  background: #98aeca;
}

.new-supplier-modal .rc-steps-item-finish .rc-steps-item-tail::after {
  background-color: #98aeca;
}

.new-supplier-modal .rc-steps-item-wait .rc-steps-item-tail::after,
.new-supplier-modal .rc-steps-item-process .rc-steps-item-tail::after {
  background-color: #98aeca;
}

.new-supplier-modal .content .rc-steps-item-tail {
  width: 90%;
}

.new-supplier-modal .content .form {
  margin: 0 20px;
}

.new-supplier-modal .rc-steps-item-finish .rc-steps-item-icon > .rc-steps-icon,
.new-supplier-modal .rc-steps-item-wait .rc-steps-item-icon > .rc-steps-icon {
  color: #98aeca;
  width: 70px !important;
  height: 70px !important;
  padding: 0 !important;
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #98aeca;
}

.new-supplier-modal .rc-steps-item-custom.rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon {
  color: #349af8;
  border: 2px solid #349af8;
  background: #fff 0% 0% no-repeat padding-box;
  width: 70px !important;
  height: 70px !important;
  padding: 0 !important;
}

.new-supplier-modal .rc-steps-icon i {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  margin: 0 !important;
}

.new-supplier-modal .rc-steps-item-content {
  width: max-content !important;
}

.new-supplier-modal .rc-steps-item-title {
  font-size: 12px;
  color: #3b4557 !important;
}

.new-supplier-modal .upload-section {
  width: 869px;
  min-height: 330px;
  margin: auto;
}

.new-supplier-modal .upload-section .mapping-container {
  width: 869px;
  min-height: 315px;
  margin: auto;
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #98aeca;
  border-radius: 15px;
  padding-right: 30px;
  padding-left: 30px;
}

.new-supplier-modal .mapping-container label {
  padding-bottom: 10px;
}

.new-supplier-modal .mapping-container label,
.new-supplier-modal .ui.form .field > label {
  color: #333333de;
  font-weight: 600;
  font-size: 13px;
}

.new-supplier-modal .ui.form .column {
  padding: 0;
  margin: 0 16px;
}

.new-supplier-modal .ui.form .column:nth-child(1) {
  min-width: 250px !important;
  max-width: 250px !important;
}

.new-supplier-modal .upload-section .mapping-container > .row:nth-child(1) {
  height: max-content;
}

.new-supplier-modal .upload-section .mapping-container > .row:nth-child(2) {
  height: 205px;
  padding-top: 0 !important;
}

.new-supplier-modal .upload-section .mapping-container > .row:nth-child(1),
.new-supplier-modal .upload-section .mapping-container > .row:nth-child(1) > .column {
  position: unset;
}

.new-supplier-modal .upload-section .mapping-container > .row:nth-child(1) > .column > h3 {
  position: absolute;
  bottom: 39px;
  left: 10px;
}

.new-supplier-modal .upload-section .mapping-container > .row:nth-child(1) > .column > h3 span {
  font-weight: 600;
  font-size: 16px;
  color: #3b4557;
  font-family: 'Work sans', sans-serif !important;
}

.new-supplier-modal .new-supplier-cont .ui.checkbox input.hidden + label {
  font-size: 14px;
  color: #000c;
  font-family: 'Work sans', sans-serif !important;
}

.new-supplier-modal .upload-section .mapping-container > .row:nth-child(1) > .column > h3 .ui.checkbox input.hidden + label {
  font-size: 14px !important;
  color: #000c !important;
  font-family: 'Work sans', sans-serif !important;
  font-weight: 400 !important;
}

.new-supplier-modal .upload-section .mapping-container .ui.table thead th,
.new-supplier-modal .upload-section .mapping-container .ui.celled.table tbody tr:nth-child(1) td {
  font-size: 14px !important;
  color: #000c !important;
  font-family: 'Work sans', sans-serif !important;
  font-weight: bold;
}

.new-supplier-modal .upload-section .mapping-container .sixteen.wide.column {
  height: 100% !important;
}

.new-supplier-modal .upload-section .mapping-container .ui.selection.dropdown {
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #dededf;
  border-radius: 4px;
  height: 38px;
  font-size: 14px;
  color: #b5b5b5;
  font-weight: 500;
}

.new-supplier-modal .upload-section .mapping-container .three.wide.column {
  max-width: max-content !important;
}

.new-supplier-modal .upload-section .mapping-container .row.stackable.undefined {
  display: flex;
  justify-content: space-around;
}

.new-supplier-modal .submit-container {
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #98aeca;
  border-radius: 15px;
  width: 869px;
  height: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-supplier-modal .submit-actions {
  margin-right: 60px;
}

.new-supplier-modal .new-upload-form {
  position: relative;
}

.new-supplier-modal .new-upload-outline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid #98aeca;
  border-radius: 15px;
  background: #fff 0% 0% no-repeat padding-box;
  padding: 15px !important;
}

.new-supplier-modal .ui.form .column:nth-child(1) input {
  min-width: 250px;
}

.new-supplier-modal .ui.form .field > .selection.dropdown {
  font-size: 14px;
  height: 38px;
  font-weight: 500;
  color: #b5b5b5;
}

.new-supplier-modal button.ui.black.basic.primary.button {
  border: 1px solid #349af8 !important;
  border-radius: 100px !important;
  height: 32px !important;
  color: #349af8 !important;
  font-size: 14px;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
  background: none !important;
  font-family: 'Work sans', sans-serif !important;
}

.new-supplier-modal button.ui.black.basic.primary.button:active,
.new-supplier-modal button.ui.black.basic.primary.button:focus {
  box-shadow: none !important;
}

.new-supplier-modal .ui.form .field .ui.input input,
.new-supplier-modal .ui.form .fields .field .ui.input input {
  border: 1px solid #dededf !important;
  border-radius: 4px !important;
  height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  background: #fff 0% 0% no-repeat padding-box;
  font-family: 'Work sans', sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  color: #b5b5b5;
}

.new-supplier-modal .rc-steps-item-container:focus {
  box-shadow: none !important;
  outline: none !important;
}

.new-supplier-modal button.file-uploader {
  min-height: 315px !important;
  max-height: 315px !important;
  background: #f8faff 0% 0% no-repeat padding-box;
  border: 1px solid #98aeca;
  border-radius: 15px;
}

.new-supplier-modal .content .new-supp-container {
  height: 100% !important;
  position: relative;
}

.new-supplier-modal button.file-uploader .description-container {
  display: flex;
  flex-direction: column;
}

.new-supplier-modal button.file-uploader .upload-supplier-desc {
  font-size: 14px;
  color: #3b4557;
  font-family: 'Work sans', sans-serif !important;
}

.new-supplier-modal .upload-supplier-csv {
  font-weight: 600;
  font-size: 16px;
  color: #3b4557;
  font-family: 'Work sans', sans-serif !important;
}

.new-supplier-modal button.file-uploader i.cloud.upload.huge.icon {
  font-size: 5.2rem;
  width: 100px;
  min-height: 70px !important;
  max-height: 70px !important;
  margin-left: auto;
  margin-right: auto;
  color: #98aeca;
}

.new-supplier-modal button.file-uploader i.icon.cloud::before {
  display: flex;
  justify-content: center;
  height: 100% !important;
}

.new-supplier-modal .new-supplier-cont {
  width: 869px;
  margin: auto;
}

.new-supplier-modal .new-supplier-cont .ui.basic.grey.button {
  border: 1px solid #98aeca;
  border-radius: 100px !important;
  height: 32px !important;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  color: #98aeca !important;
  box-shadow: none !important;
  font-family: 'Work sans', sans-serif !important;
}

div.rc-steps-item-title {
  font-size: 12px;
  color: #3b4557;
  font-weight: 400;
}

div.new-supplier-cont {
  display: flex;
  align-items: flex-end !important;
  flex-direction: column !important;
}

div.new-supplier-cont .ui.button {
  height: 37px !important;
  margin-right: 10px;
  margin-left: 10px;
}

div.new-supplier-cont > div:nth-child(1) {
  margin-right: 0;
  margin-top: 10px;
}

div.new-supplier-cont > div:nth-child(2) {
  margin-top: 20px;
  padding-right: 40px;
}
