.add-supplier-popup {
  max-width: 420px !important;
}

.ui.basic.teal.button .button,
.ui.basic.teal.button {
  border: 1px solid !important;
  box-shadow: none !important;
}

.ui.basic.blue.button,
.ui.basic.blue.button:hover,
.ui.basic.blue.button .button,
.ui.basic.primary.button,
.ui.basic.primary.buttons .button,
.ui.basic.primary.button:hover,
.ui.basic.blue.button .button:hover,
.ui.basic.primary.buttons .button:hover {
  border: 1px solid #4285f4 !important;
  box-shadow: none !important;
  color: #4285f4 !important;
}

.add-new-supplier {
  background-color: #4b9af8 !important;
  border-radius: 50px !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px !important;
  font-weight: bold !important;
}

.syn-dropdown .menu {
  background-color: #ffff !important;
  border: 1px 1px 1px 1px solid !important;
  border-color: #4285f4 !important;
  border-radius: 0 0 5px 5px !important;
  box-shadow: 0 3px 4px 0 rgba(34, 36, 38, 0.3) !important;
  min-width: max-content !important;
}

.ui.selection.dropdown .menu {
  width: 100% !important;
}

.syn-dropdown {
  align-self: center !important;
  border: 1px solid #4285f4 !important;
  border-radius: 5px !important;
  color: #4285f4 !important;
  width: 65% !important;
}

.syn-dropdown > .text {
  font-size: 14px !important;
  font-weight: 900 !important;
}

.ui.selection.dropdown.syn-dropdown-link .menu {
  width: max-content !important;
}

.syn-dropdown-link a {
  color: black !important;
}

.operations {
  align-items: center;
  display: flex;
}

.operations i {
  cursor: pointer;
}

.product-ratio-with-pie {
  display: inline-block;
  min-width: 50px;
}

.ui.large.modal {
  max-width: 966px;
  min-height: 590px;
  width: 100% !important;
  margin: auto;
}

.ui.form .field > label {
  color: #333;
  font-weight: 600;
  font-size: 13px;
}

.ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input {
  border: 1px solid #dededf !important;
  border-radius: 4px !important;
}

div.rc-steps-item-title {
  font-size: 12px;
  color: #3b4557;
  font-weight: 400;
}

div.new-supplier-cont {
  display: flex;
  align-items: flex-end !important;
  flex-direction: column !important;
}

div.new-supplier-cont .ui.button {
  height: 37px !important;
  margin-right: 10px;
  margin-left: 10px;
}

div.new-supplier-cont > div:nth-child(1) {
  margin-right: 0;
  margin-top: 10px;
}

div.new-supplier-cont > div:nth-child(2) {
  margin-top: 20px;
  padding-right: 40px;
}
