@import '../../design-system/new-colors';

/* Global Reset */
@mixin btnReset {
  background: none !important;
  outline: none !important;
  border: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $fontweight_semibold !important;
  padding: 0 !important;

  &:disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
  }
}

/* Variants Styles */

.primary {
  &__orange {
    @include btnReset;

    background: $orange_6 !important;
    color: $prim_white !important;
    border: 1px solid $orange_6 !important;

    &:hover {
      background: $accent_orange !important;
      border: 1px solid $accent_orange !important;
      font-weight: $fontweight_semibold !important;
    }
  }

  &__blue {
    @include btnReset;

    background: $blue_8 !important;
    color: $prim_white !important;
    border: 1px solid $blue_8 !important;

    &:hover {
      background: $blue_7 !important;
      border: 1px solid $blue_7 !important;
      font-weight: $fontweight_semibold !important;
    }
  }

  &__black {
    @include btnReset;

    background: $black_0 !important;
    color: $prim_white !important;
    border: 1px solid $black_0 !important;

    &:hover {
      opacity: 0.8;
      font-weight: $fontweight_semibold !important;
    }
  }

  &__purpleGradient {
    @include btnReset;

    background: $orange_purple_gradient !important;
    color: $prim_white !important;
    border: none !important;

    &:hover {
      opacity: 0.8;
      font-weight: $fontweight_semibold !important;
    }
  }

  &__grey {
    @include btnReset;

    background: $grey_3 !important;
    color: $grey_8 !important;
    border: 1px solid $grey_3 !important;

    &:hover {
      background: $grey_4 !important;
      border: 1px solid $grey_4 !important;
      font-weight: $fontweight_semibold !important;
    }
  }
}

.secondary {
  &__orange {
    @include btnReset;

    background: $prim_white !important;
    color: $accent_orange !important;
    border: 1px solid $accent_orange !important;
    font-weight: 400 !important;

    &:hover {
      background: $accent_orange !important;
      border: 1px solid $accent_orange !important;
      color: $prim_white !important;
      font-weight: 500 !important;
    }
  }

  &__blue {
    @include btnReset;

    background: $prim_white !important;
    color: $blue_8 !important;
    border: 1px solid $blue_8 !important;

    &:hover {
      background: $blue_8 !important;
      border: 1px solid $blue_8 !important;
      color: $prim_white !important;
      font-weight: 500 !important;
    }
  }

  &__black {
    @include btnReset;

    background: $prim_white !important;
    color: $black_0 !important;
    border: 1px solid $black_0 !important;

    &:hover {
      background: $black_0 !important;
      border: 1px solid $black_0 !important;
      color: $prim_white !important;
      font-weight: 500 !important;
    }
  }

  /* Creating an outer div to generate gradient borders */
  &__purpleGradient {
    background: $orange_purple_gradient !important;
    padding: 2px;
    color: $black_1 !important;
    border: none !important;
    border-radius: 7px !important;

    .innerButton {
      @include btnReset;

      font-weight: 500 !important;
      background: $prim_white !important;
      border-radius: 6px !important;
      width: 100%;
      height: 100%;

      &:hover {
        color: $prim_white !important;
        background: none !important;
        font-weight: 600 !important;
      }

      &:disabled {
        opacity: 1 !important;
      }
    }
  }

  &__grey {
    @include btnReset;

    background: $prim_white !important;
    border: 1px solid $second_silver !important;
    color: $grey_8 !important;

    &:hover {
      background: $second_silver !important;
      border: 1px solid $second_silver !important;
      font-weight: $fontweight_semibold !important;
    }
  }
}

.reset {
  @include btnReset;

  background: transparent !important;
  color: $grey_6 !important;
  border: 1px solid transparent !important;

  &:hover {
    background: $grey_1 !important;
    border: 1px solid $grey_1 !important;
  }
}

/* Sizes */
.md {
  border-radius: 7px !important;
  min-width: 140px !important;
  height: 34px !important;
  width: max-content;
}

.small {
  border-radius: 7px !important;
  min-width: 100px !important;
  height: 25px !important;
  width: max-content;
  font-size: 14px;
}

.disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
}
