.tab {
  display: flex;
}

.tabBtn {
  margin-right: 15px;
}

.tabInfo {
  display: flex;

  &__text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding-left: 7px;
  }
}
