@import '../../../design-system/new-colors.scss';

.headerCell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .headerText {
    text-align: center;
    font-size: 14px;
    color: inherit;
    font-weight: 600;
    white-space: pre-wrap;
  }

  .sortIcon {
    margin-left: 10px;
    color: inherit;
    font-size: 10px !important;
  }
}
