@import '../../design-system/colors';

.generic-table {
  &.scrollable {
    overflow-x: auto;
    margin-bottom: 100px !important;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  &.pf-table {
    overflow-x: inherit;

    .body-inner-table {
      background: #fff;
    }
  }

  .tracker-body.disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  .table-menu-header {
    display: flex;
    justify-content: space-between;
    height: 94px;
    padding-top: 20px !important;
    padding-bottom: 37px !important;
    position: sticky;
    top: -67px;
    z-index: 5;
    background: #f7f7f7;
    transition-property: top;
    transition-duration: 1s;

    &.scroll-top {
      top: -23px;
      transition-property: top;
      transition-duration: 1s;
    }

    &.sticky-chart-active {
      z-index: 5;
      top: 240px;
      transition-property: top;
      transition-duration: 1s;
    }

    &.scroll-top.sticky-chart-active {
      top: 270px;
      transition-property: top;
      transition-duration: 1s;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  .ui.table {
    thead th {
      border-left: none;
      border: none;
      border-radius: unset;
    }

    &.pf-table {
      margin-top: -15px;

      thead.pf-header {
        > tr {
          th {
            border: none;
          }

          &:first-child {
            th {
              position: sticky;
              top: 55px;
              z-index: 3;
              transition-property: top;
              transition-duration: 1s;
            }
          }
        }

        > tr:first-child > th {
          border-bottom: 1px solid #f8faff !important;
          border-top: 20px solid #f8faff !important;
          background: #f8faff;
          border-radius: unset;

          table.header-inner-table {
            border-top: 1px solid #bec0c3;
            border-bottom: 1px solid #bec0c3;
          }

          &:first-child {
            table.header-inner-table {
              .pf-header-cell:last-child {
                border-radius: unset;
              }

              border-left: 1px solid #bec0c3;
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            }
          }

          &:last-child {
            table.header-inner-table {
              border-right: 1px solid #bec0c3;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
        }

        &.sticky-chart-active > tr:first-child th {
          top: 363px;
          transition-property: top;
          transition-duration: 1s;
        }

        &.scroll-top > tr:first-child th {
          top: 105px !important;
          transition-property: top;
          transition-duration: 1s;

          @media only screen and(min-width: 1599px) {
            top: 105px !important;
          }
        }

        &.sticky-chart-active.scroll-top > tr:first-child th {
          top: 417px;
          transition-property: top;
          transition-duration: 1s;

          @media only screen and(min-width: 1367px) {
            top: 417px !important;
          }

          @media only screen and(min-width: 1599px) {
            top: 410px !important;
          }

          @media only screen and(min-width: 1919px) {
            top: 520px !important;
          }

          @media only screen and(min-width: 2559px) {
            top: 635px !important;
          }
        }
      }
    }
  }

  .row-expand-btn {
    i {
      color: #c3c4c4 !important;
      font-size: 2.4em !important;
    }
  }
}

.sort-arrow {
  margin: 0 3px -2px 2px;
  max-height: 13px;
  max-width: 10px;
}

.search-filter {
  float: right;
  margin: -3px 0.25rem 0 0 !important;
}

.card-header {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left: 13px;
}

i.icon.close::before {
  border: none !important;
}

.filter-card {
  width: 232px !important;
}

i.icon.filter::before {
  font-size: 11px !important;
}

.lock-footer {
  display: flex;
  height: 400px;

  .table-lock {
    height: 453px;
    position: absolute;
    background: #98aecaf2;
    width: 98%;
    z-index: 9;
    border-radius: 11px;

    &__content {
      color: #313a4c;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;

      p {
        font-size: 35px;
      }

      .icon {
        font-size: 60px;
      }

      .primary.button {
        background: #349af8;
        border-radius: 40px;
        margin-top: 35px;
        font-family: 'Work Sans', sans-serif !important;
      }
    }
  }
}

.table-header {
  height: 46px;
  min-width: 95px;
  padding: 0 5px !important;

  &:hover {
    background: $table-header-hover-color !important;
  }

  &.dimension {
    min-width: 152px !important;
  }
}

.table-cell-container {
  display: flex;
  align-items: center;
  padding: 0 5px;

  img {
    @media only screen and(max-width: 1450px) {
      width: 10px;
      height: 10px;
    }
  }

  .upcs {
    min-width: 130px !important;
  }

  .is_amazon_selling {
    min-width: 120px !important;
  }

  .subscribe_save {
    min-width: 100px !important;
  }

  .num_fba_new_offers,
  .num_fbm_new_offers,
  .low_new_fbm_price,
  .low_new_fba_price {
    min-width: 130px !important;
  }
}

.th-label {
  white-space: pre;
  line-height: 1.4;
  color: $table-header-text-color;
  font-size: $table-header-label-size;
  font-weight: 600 !important;
}

.ui.sortable.table thead th.sorted::after {
  display: none;
}

.sort-icon {
  display: table !important;
  font-size: $sort-icon-size !important;
  margin: 0 0 -2px 12px !important;
  color: $icon-color;
}

.default-column-props {
  height: 46px !important;
  padding: 4px !important;
  max-width: 400px !important;
}

.auto-column {
  @extend .default-column-props;

  min-width: auto;
}

.default-column {
  @extend .default-column-props;

  width: 95px;
  min-width: 95px;
  color: $text-color;

  &.udate {
    white-space: pre-wrap;
    min-width: 120px !important;
    color: $table-kpi-text-color !important;
  }
}

.small-column {
  @extend .default-column-props;

  width: 46px;
  min-width: 46px;
}

.medium-column {
  @extend .default-column-props;

  width: 120px;
  min-width: 120px;
}

.large-column {
  @extend .default-column-props;

  width: 190px !important;
  min-width: 190px;
}

.primary-column {
  @extend .default-column-props;

  .th-label {
    padding-left: 37px;
  }
}

.search-ic {
  margin-top: -10px;
}

.middle-scroll-cell {
  border: none !important;
  height: 0 !important;
  border-spacing: 0 !important;
  padding: 0 !important;
  border-radius: 30px;
  background: transparent !important;
}

.middle-scroll-cell:hover {
  background: transparent !important;
  cursor: pointer !important;
  height: unset !important;
}

.middle-scroll-cell-disabled {
  @extend .middle-scroll-cell;

  cursor: default !important;
}

.middle-scroll-cell-disabled:hover {
  background: transparent !important;
  cursor: default !important;
}

.remove-right-border-header {
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.remove-left-border-header {
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.middle-scroll-header-right-cell {
  @extend .remove-right-border-header;
}
/* stylelint-disable no-descending-specificity */

.parent-header-column > th {
  height: 46px !important;
  border-spacing: 0 !important;

  .primary-column {
    @extend .remove-right-border-header;

    width: 113px !important;

    .th-label {
      padding-left: 25px !important;
    }
  }

  tr > th {
    border: none !important;
  }

  padding: 0 !important;

  .sellgo_score {
    width: 100% !important;

    > .table-cell-container {
      justify-content: center !important;
      margin-right: 2px;
      color: $text-color;

      > .sort-arrow {
        margin: 0;
        fill: $text-color;
      }
    }
  }
}

.middle-header tr {
  th {
    @extend .remove-right-border-header;
    @extend .remove-left-border-header;
  }
}

.middle-body-column {
  > td {
    border: none !important;
    padding: 0 !important;
    background: #f8faff;
  }
}

.middle-body-child-row {
  :first-child {
    @extend .remove-left-border-header;
  }

  :last-child {
    @extend .remove-right-border-header;
  }
}

.right-body-child-row {
  :last-child {
    @extend .remove-right-border-header;
  }
}

.left-body-child-row {
  :first-child {
    @extend .remove-left-border-header;

    .details-buttons {
      width: 192px !important;
    }
  }

  :nth-child(2) {
    width: 56px !important;
  }

  .sellgo_score {
    width: 100% !important;

    > .detail-buttons {
      width: 100% !important;
    }
  }
}

.header-scroll {
  max-width: 670px !important;
  overflow: auto !important;
}

@media only screen and (min-width: 1920px) {
  .header-scroll {
    max-width: 670px !important;
  }

  .table-header-scroll {
    max-width: 670px !important;
  }
}

.table-header-scroll {
  max-width: 358px !important;
  overflow-x: auto !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.middle-body {
  max-width: 670px !important;
  overflow: auto !important;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.left-fixed-header-column {
  width: 18% !important;
}

.left-fixed-header-column-ptr {
  @extend .left-fixed-header-column;

  border: none !important;
}

.table-scroll-divider {
  height: 3px;
}

.inner-tbody::before {
  line-height: 0 !important;
}

.header-inner-table {
  border-spacing: 0 0 !important;
  width: 100% !important;
  margin: 0 !important;
}

.body-inner-table {
  border-spacing: 0 1px !important;
  width: 100% !important;
}

.graph-column {
  .product-detail-charts {
    width: 95%;
    border: 1px solid #2224264d;
    border-radius: 5px;
  }
}

.alter-table {
  border-spacing: 0 !important;
}

.popup {
  z-index: 900 !important;
}

.pagination-cell {
  width: 100% !important;
  position: fixed !important;
  z-index: 9999;
  bottom: 0;
  background: #fff !important;
  right: 10px;
  padding: 5.8px 0.78571em !important;
  -webkit-box-shadow: 0 -3px 6px 0 rgba(0, 0, 9, 0.25);
  -moz-box-shadow: 0 -3px 6px 0 rgba(0, 0, 9, 0.25);
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 9, 0.25);
}

.pagination-container {
  display: flex !important;
  justify-content: space-between !important;
  padding-left: 60px;
  align-items: center;
}

@media (max-width: 2560px) {
  .inner-tbody .pf-header-cell.large-column {
    width: 134px !important;
  }

  .generic-table {
    .table-menu-header {
      &.sticky-chart-active {
        top: 524px;
      }

      &.scroll-top.sticky-chart-active {
        top: 515px;
      }
    }

    .ui.table {
      &.pf-table {
        thead.pf-header {
          &.sticky-chart-active > tr:first-child th {
            top: 620px;
          }
        }
      }
    }
  }
}

@media (max-width: 2550px) {
  .generic-table {
    .table-menu-header {
      &.sticky-chart-active {
        top: 429px;
      }

      &.scroll-top.sticky-chart-active {
        top: 399px;
      }
    }

    .ui.table {
      &.pf-table {
        thead.pf-header {
          &.sticky-chart-active > tr:first-child th {
            top: 502px;
          }
        }
      }
    }
  }
}

@media (max-width: 1920px) {
  .generic-table {
    .table-menu-header {
      &.sticky-chart-active {
        top: 393px;
      }

      &.scroll-top.sticky-chart-active {
        top: 396px;
      }
    }

    .ui.table {
      &.pf-table {
        thead.pf-header {
          &.sticky-chart-active > tr:first-child th {
            top: 487px;
          }
        }
      }
    }
  }
}

@media (max-width: 1680px) {
  .generic-table {
    .table-menu-header {
      &.sticky-chart-active {
        top: 272px;
      }

      &.scroll-top.sticky-chart-active {
        top: 260px;
      }
    }

    .ui.table {
      &.pf-table {
        thead.pf-header {
          &.sticky-chart-active > tr:first-child th {
            top: 340px;
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .generic-table {
    .table-menu-header {
      &.sticky-chart-active {
        top: 258px;
      }

      &.scroll-top.sticky-chart-active {
        top: 260px;
      }
    }

    .ui.table {
      &.pf-table {
        thead.pf-header {
          &.sticky-chart-active > tr:first-child th {
            top: 340px;
          }
        }
      }
    }
  }
}

@media (max-width: 1550px) {
  .large-column {
    min-width: 190px !important;
  }

  .generic-table {
    .table-menu-header {
      &.sticky-chart-active {
        top: 291px;
      }

      &.scroll-top.sticky-chart-active {
        top: 277px;
      }
    }

    .ui.table {
      &.pf-table {
        thead.pf-header {
          &.sticky-chart-active > tr:first-child th {
            top: 380px;
          }
        }
      }
    }
  }
}

@media (max-width: 1367px) {
  .generic-table {
    .table-menu-header {
      &.sticky-chart-active {
        top: 360px;
      }

      &.scroll-top.sticky-chart-active {
        top: 360px;
      }
    }

    .ui.table {
      &.pf-table {
        thead.pf-header {
          &.sticky-chart-active > tr:first-child th {
            top: 434px;
          }
        }
      }
    }
  }
}

.scroll-column {
  height: 10px !important;
}

.xs-column {
  min-width: 50px !important;
}

.sm-column {
  min-width: 96px !important;
}

.md-column {
  min-width: 110px !important;
}

.lg-column {
  min-width: 142px !important;
}

.xl-column {
  min-width: 195px !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .middle-body {
    max-width: 290px !important;
  }

  .middle-header {
    max-width: 290px !important;
  }

  .middle-scroll-cell {
    max-width: 290px !important;
  }

  .remove-top-border {
    width: 98.4% !important;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .middle-body {
    max-width: 540px !important;
  }

  .middle-header {
    max-width: 540px !important;
  }

  .middle-scroll-cell {
    max-width: 290px !important;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1441px) {
  .middle-body {
    max-width: 630px !important;
  }

  .middle-header {
    max-width: 630px !important;
  }

  .middle-scroll-cell {
    max-width: 630px !important;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1681px) {
  .left-most {
    width: 100px !important;
  }

  .header-scroll {
    max-width: 400px !important;
  }

  .middle-scroll-cell {
    min-width: 105px !important;
  }
}

@media only screen and (min-width: 1536px) {
  .middle-scroll-cell {
    min-width: 105px !important;
  }
}

@media only screen and (min-device-width: 1680px) and (max-device-width: 1919px) {
  .header-scroll {
    max-width: 670px !important;
  }

  .center-scrolling {
    display: none;
  }
}

.left-most {
  width: auto;
}

@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  .left-most {
    width: 100px !important;
  }

  .default-column {
    width: 100px !important;
    min-width: 100px !important;
  }

  .product-description {
    .description-text {
      width: 345px !important;
    }
  }

  .middle-scroll-cell {
    min-width: 148px !important;
  }
}

@media only screen and (min-width: 2560px) {
  .left-most {
    width: 100px !important;
  }

  .default-column {
    width: 150px !important;
  }

  .product-description {
    .description-text {
      width: 345px !important;
    }
  }

  .pf-header-cell {
    height: 47px !important;
  }
}

.ptr-scroll-container {
  height: 20px !important;
}

.header-scroll::-webkit-scrollbar {
  height: 7px !important;
}

.header-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
}

.header-scroll::-webkit-scrollbar-track {
  border-radius: 5px !important;
}

.middle-body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.table-header-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.range-filters {
  padding: 0 !important;
  overflow: hidden !important;
}

.column-filter-ic {
  margin-top: -12px !important;
  color: $icon-color !important;

  &:hover {
    color: #2e3b4a !important;
    font-size: 16px !important;
  }
}

.column-filter-ic-active {
  margin-top: -12px !important;
  color: #000;
}

.th-icons {
  display: flex;
  align-items: center;
}

// Media queries for PF Table responsiveness in smaller screens.
@media only screen and(max-width: 1450px) {
  // Changes the text size of small columns
  .pf-table .inner-tbody .middle-body-child-row {
    .sm-column {
      font-size: 11px !important;
    }
  }

  .upcs {
    i.blue.info.circle.icon {
      @media only screen and(max-width: 1450px) {
        font-size: 11px !important;
      }
    }
  }

  .multipack_margin {
    min-width: 82px !important;
  }

  .sales_monthly {
    min-width: 96px !important;
  }

  .fba_fee {
    min-width: 89px !important;
  }

  .referral_fee {
    min-width: 89px !important;
  }

  .customer_reviews {
    min-width: 90px !important;
  }

  .pf-table .inner-tbody .middle-body-child-row .default-column,
  .pf-table .inner-tbody .middle-body-child-row .sm-column,
  .pf-table .inner-tbody .middle-body-child-row .md-column,
  .pf-table .inner-tbody .middle-body-child-row .lg-column,
  .pf-table .inner-tbody .middle-body-child-row .xl-column {
    p {
      font-size: 11px !important;
      text-align: left !important;
    }
  }

  .pf-table .inner-tbody .right-body-child-row {
    .title a span {
      font-size: 11px !important;
    }

    .checkboxes {
      padding: 0 !important;

      .product-checkbox {
        min-width: 15px !important;
        width: 15px !important;
        height: 15px !important;

        input {
          width: 15px !important;
          height: 100%;
        }
      }
    }
  }

  .pf-table .inner-tbody .left-body-child-row {
    span {
      font-size: 11px;
    }
  }

  .pf-table .inner-tbody .pf-header-cell > .table-cell-container {
    font-size: 11px !important;
  }
}

/* Extra Media Query for Sticking Tracker Table Header  */
.generic-table .ui.table.pf-table thead.pf-header.scroll-top > tr.trackerTable:first-child th {
  top: 55px !important;
  transition: none !important;
}

/* Extra Media Query for Sticking Leads Tracker Table Header  */
.generic-table .ui.table.pf-table thead.pf-header.scroll-top > tr.leads-tracker:first-child th {
  top: 55px !important;
  transition: none !important;
}

.ui.sortable.table {
  th.pf-header-cell {
    &:hover {
      background: $table-header-hover-color !important;
    }
  }
}
