.generic-table {
  &.scrollable {
    overflow-x: auto;
    padding-bottom: 100px;
  }

  &.pf-table {
    overflow-x: inherit;

    .body-inner-table {
      background: #f8faff;
    }
  }

  .table-menu-header {
    display: flex;
    margin: 18px 0 18px 0;
    justify-content: space-between;
    padding: 0 5px;
    height: 94px;
    padding-top: 30px !important;
    padding-bottom: 27px !important;
    position: sticky;
    top: -70px;
    z-index: 5;
    background: #f8faff;
    transition-property: top;
    transition-duration: 1s;

    &.scroll-top {
      top: -70;
      transition-property: top;
      transition-duration: 1s;
    }

    &.sticky-chart-active {
      z-index: 4;
      top: 240px;
      transition-property: top;
      transition-duration: 1s;
    }

    &.scroll-top.sticky-chart-active {
      z-index: 4;
      top: 270px;
      transition-property: top;
      transition-duration: 1s;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.3;
    }

    .product-search {
      height: 100%;
      width: 480px;

      input {
        border: 1px solid #98aeca !important;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      button {
        border-left: none !important;
        border-right: 1px solid #349af8 !important;
        border-top: 1px solid #349af8 !important;
        border-bottom: 1px solid #349af8 !important;
        background-color: #349af8;
        border-top-right-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        color: white;
      }
    }

    .product-search--active {
      height: 100%;
      width: 480px;

      input {
        border: 1px solid #349af8 !important;
      }

      button {
        border-left: none !important;
        border-right: 1px solid #349af8 !important;
        border-top: 1px solid #349af8 !important;
        border-bottom: 1px solid #349af8 !important;
      }
    }
  }

  .ui.table {
    thead th {
      border-left: none;
    }

    &.pf-table {
      margin-top: -14px;

      thead.pf-header {
        > tr:first-child {
          th {
            position: sticky;
            top: 15px;
            transform: scale(0.999);
            z-index: 6;
            transition-property: top;
            transition-duration: 1s;

            &:hover {
              background: #e6e6e6;
            }
          }
        }

        &.sticky-chart-active > tr:first-child th {
          top: 363px;
          transition-property: top;
          transition-duration: 1s;
        }

        &.scroll-top > tr:first-child th {
          top: 98px;
          transition-property: top;
          transition-duration: 1s;
        }

        &.sticky-chart-active.scroll-top > tr:first-child th {
          top: 438px;
          transition-property: top;
          transition-duration: 1s;
        }
      }
    }
  }

  .row-expand-btn {
    i {
      color: #c3c4c4 !important;
      font-size: 2.4em !important;
    }
  }
}

.sort-arrow {
  margin: 0 10px -2px 12px;
  max-height: 13px;
  max-width: 10px;
}

.search-filter {
  float: right;
  margin: -3px 0.25rem 0 0 !important;
}

.card-header {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left: 13px;
}

i.icon.close::before {
  border: none !important;
}

.filter-card {
  width: 232px !important;
}

i.icon.filter::before {
  font-size: 11px !important;
}

.lock-footer {
  display: flex;
  height: 400px;

  .table-lock {
    height: 453px;
    position: absolute;
    background: #98aecaf2;
    width: 98%;
    z-index: 9;
    border-radius: 11px;

    &__content {
      color: #313a4c;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;

      p {
        font-size: 35px;
      }

      .icon {
        font-size: 60px;
      }

      .primary.button {
        background: #349af8;
        border-radius: 40px;
        margin-top: 35px;
        font-family: 'Work Sans', sans-serif !important;
      }
    }
  }
}

.table-header {
  height: 46px;
  min-width: 95px;
}

.table-cell-container {
  display: flex;
  align-items: center;
}

.th-label {
  white-space: pre;
  line-height: 1.5;
}

.ui.sortable.table thead th.sorted::after {
  display: none;
}

.sort-icon {
  display: table !important;
  font-size: 15px !important;
  margin: 0 0 -2px 12px !important;
}

.default-column-props {
  height: 46px !important;
  padding: 4px !important;
  max-width: 400px !important;
}

.auto-column {
  @extend .default-column-props;

  min-width: auto;
}

.default-column {
  @extend .default-column-props;

  width: 95px;
  min-width: 95px;
}

.small-column {
  @extend .default-column-props;

  width: 46px;
  min-width: 46px;
}

.medium-column {
  @extend .default-column-props;

  width: 120px;
  min-width: 120px;
}

.large-column {
  @extend .default-column-props;

  width: 190px !important;
  min-width: 190px;
}

.primary-column {
  @extend .default-column-props;

  .th-label {
    padding-left: 37px;
  }
}

.search-ic {
  margin-top: -10px;
  padding-left: 18px;
}

.middle-scroll-cell {
  border: none !important;
  height: 2px !important;
  border-spacing: 0 !important;
  padding: 0 !important;
  border-radius: 30px;
  background: transparent !important;
}

.middle-scroll-cell:hover {
  background: transparent !important;
  cursor: pointer !important;
}

.middle-scroll-cell-disabled {
  @extend .middle-scroll-cell;

  cursor: default !important;
}

.middle-scroll-cell-disabled:hover {
  background: transparent !important;
  cursor: default !important;
}

.remove-right-border-header {
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.remove-left-border-header {
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.middle-scroll-header-right-cell {
  @extend .remove-right-border-header;
}
/* stylelint-disable no-descending-specificity */

.parent-header-column > th {
  height: 46px !important;
  border-spacing: 0 !important;

  .primary-column {
    @extend .remove-right-border-header;

    width: 113px !important;

    .th-label {
      padding-left: 25px !important;
    }
  }

  tr > th {
    border: none !important;
  }

  padding: 0 !important;

  .sellgo_score {
    width: 100% !important;

    > .table-cell-container {
      > .th-label {
        margin-left: 68px;
      }

      > .sort-arrow {
        margin: 0;
      }
    }
  }
}

.middle-header tr {
  th {
    @extend .remove-right-border-header;
    @extend .remove-left-border-header;
  }
}

.middle-body-column {
  > td {
    border: none !important;
    padding: 0 !important;
    background: #f8faff;
  }
}

.middle-body-child-row {
  :first-child {
    @extend .remove-left-border-header;
  }

  :last-child {
    @extend .remove-right-border-header;
  }
}

.right-body-child-row {
  :last-child {
    @extend .remove-right-border-header;
  }
}

.left-body-child-row {
  :first-child {
    @extend .remove-left-border-header;

    .details-buttons {
      width: 192px !important;
    }
  }

  :nth-child(2) {
    width: 56px !important;
  }

  .sellgo_score {
    width: 100% !important;

    > .detail-buttons {
      width: 213px !important;
    }
  }
}

.header-scroll {
  max-width: 670px !important;
  overflow: auto !important;
}

@media only screen and (min-width: 1920px) {
  .header-scroll {
    max-width: 670px !important;
  }

  .table-header-scroll {
    max-width: 670px !important;
  }
}

.table-header-scroll {
  max-width: 358px !important;
  overflow: hidden !important;
}

.middle-body {
  max-width: 670px !important;
  overflow: hidden !important;
}

.left-fixed-header-column {
  width: 18% !important;
}

.table-scroll-divider {
  height: 3px;
}

.inner-tbody::before {
  line-height: 0 !important;
}

.header-inner-table {
  border-spacing: 0 0 !important;
  width: 100% !important;
  margin: 0 !important;
}

.body-inner-table {
  border-spacing: 0 1px !important;
  width: 100% !important;
}

.graph-column {
  .product-detail-charts {
    width: 95%;
    border: 1px solid #2224264d;
    border-radius: 5px;
  }
}

.alter-table {
  border-spacing: 0 !important;
}

.popup {
  z-index: 20 !important;
}

.ptr-scroll-divider {
  height: 20px !important;

.pagination-cell {
  position: absolute !important;
  width: 100% !important;
}

.pagination-container {
  display: flex !important;
  justify-content: center !important;
}

@media (max-width: 2560px) {
  .inner-tbody .pf-header-cell.large-column {
    width: 134px !important;
  }

  .generic-table {
    .table-menu-header {
      &.sticky-chart-active {
        top: 485px;
      }

      &.scroll-top.sticky-chart-active {
        top: 515px;
      }
    }

    .ui.table {
      &.pf-table {
        thead.pf-header {
          &.sticky-chart-active > tr:first-child th {
            top: 608px;
          }

          &.sticky-chart-active.scroll-top > tr:first-child th {
            top: 683px;
          }
        }
      }
    }
  }
}

@media (max-width: 1920px) {
  .generic-table {
    .table-menu-header {
      &.sticky-chart-active {
        top: 352px;
      }

      &.scroll-top.sticky-chart-active {
        top: 382px;
      }
    }

    .ui.table {
      &.pf-table {
        thead.pf-header {
          &.sticky-chart-active > tr:first-child th {
            top: 475px;
          }

          &.sticky-chart-active.scroll-top > tr:first-child th {
            top: 550px;
          }
        }
      }
    }
  }
}

@media (max-width: 1536px) {
  .large-column {
    min-width: 190px !important;
  }

  .generic-table {
    .table-menu-header {
      &.sticky-chart-active {
        top: 237px;
      }

      &.scroll-top.sticky-chart-active {
        top: 267px;
      }
    }

    .ui.table {
      &.pf-table {
        thead.pf-header {
          &.sticky-chart-active > tr:first-child th {
            top: 360px;
          }

          &.sticky-chart-active.scroll-top > tr:first-child th {
            top: 435px;
          }
        }
      }
    }
  }
}

.scroll-column {
  height: 10px !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .middle-body {
    max-width: 290px !important;
  }

  .middle-header {
    max-width: 290px !important;
  }

  .middle-scroll-cell {
    max-width: 290px !important;
  }

  .remove-top-border {
    width: 98.4% !important;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .middle-body {
    max-width: 540px !important;
  }

  .middle-header {
    max-width: 540px !important;
  }

  .middle-scroll-cell {
    max-width: 290px !important;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1441px) {
  .middle-body {
    max-width: 630px !important;
  }

  .middle-header {
    max-width: 630px !important;
  }

  .middle-scroll-cell {
    max-width: 630px !important;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1681px) {
  .left-most {
    width: 100px !important;
  }

  .header-scroll {
    max-width: 400px !important;
  }
}

@media only screen and (min-device-width: 1680px) and (max-device-width: 1919px) {
  .header-scroll {
    max-width: 670px !important;
  }

  .center-scrolling {
    display: none;
  }
}

.left-most {
  width: auto;
}

@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  .left-most {
    width: 100px !important;
  }

  .default-column {
    width: 150px !important;
    min-width: 150px !important;
  }

  .product-description {
    .description-text {
      width: 350px !important;
    }
  }
}

@media only screen and (min-width: 2560px) {
  .left-most {
    width: 100px !important;
  }

  .default-column {
    width: 150px !important;
  }

  .product-description {
    .description-text {
      width: 350px !important;
    }
  }
}
