.generic-table {
  &.scrollable {
    overflow-x: auto;
    padding-bottom: 100px;
  }

  .table-menu-header {
    display: flex;
    margin: 30px 0 20px 0;
    justify-content: space-between;
    padding: 0 5px;

    .product-search {
      height: 100%;
      width: 480px;

      input {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      button {
        background-color: #349af8;
        border-top-right-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        color: white;
      }
    }

    .product-search.active {
      input {
        background: #bad9ff;
      }
    }
  }

  .ui.table {
    thead th {
      border-left: none;
    }
  }

  .row-expand-btn {
    i {
      color: #c3c4c4 !important;
      font-size: 2.4em !important;
    }
  }
}

.sort-arrow {
  margin: 0 0 -2px 25px;
  max-height: 13px;
  max-width: 10px;
}

.search-filter {
  float: right;
  margin: -3px 0.25rem 0 0 !important;
}

.card-header {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left: 13px;
}

i.icon.close::before {
  border: none !important;
}

.filter-card {
  width: 232px !important;
}

i.icon.filter::before {
  font-size: 11px !important;
}
