.rs-table-cell-content {
  .product-description {
    text-align: left;
    //padding-left: 30px;
    display: flex;

    .flag-img {
      margin-right: 15px;
      width: 18px;
      margin-top: center;
    }

    a {
      height: 24px;
      line-height: 24px;

      span {
        line-height: 24px;
      }
    }
  }
}
