@import '../../design-system/colors.scss';

.track-wrap {
  img {
    width: 13px;
  }
}

.admin-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .notifications-wrapper {
    position: relative !important;
  }

  .item {
    height: 70%;
    padding: 4px 0 5px 5px;
    text-decoration: none;

    i.setting-icon,
    i.notification-icon {
      font-size: 18px !important;
      color: $icon-color !important;
      margin-top: none;
      cursor: pointer;

      &:hover {
        color: $icon-hover-color !important;
        transform: scale(1.05);
      }
    }

    .ui.dropdown {
      z-index: inherit;

      img {
        width: 25px;
        height: 25px;
        margin: 0;
      }
    }
  }
}

.resetToggleCheckbox {
  margin: 0 30px;

  label {
    color: $grey_8 !important;
    font-size: 12px !important;

    &::before {
      height: 20px !important;
    }

    &::after {
      height: 20px;
      width: 20px;
      top: 0 !important;
    }
  }
}

.ui.toggle.checkbox.userOnboardingToogle {
  @extend .resetToggleCheckbox;

  label {
    &::before {
      background: $grey_3 !important;
    }
  }

  &.checked {
    label {
      color: $grey_8 !important;

      &::before {
        background: $blue_7 !important;
      }

      &::after {
        background: #fff !important;
      }
    }
  }
}
