/* Otherwise the icons on the left navbar will be floated right */
.ui.vertical.menu .item>i.icon {
  text-align: left;
  float: left;
  min-width: 2em;
}
.top-logo {
    width: 260px;
}
.top-menu {
    padding-right: 20px;
}
.ui.dropdown {
    padding-right: 20px;
}
.search-box{
    min-width: 400px;
}
