@import '../../design-system/colors.scss';

.track-wrap {
  img {
    width: 13px;
  }
}

.admin-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dropdownMenu {
  width: 275px;
  border-radius: 7px;
  border: 1px solid $grey_3;

  .profileBox {
    height: 90px;
    background-color: $blue_0;
  }
}
