/*
  Once we use .less add the following vars:
  - $height for .top-menu, .navbar-spacer
  - $navbar-color for .top-menu
*/

.admin-header .top-menu {
  padding-left: 80px;
  padding-right: 20px;
  background-color: #3b4557 !important;
  height: 64px;
}

.admin-header .divider {
  width: 1px;
  height: 100%;
  align-self: center;
  background-color: #a4a4a4;
}

.admin-header .username {
  margin-left: 7px;
  font-weight: bold;
}

.admin-header .navbar-spacer {
  height: 64px;
}

.admin-header .icon-item {
  padding-left: 26px !important;
  padding-right: 26px !important;
}

.admin-header .icon-item i {
  font-size: 24px;
  margin: 0 !important;
}
