.track-wrap {
  img {
    width: 13px;
  }
}

.admin-header {
  min-height: 40px;
  background-color: #f8faff !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900 !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  padding: 3px 80px 3px 0;

  .item {
    height: 70%;
    padding: 8px 0 5px 10px;

    i.setting-icon {
      font-size: 18px !important;
      color: #a2a2a2 !important;
    }

    .ui.dropdown {
      z-index: inherit;

      img {
        width: 25px;
        height: 25px;
        margin: 0;
      }
    }
  }
}
