.admin-layout {
  &.ui.segment {
    height: 100%;
    min-height: 100vh;
    margin-top: 0;
    padding: 20px 4.69% 0 4.69%;
    transition: width 0.8s, padding 0.8s;
    background-color: #f8faff;
  }
}

@media screen and (max-height: 900px) {
  .ui.segment {
    padding: 0 1rem;
  }
  .slider-range {
    .range-title {
      margin-bottom: 10px;
    }
  }
  .supplier-details-card {
    .ui.feed {
      .event {
        .content {
          .highcharts-container {
            max-height: 300px !important;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 1600px) and (max-width: 2560px) {
  .setting {
    .row {
      .left-column.column {
        align-items: start;
        display: flex !important;
        padding: 0 5rem;
        width: 0 !important;
        margin: 0 !important;
      }
    }
  }
}
