@import '../../design-system/new-colors.scss';

.sidebar-container {
  z-index: 900;
  padding-right: 0 !important;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0 !important;

  .Sidebar__pusher.pusher.container {
    overflow-y: scroll;
    background: #fff;
  }

  .newSidebar__pusher.pusher.container {
    overflow-y: scroll;
    background: $light-gray_background;
  }

  .forward {
    z-index: 999;
  }

  .sidebar-menu {
    display: flex !important;
    height: 100% !important;
    position: fixed;
    top: 0;
    padding-top: 20px;
    padding-right: 0;
    background-color: #3b4557 !important;
    border-radius: 0 !important;
    visibility: visible;
    width: 55px !important;
    transition-property: width !important;
    transition-duration: 0.15s !important;
    transition-delay: 350ms !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &__logo {
      margin-bottom: 30px;

      img {
        max-width: 100%;
      }
    }

    &.visible {
      width: 246px !important;
    }

    .sidebar-bottom-icon {
      flex-direction: column-reverse;
      align-items: inherit !important;
      height: 100% !important;
      display: flex;
      padding-bottom: 20px;
    }
  }

  .sidebar-menu.inverted.menu .menu .item {
    color: #fff !important;
    padding: 17px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: pre;
    border-left: 3px solid transparent;
    margin-bottom: 5px;

    &.active {
      border-left: 3px solid #349af8;
      background: unset;
    }

    i {
      padding-left: 0;
      font-size: 20px;
      min-width: 48px;
    }

    img {
      margin-left: 10px;
      width: 25px;

      &[data-disabled='true'] {
        opacity: 0.2;
      }
    }

    .label {
      margin-left: -3px !important;
      text-align: left;
      line-height: 18px;
      font-weight: 600;
      font-size: 15px;
      color: #fff;
    }

    .label.beta-label {
      padding: 0 5px !important;
      margin: 0 !important;
      background-color: #349af8 !important;
      color: white !important;
      font-size: 8px !important;
      vertical-align: middle !important;
      border-radius: 2px !important;
      position: absolute;
      width: max-content;
      top: -5px;
      left: 0;
    }
  }

  .pushable {
    border: none !important;
    height: 100%;
    margin-top: none !important;
    width: 100% !important;
    border-radius: 0;
  }

  .pusher {
    height: 100%;
    overflow-y: auto !important;
  }

  .sidebar-menu .item .ui.label {
    font-family: 'Work Sans', sans-serif !important;
    background: none !important;
    color: #fff;
  }
}

.ui.left.overlay.sidebar {
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.admin-layout-grid {
  padding: 0 !important;
}

.active.LogoutConfirm {
  box-shadow: none !important;
  padding: 21px;
  height: 200px;
  width: 460px !important;
  background: #fff 0% 0% no-repeat padding-box;
  border: 0.5px solid #3433334d;
  border-radius: 10px;

  h4.ui.icon.header {
    font-weight: 600;
    font-size: 18px;
    color: #000000de !important;
    font-family: 'Work Sans', sans-serif !important;
    margin-bottom: 0;

    .sub.header {
      margin-top: 23px !important;
      font-size: 18px;
      color: #000c !important;
    }
  }

  .ui.placeholder.segment {
    min-height: 8rem;
  }

  .ui.clearing.divider {
    width: 368px;
    margin: 26.5px auto 23.5px auto;
    border: 0.5px solid #3433334d;
  }

  button.ui.button {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif !important;
    border-radius: 20px;
    width: 155px;
    height: 32px;
    padding: 5px 15px !important;
    border: 1px solid #eb675e;
  }

  button.ui.button:first-child {
    border: 1px solid #eb675e;
    background: none;
    color: #eb675e;
  }

  button.ui.button:last-child {
    border: 1px solid #349af8;
    background: none;
    color: #349af8;
  }

  button.ui.button:first-child:hover {
    background: #eb675e;
    color: #fff;
  }

  button.ui.button:last-child:hover {
    background: #349af8;
    color: #fff;
  }

  .ui.placeholder.segment,
  .actions {
    border: 0 !important;
    background: none !important;
    box-shadow: none;
    padding: 0 !important;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media only screen and (min-width: 2560px) {
  .active.LogoutConfirm {
    $confirmation_wide_screen: 1.5;

    height: max-content;
    width: 560px !important;
    border-radius: 10px * $confirmation_wide_screen;
    padding: 20px * $confirmation_wide_screen;

    button.ui.button {
      font-size: 1rem * $confirmation_wide_screen;
      border-radius: 20px * $confirmation_wide_screen;
      width: 140px * $confirmation_wide_screen;
      height: 30px * $confirmation_wide_screen;
      padding: 5px 15px * $confirmation_wide_screen;
    }

    h4.ui.icon.header {
      padding-top: 10px * $confirmation_wide_screen;
      font-size: 1.07142857rem * $confirmation_wide_screen;
    }

    .ui.placeholder.segment {
      min-height: 8rem * $confirmation_wide_screen;
    }

    .sub.header {
      margin-top: 20px * $confirmation_wide_screen !important;
      font-size: 1rem * $confirmation_wide_screen;
    }
  }
}

@media only screen and (max-width: 425px) {
  .active.LogoutConfirm {
    width: 80% !important;

    .ui.clearing.divider {
      width: 80%;
    }
  }
}

.disabled-link {
  color: gray;
}

.ui.right.center.popup.seller-finder-submenu {
  position: absolute !important;
  left: 16.5rem !important;
  top: 0 !important;
  background-color: #3b4557 !important;
  margin: 0;

  &::before {
    background-color: #3b4557 !important;
  }

  .hover-menu {
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    justify-content: flex-start;
    align-items: flex-start;

    a {
      color: white !important;
      margin: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-right: 10px !important;
        height: 15px;
      }

      &:hover {
        text-decoration: underline;
        font-weight: normal;
      }
    }
  }
}
