.sidebar-container {
  z-index: 200;
  padding-right: 0 !important;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0 !important;

  .Sidebar__pusher.pusher.container {
    overflow-y: scroll;
    background: #f8faff;
  }

  .forward {
    z-index: 999;
  }

  .sidebar-menu {
    display: flex !important;
    height: 100% !important;
    position: fixed;
    top: 0;
    padding-top: 20px;
    padding-right: 0;
    background-color: #3b4557 !important;
    border-radius: 0 !important;
    visibility: visible;
    transition: width 0.5s !important;
    width: 48px !important;
    // display:none !important;

    &.visible {
      width: 246px !important;
    }

    .sidebar-bottom-icon {
      flex-direction: column-reverse;
      align-items: inherit !important;
      height: 100% !important;
      display: flex;
      padding-bottom: 20px;
    }
  }

  .sidebar-menu.inverted.menu .menu .item {
    color: #fff !important;
    padding: 17px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: pre;
    border-left: 3px solid transparent;

    &.active {
      border-left: 3px solid #349af8;
      background: unset;
    }

    i {
      padding-left: 0;
      font-size: 20px;
      min-width: 48px;
    }

    .label {
      margin-left: -3px !important;
      text-align: left;
      line-height: 18px;
      font-weight: 600;
      font-size: 15px;
      color: #fff;
    }
  }

  .pushable {
    border: none !important;
    height: 100%;
    margin-top: none !important;
    width: 100% !important;
    border-radius: 0;
  }

  .pusher {
    height: 100%;
    overflow-y: auto !important;
  }

  .sidebar-menu .item .ui.label {
    font-family: 'Work Sans', sans-serif !important;
    background: none !important;
    color: #fff;
  }
}

.ui.left.overlay.sidebar {
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.admin-layout-grid {
  padding: 0 !important;
}

@media only screen and (min-width: 2560px) {
  .active.LogoutConfirm {
    $confirmation_wide_screen: 1.5;

    height: max-content;
    width: 560px !important;
    border-radius: 10px * $confirmation_wide_screen;
    padding: 20px * $confirmation_wide_screen;

    button.ui.button {
      font-size: 1rem * $confirmation_wide_screen;
      border-radius: 20px * $confirmation_wide_screen;
      width: 140px * $confirmation_wide_screen;
      height: 30px * $confirmation_wide_screen;
      padding: 5px 15px * $confirmation_wide_screen;
    }

    h4.ui.icon.header {
      padding-top: 10px * $confirmation_wide_screen;
      font-size: 1.07142857rem * $confirmation_wide_screen;
    }

    .ui.placeholder.segment {
      min-height: 8rem * $confirmation_wide_screen;
    }

    .sub.header {
      margin-top: 20px * $confirmation_wide_screen !important;
      font-size: 1rem * $confirmation_wide_screen;
    }
  }
}

@media only screen and (max-width: 425px) {
  .active.LogoutConfirm {
    width: 80% !important;

    .ui.clearing.divider {
      width: 80%;
    }
  }
}

.disabled-link {
  color: gray;
}
