
.setting .user-account-info .column {
    margin-bottom: 2rem !important;
}
.setting .user-account-info .column .sub {
    margin-top: 1rem !important;
}
.setting .user-account-info .column a {
   margin-left: 3rem;
}