.rangeSlider {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.rangeSlider p {
  font-size: 16px;
}
.rangeSlider .icon.question.circle:before {
  line-height: 1;
  font-size: 13px;
  padding-left: 10px;
  color: #98aeca;
}
.rangeBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
.rangeBtns .ui.button {
  background: transparent;
  border: 1px solid #dfe8f3;
  font-size: 14px;
  color: #98aeca;
  padding: 4px 10px;
  min-height: 10px;
  font-weight: normal;
  box-shadow: 0 1px 1px #ccc;
}
