@import '../../../../../design-system/new-colors.scss';

.seasonalityAdjustorCell {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
}

.toggleButton {
  margin-bottom: 18px;
}
