@import '../../design-system/colors.scss';

.mapContainer {
  height: 100vh !important;
  width: 100vw !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map {
  width: 100vw;
  height: 100vh;
  z-index: 9999 !important;
  background-color: #fff !important;
}
