@import '../../design-system/colors.scss';

.mapContainer {
  height: 100vh !important;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map {
  width: calc(100% - 55px) !important;
  height: 100vh;
  margin-left: auto;
  background-color: #fff !important;
}
