@import '../../design-system/colors.scss';

.sellerMap {
  overflow-y: auto !important;
}

.mapContainer {
  margin-top: 10px;
  width: 100%;
}

.map {
  width: 100%;
  height: 100vh;
  background-color: #fff !important;
}
