@import '../../../../../design-system/new-colors';

.keywordTrackerActionsCell {
  padding: 0 !important;

  &::before {
    display: none;
  }
}

.keywordTrackerActionsCellTrigger {
  cursor: pointer !important;
  color: $grey_6 !important;
}

.keywordTrackerActionsCellContent {
  min-width: 160px;
  min-height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 5px;
  padding-top: 15px;

  button {
    background: #fff;
    color: $grey_8 !important;
    border: 0;
    outline: 0;
    width: 100%;
    font-weight: 500 !important;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 5px;

    .keywordTrackerActionIcon {
      margin-right: 5px;
      font-size: 12px !important;
      color: inherit !important;
    }

    &:disabled {
      color: $grey_3 !important;
    }
  }
}
