@import '../../../../design-system/new-colors.scss';

/* Table Styles */
.sellerProductsTableWrapper {
  padding-left: 30px;
  padding-right: 20px !important;
  background: $light_gray_background;
  width: 100%;
  color: $grey_8 !important;
}

.sellerProductsTablePagination {
  display: flex;
  justify-content: flex-end;
}
