@import '../../design-system/new-colors';

.pricePlanToggleWrapper {
  width: 25px;
  height: 12px !important;
  background: $grey_4;
  color: $prim_dark_2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid grey_8;
  cursor: pointer;
  margin: 0 auto;

  &:focus {
    outline: none;
  }
}

.priceToggleText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  width: 150px;
  height: 100%;

  p {
    font-size: 12px;
    margin: 0 !important;
  }

  small {
    font-size: 10px;
    margin: 0 !important;
  }

  &__Active {
    background: $prim_white;
    border: 1px solid $grey_8;
    width: 160px;
    border-radius: 20px;
    height: 100%;
  }
}
