@import '../../../../design-system/new-colors';

.ganttChartWrapper {
  margin-top: 18px;
  display: flex;
  width: 100%;
}

.ganttChart {
  width: 100%;
  background: $prim_white;
  border: 1px solid $grey_3;
  border-radius: 7px;
  max-height: 350px;
  min-height: 320px;

  /* DO NOT CHANGE PADDING FOR ALIGNMENT OF CHART WITH TABLES BELOW */
  padding: 18px;

  /* ========================== */

  &__hideBottomBorder {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }
}

.settingToggle {
  margin-bottom: 18px;
  display: flex;
  align-items: center;

  label {
    font-size: 14px !important;
    color: $grey_8 !important;
    font-weight: $fontweight_medium;
  }

  &__indented {
    margin-left: 18px;
  }
}

.daysOfInventoryEdit {
  display: flex;
  justify-content: space-between;

  i {
    color: $grey_6;
  }
}

.settingInput {
  width: 200px;
  min-width: 0;
}

.saveCancelOptions {
  margin-top: 10px;
  align-self: flex-start;
}

.autoGenerateOrderModal {
  border-radius: 7px !important;
  width: 900px !important;
  height: 400px;
}

.setPrioritySkuModal {
  border-radius: 7px !important;
  width: 900px !important;
  height: 200px;
}
