.moreDetailsSection {
  width: 1200px;
  margin: 60px auto;
  text-align: center;

  p {
    font-size: 20px;
    font-weight: 800;
  }

  button {
    margin: 20px auto;
  }
}

.pricingPlansCardBody {
  margin: 0 auto;
  text-align: left;
  width: 310px;
}
