@import '../../../../design-system/new-colors.scss';

.productDatabaseWrapper {
  padding-bottom: 60px !important;
}

.productsDatabaseTable {
  background-color: inherit;
  margin-top: 20px;
}

/* Header select cell */
.headerSelectRow {
  display: flex;
  flex-direction: row;
}

.headerSelectIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Row cell */
.productInformationCell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* Styling for action popup */
.actionPopupRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actionPopupText {
  font-size: 14px;
  color: $prim_dark_2;
  margin-left: 5px;

  &:hover {
    text-decoration: none;
  }
}

/* Buttons */
.exportButton {
  font-size: 14px;
  color: $prim_dark_2;
  background: none;
  text-decoration: underline;
  font-weight: 600;
}

.ellipsisButton {
  background: none;
}
