/* TODO: Not sure if I wanna keep this, but it kinda looks nice */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', serif !important;
  font-weight: 400;
  font-display: optional;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.small-light {
  font-family: 'Montserrat', serif !important;
  font-weight: 300 !important;
  font-display: optional !important;
}
.small-regular {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-display: optional;
  font-size: 20px;
}
.ui.message {
  margin-bottom: 0;
  margin-left: 3rem;
  margin-right: 3rem;
}
.title {
  font-family: 'Montserrat', serif;
  font-weight: 700;
  color: white;
  font-size: 30px;
}
.description {
  font-family: 'Montserrat', serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
  text-align: justify;
}
.title-description {
  font-family: 'Montserrat', serif;
  font-weight: 300;
  font-size: 16px;
  color: 'gray';
  text-align: center;
  margin-bottom: 20px !important;
}
.small-bold {
  font-family: 'Montserrat', serif;
  font-weight: 700;
  font-display: optional;
  font-size: 20px;
}
.medium-light {
  font-family: 'Montserrat', serif;
  font-weight: 300;
  font-display: optional;
  font-size: 24px;
}
.medium-regular {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-display: optional;
  font-size: 24px;
}
.medium-bold {
  font-family: 'Montserrat', serif;
  font-weight: 700;
  font-display: optional;
  font-size: 24px;
}
.large-light {
  font-family: 'Montserrat', serif;
  font-weight: 300;
  font-display: optional;
  font-size: 40px;
}
.large-regular {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-display: optional;
  font-size: 40px;
}
.large-bold {
  font-family: 'Montserrat', serif;
  font-weight: 700;
  font-display: optional;
  font-size: 40px;
}
.semi-large-bold {
  font-family: 'Montserrat', serif;
  font-weight: 700;
  font-display: optional;
  font-size: 30px;
}

.primary-button {
  font-family: Montserrat;
  font-weight: bold;
  font-display: optional;
  font-size: 20px;
  color: white;
  border: none;
  padding: 12px 40px;
  border-adius: 50px;
  background: #4285f4;
}
.heading h1 {
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: black;
  margin: 10px;
}
.heading-h1 {
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px;
}
.login-fields {
  box-shadow: 0px 0px 7px 4px rgba(164, 164, 164, 0.2);
  border-radius: 5px;
  padding-top: 5px;
  background: white;
  padding-bottom: 5px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.slider-center {
  margin: auto;
  height: 100%;
}
.slider-center div {
  height: 100%;
}
.slider-image {
  padding: 3rem;
  border-radius: 5rem;
}
ul.control-dots {
  padding: 0;
}
.sign-up-input {
  border: none !important;
  border-color: transparent !important;
  font-family: Montserrat !important;
  font-weight: 300;
  width: 35% !important;
  font-size: 18px !important;
}
.login-field1,
.login-field2 {
  border: none !important;
  border-color: transparent !important;
  font-family: Montserrat !important;
  font-weight: 300;
  width: 100% !important;
  font-size: 18px !important;
}

.password {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  cursor: pointer;
}

.hr_line {
  height: 0.5px;
  background: #a4a4a4;
  opacity: 0.3;
}

.textAlignCenter {
  text-align: center !important;
}
.logo-img {
  padding: 7rem;
}

.padding20 {
  padding: 20px;
}

.padding40 {
  padding: 40px;
}

.p-t-40 {
  padding-top: 40px !important;
}

.carousel .slide {
  background: transparent;
}
li.dot {
  height: 15px !important;
  width: 15px !important;
}

ul.slider.animated {
  top: 20%;
}
.signup_box {
  min-height: 100vh;
  background: #999999;
}
.right-pane {
  min-height: 100vh;
  background: #f3f3f3;
  position: relative;
}
span.material-icons.MuiIcon-root.MuiIcon-colorDisabled.MuiIcon-fontSizeLarge {
  margin: 5px;
}

a {
  color: #0e6fcf;
  /*text-decoration:underline;*/
}
.signup-block a {
  color: #0e6fcf;
  text-decoration: underline;
}
.copy-right {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.privacy-policy {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.ui.grid {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
