/* TODO: Not sure if I wanna keep this, but it kinda looks nice */
@import './design-system/colors';
@import './design-system/new-colors';

body {
  font-display: optional;
  font-family: 'Work sans', sans-serif !important;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  margin: 0;
  padding: 0;

  #root {
    overflow: hidden;
  }
}

body h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  font-family: 'Work sans', sans-serif !important;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.4);
}

.small-light {
  font-display: optional !important;
  font-family: 'Work sans', sans-serif !important;
  font-weight: 300 !important;
}

.small-regular {
  font-display: optional;
  font-family: 'Work sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.ui.message {
  margin-bottom: 0;
  margin-left: 3rem;
  margin-right: 3rem;
}

.title {
  color: white;
  font-family: 'Work sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.description {
  color: white;
  font-family: 'Work sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}

.title-description {
  color: 'gray';
  font-family: 'Work sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px !important;
  text-align: center;
}

.small-bold {
  font-display: optional;
  font-family: 'Work sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.medium-light {
  font-display: optional;
  font-family: 'Work sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.medium-regular {
  font-display: optional;
  font-family: 'Work sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.medium-bold {
  font-display: optional;
  font-family: 'Work sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.large-light {
  font-display: optional;
  font-family: 'Work sans', sans-serif;
  font-size: 40px;
  font-weight: 300;
}

.large-regular {
  font-display: optional;
  font-family: 'Work sans', sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.large-bold {
  font-display: optional;
  font-family: 'Work sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.semi-large-bold {
  font-display: optional;
  font-family: 'Work sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.primary-button {
  background: #4285f4;
  border: none;
  color: white;
  font-display: optional;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 40px;
}

.heading h1 {
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.heading-h1 {
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

.login-fields {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 7px 4px rgba(164, 164, 164, 0.2);
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 5px;
  padding-top: 5px;
}

.slider-center {
  height: 100%;
  margin: auto;
}

.slider-center div {
  height: 100%;
}

.slider-image {
  border-radius: 5rem;
  padding: 3rem;
}

ul.control-dots {
  padding: 0;
}

.sign-up-input {
  border: none !important;
  border-color: transparent !important;
  font-family: 'Work Sans', sans-serif !important;
  font-size: 18px !important;
  font-weight: 300;
  width: 35% !important;
}

.login-field1,
.login-field2 {
  border: none !important;
  border-color: transparent !important;
  font-family: 'Work Sans', sans-serif !important;
  font-size: 18px !important;
  font-weight: 300;
  width: 100% !important;
}

.password {
  align-items: center;
  background: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.hr-line {
  background: #a4a4a4;
  height: 0.5px;
  opacity: 0.3;
}

.text-align-center {
  text-align: center !important;
}

.logo-img {
  padding: 7rem;
}

.padding20 {
  padding: 20px;
}

.padding40 {
  padding: 40px;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.carousel .slide {
  background: transparent;
}

li.dot {
  height: 15px !important;
  width: 15px !important;
}

ul.slider.animated {
  top: 20%;
}

.signup-box {
  background: #999;
  min-height: 100vh;
}

.right-pane {
  background: #f3f3f3;
  min-height: 100vh;
  position: relative;
}

span.material-icons.MuiIcon-root.MuiIcon-colorDisabled.MuiIcon-fontSizeLarge {
  margin: 5px;
}

.signup-block {
  &a {
    color: #0e6fcf;
    text-decoration: underline;
  }
}

.copy-right {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.privacy-policy {
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.ui.grid {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.block {
  display: block;
}

.toast-body {
  font-size: 16px;
}

.center-child {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.close {
  right: -2rem !important;
  top: -1.7rem !important;
}

i.icon.close::before {
  border: 4px solid #999;
  border-radius: 50%;
  color: #999;
  content: '\f00d';
  font-size: 14px;
  padding: 3px 5px;
}

/* Toastify Notifications */
.Toastify__toast-container {
  /* Ensure it's shown above Auth0 login modal */
  z-index: 1000001;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Toastify__toast {
  min-height: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Toastify__toast-body {
  margin-right: 20px;
}

// /* Popup */
%popup-common {
  background: #757575 0% 0% no-repeat padding-box !important;
  border-radius: 4px !important;
  font-size: 10px !important;
  letter-spacing: 0.33px !important;
  color: #fff !important;
  padding: 10px !important;
}

/* Quick tour dimmer */
.custom-dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  top: 0;
  right: 0;
  margin: 0 !important;
}

/* App main container */
.App__container {
  height: 100vh;

  @media screen and (max-width: 480px) {
    height: auto;
  }
}

/* New Global Styles */
a {
  color: $text-color;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;

  &:active {
    color: $text-color;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
  }

  &:hover {
    color: $sellgo-blue !important;
    font-weight: 600;
    text-decoration: underline;
    font-family: 'Work Sans', sans-serif;
  }
}

input,
label,
button {
  font-family: 'Work Sans', sans-serif !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 999;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Custom tooltips */

i.tooltipIcon.copy.outline {
  font-size: 10px !important;
  margin-left: 5px;
  cursor: pointer;
  color: $grey_8 !important;
}

i.tooltipIcon.check.circle {
  font-size: 10px !important;
  margin-left: 5px;
  cursor: unset;
}

.tooltipIcon[data-title] {
  position: relative;
}

.tooltipIcon[data-title]::after {
  position: absolute;
  content: attr(data-title);
  background-color: #555;
  color: #fff;
  font-size: 12px;
  padding: 3px 10px !important;
  top: -25px;
  left: -20px !important;
  left: 100%;
  white-space: nowrap;
  opacity: 0;
  border-radius: 5px !important;
  border: 1px solid #555;
  z-index: 99999;
  visibility: hidden;
  min-width: 50px !important;
  min-height: 10px !important;
}

.tooltipIcon[data-title]:hover::after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

/* Positioning Intercom */
.intercom-launcher-frame,
.intercom-launcher,
.intercom-launcher-frame-launcher,
.intercom-lightweight-app {
  bottom: 50px !important;
  z-index: 10 !important;
}
