@import '../../design-system/new-colors.scss';

.alertModal {
  padding: 50px 40px;
  height: 300px !important;
  width: 500px !important;

  &__contentWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: $black_1;
  }

  &__text {
    font-size: 14px;
    text-align: center;
    color: $black_1;
    padding: 0 50px;
    font-weight: 500;
  }

  &__btnWrapper {
    display: flex;
    justify-content: center;
  }
}
