@import '../../../../../design-system/new-colors';

.leadTimeWrapper {
  width: 100%;
  padding-bottom: 200px;
}

.settingsPageWrapper {
  display: flex;
}

.settingsTableWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  > p {
    font-size: 16px;
    font-weight: $fontweight_bold;
    color: $prim_dark_2;
    margin: 30px 0;
  }
}

.settingsTableRow {
  width: 100%;
  display: flex;
}

.instructionsBox {
  margin-left: 18px;
  background: $prim_white;
  border-radius: 7px;
  min-width: 350px;
  max-width: 500px;
  max-height: 700px;
  overflow-y: scroll;
  border: 1px solid $grey_3;
  padding: 18px;
  font-size: 12px;
  font-weight: $fontweight_medium;
  color: $grey_8;
  text-transform: uppercase;

  > span {
    margin-bottom: 100px;
  }
}
