@import '../../../design-system/colors';

.seller-finder-search {
  .search-container {
    display: flex;
    align-items: center;

    .input-1 {
      width: 231px;
      height: 35px;
    }

    .input-2 {
      width: 479px;
      height: 35px;
    }

    .or {
      width: 30px;
      text-align: center;
      font-size: 12px;
      color: #3b4557;
    }

    > .search-btn {
      background: $sellgo-orange !important;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      border-radius: 7px;
      width: 140px;
      height: 34px;
      line-height: 0;
      margin-left: 15px;
    }

    .search-btn:hover {
      background: $sellgo-orange !important;
    }
  }
}
