@import '../../../../design-system/new-colors';
@import '../../../../design-system/colors';

.keywordListWrapper {
  user-select: none;
  margin-top: 30px;
  position: relative;
}

.toggleReset {
  position: absolute;
  z-index: 99999;
  cursor: pointer !important;

  path {
    fill: $grey_8;
  }
}

.toggleChevronRight {
  @extend .toggleReset;

  top: 30px !important;
  right: 20px !important;
}

.toggleChevronDown {
  @extend .toggleReset;

  top: 10px;
  right: 20px;
}

/* Comma seperated input conatiner wrapper */
.commaSeperatedInput {
  position: relative !important;
}

/* Actual comma seperated input element */
.longInput {
  min-width: 100% !important;
  width: 100% !important;

  > input {
    padding-right: 30px !important;
  }
}

/* New line seperated input container */
.newLineSeperatedInput {
  min-height: 200px !important;
  max-height: 210px !important;
  border: 1px solid $grey_3 !important;
  overflow-y: auto;
  border-radius: 5px;
  min-width: 100%;

  ::-webkit-scrollbar {
    width: 8px;
    cursor: pointer !important;
    right: 0;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $grey_3;
    cursor: pointer !important;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $grey_6;
    cursor: pointer !important;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $grey_6;
  }
}

/* New line seperated input element text area */
.textInput {
  outline: 0 !important;
  border: 0;
  border-radius: 3px;
  font-size: 12px;
  color: $grey_8 !important;
  padding: 6px 12px;
  min-height: 200px !important;
  max-height: 200px !important;
  display: block;
  resize: none;
  width: 100%;

  &::placeholder {
    color: $grey_5 !important;
  }
}

/* Search keywords button */
.resetBtn {
  height: 33px;
  width: 140px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 1px solid $accent_orange;
  margin-top: 30px;

  // &:disabled {
  //   opacity: 0.7;
  // }
}

/* In Active State for fetch keywords button */
.fetchKeywordsInActive {
  @extend .resetBtn;

  color: #fff;
  background: $accent_orange;
}

/* Active State for fetch keywords button */
.fetchKeywordsActive {
  @extend .resetBtn;

  color: $accent_orange;
  background: #fff;
}

/* Keyword Suggestions List */
.keywordSuggestions {
  list-style: none;
  width: 100%;
  position: absolute;
  bottom: -240px !important;
  left: 0;
  right: 0;
  min-height: 230px;
  max-height: 235px;
  overflow-y: auto;
  border: 1px solid $grey_3;
  background: #fff;
  padding: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 9999999 !important;

  li {
    width: 100%;
    font-size: 13px;
    color: $prim_dark_1 !important;
    margin: 4px 0;
    padding: 0 10px;
    cursor: pointer;
    letter-spacing: 1px;

    &:hover {
      font-weight: 600;
    }
  }
}
