@import '../../../design-system/colors.scss';

.radioBoxFilters {
  min-width: 250px;

  p {
    margin: 0;
    color: $grey_8;
    font-size: 14px;
    font-weight: 500;
  }
}

.radioboxWrapper {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.checkbox {
  margin-right: 10px;

  label {
    color: $grey_6 !important;
    padding-left: 18px !important;
  }

  label::before {
    border: 1px solid $grey_3 !important;
    color: red !important;
  }

  input:checked ~ .box::after,
  input:checked ~ label::after {
    color: $grey_8 !important;
  }
}
