@import '../../../design-system/colors.scss';

.radioBoxFilters {
  min-width: 180px;

  p {
    margin: 0;
    color: $grey_8;
    font-size: 12px;
    font-weight: 600;
  }
}

.radioboxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 8px;
}

.checkbox {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    color: $grey_8 !important;
    margin-left: 1px !important;
  }

  label::before {
    border: 1px solid $grey_3 !important;
    color: red !important;
  }

  input:checked ~ .box::after,
  input:checked ~ label::after {
    color: $grey_8 !important;
  }
}
