@import '../../../../design-system/new-colors.scss';

.paymentForm {
  display: flex;
  align-items: flex-start;


  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: stretch;
  }

  h1 {
    font-size: $fontsize_subtitle_20;
    color: $prim_dark_2;
    font-weight: $fontweight_bold;
  }

  h2 {
    font-size: $fontsize_content_16;
    color: $grey_8;
    font-weight: $fontweight_semibold;
  }
}

.formGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__promo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}

.formInput {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 400px;
  width: 95%;
  margin: 15px 0;

  label {
    font-size: 14px;
    font-weight: 400;
    color: #3b4557;
    line-height: 20px;
  }

  input {
    height: 40px;
    background: #fff;
    font-size: 14px;
    color: #808080 !important;
    border: 1px solid #dededf;
    border-radius: 4px;
  }

  &__expiry {
    width: 150px;
  }

  &__cvc {
    width: 75px;
  }

  &__error {
    input {
      border: 1px solid #eb675e !important;
    }
  }

  &__promo {
    max-width: 320px;
    width: 60%;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.stripeInput {
  height: 40px;
  background: #fff;
  color: #808080 !important;
  border: 1px solid #dededf;
  border-radius: 4px;
  font-size: 14px !important;
  padding: 9.5px 14px;

  &::placeholder {
    font-size: 14px !important;
  }

  &__creditCard {
    border-right: none !important;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &__expiry {
    max-width: 150px;
    border-radius: 0;
    border-left: none !important;
    border-right: none !important;
  }

  &__cvc {
    max-width: 75px;
    border-left: none !important;
  }
}

.cardsWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__cards {
    height: 50px;
  }

  &__stripe {
    height: 25px;
  }
}

.paymentMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.completeButton {
  margin-right: 10px;
  margin-top: 11px;
  cursor: pointer;
  max-width: 320px;
  width: 95%;
  font-size: 16px;

  @media screen and (max-width: 480px) {
   max-width: 400px;
  }

  &:disabled {
    opacity: 0.6;
    cursor: unset;
  }
}

.paymentErrorMessage {
  background: #eb675e;
  color: #fff;
  border-radius: 7px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: left;
  margin-top: 20px;
  font-size: 16px;
  font-weight: $fontweight_semibold;
  padding: 15px 0;
}

.profileInfoFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 30px;
    width: 250px;
    object-fit: contain;
  }
}

.profileInfoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $prim_white;
  width: 485px;
  height: max-content;
  border-radius: 20px;
  border: 1px solid $grey_3;
  box-shadow: 0 3px 6px 0 #2e3b4a29;
  padding: 40px;

  @media screen and (max-width: 480px) {
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
  }
}

.paymentInfoForm {
  padding-top: 10px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 480px) {
   margin: 0 auto;
   margin-top: 2em;
   width: 90%;
   justify-content: center;
  }

  h4 {
    font-size: $fontsize_content_12;
    font-weight: $fontweight_regular;
    color: $grey_8;
  }
}

.ordersPerMonthDisplay {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  @media only screen and(max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.ordersPerMonthText {
  width: 70%;

  @media screen and (max-width: 480px) {
   width: 100%;
  }

  p {
    color: $grey_8;
    font-weight: $fontweight_regular;
    font-size: 12px;
  }

  span {
    color: $prim_dark_2;
    font-weight: $fontweight_semibold;
    font-size: $fontsize_subtitle_20;
  }
}

.formInputPricing {
  display: flex;
  flex-direction: column;
  width: 14rem;
  margin-left: 18px;

  &__long {
    width: calc(36rem + 18px);
  }

  @media only screen and(max-width: 1100px) {
    width: 100%;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 480px) {
   margin-left: 0;
   margin-top: 1em;
   width: 95%;
  }

  label {
    color: $prim_dark_2;
    font-size: $fontsize_content_14;
    font-weight: $fontweight_medium;
    width: 100%;
    margin-bottom: 5px;
    display: inline-block;
  }

  input {
    width: 100%;
    height: 3rem;
    background: $prim_white;
    border: 1px solid $second_silver;
    border-radius: 3px;
    color: $prim_dark_2;
    font-size: $fontsize_content_14;
    font-family: inherit;
    padding: 0 1rem;

    &:focus {
      outline: 0;
    }

    &__error {
      border: 1px solid $system_red;
    }
  }

  small {
    font-size: $fontsize_content_12;
    color: $system_red;
  }
}

.orderSummaryContainer {
  margin-top: 2em;
  width: 100%;
  text-align: center;

  h1 {
    font-size: $fontsize_subtitle_20;
    font-weight: $fontweight_semibold;
    color: $grey_8;
  }

  h2 {
    font-size: $fontsize_subtitle_32;
    font-weight: $fontweight_bold;
    color: $prim_dark_2;
  }

  p {
    font-size: $fontsize_content_14;
    font-weight: $fontweight_regular;
    color: $grey_8;
  }

  .redemptionMessage {
    &__success {
      width: 100%;
      margin-top: 8px;
      font-size: 14px;
      font-weight: $fontweight_semibold;
      color: $system_green;
      text-align: left;
    }

    &__error {
      width: 100%;
      margin-top: 8px;
      font-size: 14px;
      font-weight: $fontweight_semibold;
      color: $system_red;
      text-align: left;
    }
  }
}

.orderItem {
  display: flex;
  justify-content: space-between;

  p {
    font-size: $fontsize_content_14;
    color: $grey_8;
    text-align: left;
  }

  span {
    font-size: $fontsize_content_12;
    font-weight: $fontweight_regular;
    color: $grey_6;
    text-align: left;
  }
}

.overageItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey_3;
  padding: 0.5rem 1rem;

  p {
    font-size: $fontsize_content_14;
    color: $grey_8;
  }
}

.couponItem {
  display: flex;
  justify-content: flex-end;
  margin-left: 4rem;

  @media screen and (max-width: 480px) {
    margin-left: 0;
  }

  p {
    font-size: $fontsize_content_14;
    color: $grey_8;
    text-align: right;
  }
}

.redeemButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  border-radius: 7px;
  font-size: 14px;
  height: 40px;
  font-weight: $fontweight_semibold;
  color: $accent_blue;
  background: #f9f9fa;
  margin-top: 15px;

  &:disabled {
    opacity: 0.6;
    cursor: unset;
    background: #f9f9fa;
    color: $grey_6;
    border: none;
    font-weight: $fontweight_regular;
  }
}

.orderItemsWrapper {
  margin-top: 18px;
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 7px;
  border: solid 1px #ced4d9;

  .totalPrice {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    p {
      font-weight: $fontweight_semibold;
      font-size: $fontsize_content_14;
      color: $grey_8;
    }
  }
}

.totalItemsWrapper {
  margin-top: 0.5rem;
  margin-bottom: 30px;
  width: 100%;

  .totalPrice {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    p {
      font-weight: $fontweight_semibold;
      font-size: $fontsize_content_14;
      color: $grey_8;
    }
  }
}

.paymentModeToggle {
  margin-top: 11px;
  position: relative;
  border-bottom: 7px 7px;
  background-color: $grey_1;
  display: flex;
  justify-content: flex-start;

  .paymentModeToggleButton {
    margin-top: 11px;
    padding-left: 2rem;
  }

  @media screen and(max-width: 870px) {
    display: none !important;
  }

  .paymentToggleTextWrapper {
    margin-top: 11px;
    display: flex;
  }

  .paymentToggleText {
    font-size: $fontsize_content_14;
    color: $prim_dark_2;
    font-weight: $fontweight_semibold;
    margin-left: 10px;

    @media screen and (max-width: 480px) {
      margin-left: 0;
    }

    .greenhighlight {
      background-color: $sellgo_neon_green;
    }

    .total {
      background-color: $grey_1;
      font-size: $fontsize_content_14;
      color: $grey_8;
      font-weight: $fontweight_medium;
      margin-left: 12rem;

      @media screen and (max-width: 480px) {
        margin-left: 0;
      }
    }
  }
}
