@import '../../../design-system/new-colors';

.activationPage {
  background-color: $grey_10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &__title {
    width: 100%;
  }
}

.reviewsSection {
  width: 45%;
  margin-left: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    width: 400px;
    color: $black_1;
    font-size: 28px;
    font-weight: $fontweight_bold;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $border-color-1;
  }

  p {
    width: 400px;
    color: $black_1;
    font-size: 14px;
    font-style: italic;
  }

  .reviewerRow {
    margin-top: 60px;
    display: flex;
    height: 70px;

    img {
      height: 70px;
      width: 70px;
    }
  }
}

.activationFormSection {
  width: 45%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin-right: 5%;
}

.logo {
  margin-right: 170px;
  width: 155px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.activationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $prim_white;
  width: 485px;
  height: 640px;
  border-radius: 8px;
  border: 1px solid $grey_3;
  box-shadow: 0 3px 6px 0 #2e3b4a29;
}

.reviewerDetails {
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-weight: $fontweight_bold;
  color: $black_1;

  span {
    font-size: 14px;
    font-weight: $fontweight_medium;
  }
}

.consent {
  margin-top: 8px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;

  p {
    font-size: 12px;
    color: $grey_8;
    margin-left: 10px;

    span {
      color: $accent_blue;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.submitButton {
  background: $orange_purple_gradient;
  color: $prim_white;
  width: 400px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  outline: none !important;

  &:disabled {
    opacity: 0.6;
  }
}

.formHeader {
  font-size: 20px;
  font-weight: $fontweight_semibold;
  color: $prim_dark_2;
  text-align: center;
  margin-bottom: 18px;
}

.formInput {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 400px;
  margin: 15px 0;
  margin-right: 10px;

  label {
    font-size: 16px;
    font-weight: 500;
    color: #3b4557;
    line-height: 20px;
  }

  input {
    height: 40px;
    background: #fff;
    font-size: 14px;
    color: #808080 !important;
    border: 1px solid #dededf;
    border-radius: 4px;
  }
}

.error {
  font-size: 14px;
  font-weight: 500;
  color: $system_red;
  margin-bottom: 10px;
}

.signIn {
  text-align: left;
  margin-top: 18px;
  margin-left: 40px;
  align-self: flex-start;
  font-size: 14px;
  font-weight: $fontweight_regular;

  a {
    font-size: 14px;
    font-weight: $fontweight_medium;
    color: $system_blue;
  }
}

.copyrightFooter {
  left: 20%;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 18px;
  color: $black_1;
  font-size: 14px;

  button {
    background: none;
    cursor: pointer;
  }
}
