@import '../../../design-system/new-colors';

.changeStatsCell {
  font-size: 14px !important;
  color: $prim_dark_2;
  display: flex;
  align-items: flex-start;
}

.positiveChange {
  color: $system_green !important;

  svg {
    margin: 0 5px;
    margin-bottom: 2px;

    path {
      fill: $system_green !important;
    }
  }
}

.negativeChange {
  color: $system_red !important;

  svg {
    margin: 0 5px;
    margin-bottom: 2px;

    path {
      fill: $system_red !important;
    }
  }
}
