@import '../../../design-system/colors';

.tracker-filter-section__header {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;

  &__all-container {
    display: flex;

    .all-filter-btn {
      background: #fff !important;
      border: 0;
      border-radius: 7px !important;

      /* Slider Icon inside button */
      i.sliders {
        color: $filter-text-color;
      }

      /* Filter Icon Inside Button */
      i.filter {
        color: $filter-text-color !important;
      }

      .filter-name {
        color: $filter-text-color;
        margin: 0 5px;
      }

      &:hover {
        background: $filter-btn-hover-background !important;
      }
    }

    .more-filter-btn {
      background: #fff !important;
      border: 0;
      border-radius: 7px !important;
      margin: 0 4px;

      /* Slider Icon inside button */
      i.angle.down {
        color: $filter-text-color;
      }

      .filter-name {
        color: $filter-text-color;
        margin: 0 5px;
      }

      &:hover {
        background: $filter-btn-hover-background !important;
      }
    }

    /* Active Statues of filter buttons */
    .all-filter-btn.active {
      background: $filter-active-background-color !important;

      .filter-name {
        color: $filter-active-text-color;
      }

      i {
        color: $sellgo-blue !important;
      }
    }

    .more-filter-btn.active {
      background: $filter-active-background-color !important;

      .filter-name {
        color: $filter-active-text-color;
      }
    }

    .profitable-preset-filter__btn {
      height: 37px !important;
    }
  }

  /* Conatiner which store tracker period on right */
  &__period-container {
    display: flex;
    border-left: 1px solid $sellgo-light-gray;
    border-right: 1px solid $sellgo-light-gray;
    align-items: center;
    font-weight: 400;

    &__period-items {
      margin-right: 5px;
      color: $sellgo-light-gray;

      &:first-child {
        margin: 0 5px;
      }

      &.active {
        color: $sellgo-blue;
        font-weight: 600;
      }

      &.disabled {
        color: $filter-label-disabled;
        font-weight: 400;
        cursor: default !important;

        span {
          cursor: default !important;
        }
      }
    }
  }

  // .circular.label {
  //   font-family: 'Work Sans', sans-serif !important;
  //   font-size: 11px;
  //   margin: 0 !important;
  //   padding: 0 !important;
  //   line-height: normal;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 20px;
  //   background-color: $sellgo-blue;
  //   color: #fff;
  // }
}

.ui.left.basic.popup.transition.visible.pt-preset-filter-popup {
  max-width: 480px !important;
  width: 100% !important;
  height: 360px !important;
  border-radius: 10px;

  .pt-filter-content__preset-filter {
    padding: 10px;

    &__header {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      &__options {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__filter-name {
          font-weight: 600;
          color: $text-color;
          font-size: 13px;
          line-height: 1;
          margin-bottom: 5px;
        }

        &__close-btn {
          font-size: 16px;
          color: $text-color;
          font-weight: 600;
          cursor: pointer;
          font-family: 'Work Sans', sans-serif;
        }
      }

      &__preset-reset {
        padding: 0 10px;

        p {
          cursor: pointer;
          color: $sellgo-blue;
          font-size: 12px;
          display: contents;

          &:hover {
            cursor: pointer;
            color: $sellgo-blue;
            font-size: 12px;
            display: contents;
            font-weight: 500;
            text-decoration: underline;
            background-color: $dropdown-hover !important;
          }
        }
      }
    }

    &__content {
      &__filter-name {
        font-weight: 600;
        color: $text-color;
        font-size: 13px;
        line-height: 1;
        margin-bottom: 5px;
      }

      display: flex;
      flex-direction: column;
      padding: 0 10px;
      margin-bottom: 10px;

      &__filter-item {
        margin-bottom: 5px;

        .customizable-checkbox {
          max-width: 400px !important;
          margin-bottom: 0 !important;
          font-weight: 400;
          font-size: 12px;
          color: $text-color;

          &__label {
            font-weight: 500;
          }

          .input {
            max-width: 60px;
            margin: 0;
            color: $sellgo-light-gray;
            margin-right: 5px;

            input {
              padding: 3px 0 3px 5px;
              border-radius: 5px;
              border: 1px solid $sellgo-light-gray;
              font-size: 12px !important;
              font-weight: 500;
              font-family: 'Work Sans', sans-serif;
              color: $text-color;
            }
          }

          .dropdown {
            border: 1px solid #98aeca;
            background: #fff;
            border-radius: 5px;
            padding: 1px 0 1px 5px;
            margin: 0 5px;
            font-size: 12px;
            font-weight: 500;

            .icon {
              border: unset !important;
              margin: 0 5px !important;
              height: 10px !important;
              color: #98aeca;
            }

            .menu {
              border-radius: 5px;
              border: 1px solid #98aeca;

              .item {
                width: 15px;
                padding: 5px 3px 4px 4px !important;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  .ui.checkbox {
    max-width: 295px;
    margin-right: 20px;
    margin-bottom: 5px;

    &.customizable-checkbox {
      max-width: 400px !important;
      display: flex;
      align-items: center;

      .customizable-checkbox__label {
        font-weight: 500;
        font-size: 12px;
      }

      .input {
        max-width: 60px;
        margin: 0;
        color: $text-color;
        margin-right: 5px;
        border-color: $sellgo-light-gray;

        input {
          padding: 3px 0 3px 5px;
          border-radius: 7px;
          border: 1px solid $sellgo-light-gray;
          font-size: 12px;
          font-weight: 500;
          font-family: 'Work Sans', sans-serif;
        }
      }

      .dropdown {
        border: 1px solid $sellgo-light-gray;
        background: #fff;
        border-radius: 7px;
        padding: 1px 0 1px 5px;
        margin: 0 5px;
        font-size: 12px;
        font-weight: 500;

        .icon {
          border: unset !important;
          margin: 0;
          height: 10px;
          color: $icon-color;
        }

        .menu {
          border-radius: 7px;
          border: 1px solid $sellgo-light-gray;

          .item {
            width: 15px;
            padding: 5px 3px 4px 4px !important;
            font-size: 12px;

            &:hover {
              background: $dropdown-hover;
            }
          }
        }
      }
    }

    label {
      color: $text-color;
      font-size: 12px;
      display: unset !important;
      font-weight: 500;
      cursor: pointer;
    }

    input:checked ~ .box::before,
    input:checked ~ label::before {
      background-color: #fff;
      border: 1px solid $checkbox-border;
    }

    input:checked ~ .box::after,
    input:checked ~ label::after {
      color: $text-color;
    }
  }
}

i.icon.horizontal-slider {
  color: $text-color !important;
}
