.tracker-filter-section {
  &__header {
    display: flex;
    margin-bottom: 5px;

    &__button {
      &__name {
        color: #3b4557;
        font-weight: 600;
        font-size: 14px;
      }

      &__caret {
        margin-left: 3px !important;
      }

      &--all {
        width: 106px;
      }

      &--period {
        width: 124px;
      }

      &.ui.button {
        border: 1px solid #98aeca;
        border-radius: 20px;
        display: flex;
        align-items: center;
        font-family: 'Work Sans', sans-serif !important;
        margin: 5px;
        position: relative;
        height: 32px;
        box-shadow: none !important;
        margin-top: 0;
        padding: 0 !important;
        justify-content: space-evenly;
        line-height: normal;

        &.icon {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }

        &.active {
          background: #a7c6fb !important;
        }

        i {
          background: none !important;
          margin: 0;
          position: relative !important;

          &.sliders {
            color: #349af8 !important;
            width: 20px !important;
          }

          &.filter {
            width: 13px !important;
          }

          &.filter-left-icon {
            color: #3b4557;
            padding-left: 5px;
            opacity: 0.1;
          }
        }

        &:hover {
          background: #a7c6fb !important;

          .filter-name {
            color: #349af8;
          }

          .filter-arrow-down {
            background: unset !important;
          }
        }
      }

      &:hover &__name {
        color: #349af8;
      }

      &.active &__name {
        color: #349af8;
      }
    }
  }

  .ui.button:nth-child(1) {
    padding: 0 !important;
  }

  .ui.button:nth-child(2) span {
    margin-left: 14px;
    margin-right: 3px;
  }

  .circular.label {
    font-family: 'Work Sans', sans-serif !important;
    font-size: 11px;
    margin: 0 !important;
    padding: 0 !important;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    background-color: #349af8;
    color: #fff;
  }

  .caret.icon {
    width: max-content;
    margin: 0 !important;
    height: max-content !important;
  }
}
