@import '../../design-system/new-colors';

.navigateLinkWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  width: max-content;
  margin-top: 5px;
}

.navigateLink {
  font-weight: 500 !important;
  color: $grey_6 !important;

  &:hover {
    text-decoration: underline;
    font-weight: 600 !important;
    color: $grey_6 !important;
  }
}

.copyData {
  font-size: 12px !important;
}
