@import '../../design-system/new-colors';

.navigateLinkWrapper {
  display: flex;
  align-items: flex-end;
}

.navigateLink {
  color: $prim_dark_2 !important;
  margin-top: 10px;

  &:hover {
    color: $prim_dark_2 !important;
    text-decoration: underline;
    font-weight: 400 !important;
  }
}

.copyData {
  font-size: 12px !important;
}
