@import '../../design-system/new-colors';

.profileBoxContainer {
  position: relative;
  max-width: 1000px;
  min-width: 700px;
  border: 1px solid $grey_3;
  padding: 30px 30px;
  background: #fff;
}
