@import '../../../../../styles/tableReset';

#zapierProductTable {
  z-index: 100 !important;

  /* Nested child tale */

  #zapierKeywordTable {
    // header section
    .rs-table-row-header {
      border-radius: 0 !important;
      border: 0 !important;
      background: none;

      // column heder cell
      .rs-table-cell-content {
        display: flex !important;
        align-items: center !important;
        font-size: 12px !important;
        color: $grey_6 !important;
        background: none !important;
        border: 0 !important;
        font-weight: 500 !important;
        padding: 3px 10px !important;
      }

      // first column special styles
      .rs-table-cell-first {
        .rs-table-cell-content {
          padding: 0 !important;
        }
      }
    }

    // body section
    .rs-table-body-row-wrapper {
      background: none !important;

      .rs-table-body-wheel-area {
        background: none;
        transform: none !important;
        overflow-x: hidden !important;
        overflow-y: auto !important;
        min-height: 0 !important;
        height: calc(100% - 55px) !important;

        /* width */
        &::-webkit-scrollbar {
          width: 8px !important;
          height: 8px !important;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          border-radius: 5px;
          background-color: $grey_1 !important;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $grey_6 !important;
          border-radius: 3px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: $grey_6 !important;
        }

        .rs-table-row {
          // height: 190px !important; // should be rowheight - 10px i gap between rows is needed

          // remove residue from parent if any
          // add border-top on each row and remove other border's
          border: 0 !important;
          border-top: 1px solid $grey_3 !important;

          /* ============== ZEBRA PATTERN  =============== */
          &:nth-child(2n) {
            background: $light_gray_background !important;

            .rs-table-cell-content {
              background: $light_gray_background !important;
              padding: 0 10px !important;
              // padding-top: 8px !important;

              // remove residue from parent (if any)
              border: 0 !important;
            }
          }

          &:nth-child(2n + 1) {
            background: $grey_1 !important;

            .rs-table-cell-content {
              background: $grey_1 !important;
              padding: 0 10px !important;
              // padding-top: 8px !important;

              // remove residue from parent (if any)
              border: 0 !important;
            }
          }

          /* ============== ROW HOVER  =============== */
          &:hover {
            background: $orange_10 !important;

            .rs-table-cell-content {
              background: $orange_10 !important;
            }
          }
        }
      }

      // Loader wrapper
      .rs-table-loader-wrapper {
        background: $light_gray_background !important;

        .rs-table-loader {
          background: $light_gray_background !important;
        }
      }
    }

    .rs-table-scrollbar-horizontal {
      display: none !important;
    }

    .rs-table-scrollbar-vertical {
      display: none !important;
    }
  }
}

.iconButtonResetGlobal {
  i.chevron.down.icon {
    font-size: 10px !important;
    margin-top: 4px;
  }
}
