@import '../../../design-system/new-colors';

.selectionFilterMultipleWrapper {
  width: max-content;
  max-width: 1000px;
  min-width: 250px;

  .label {
    border-radius: 7px;
    font-size: 12px;
    color: $grey_8 !important;
    font-weight: $fontweight_semibold;
    border: 1px solid $blue_6 !important;
    padding: 0 5px;
    padding-bottom: 5px !important;
    background: none !important;
    text-decoration: none !important;
    height: 20px !important;
    width: max-content;
  }

  p {
    margin: 0;
    color: $grey_8 !important;
    font-size: 14px;
    font-weight: 500;
    margin-top: 7px;
  }

  .dropdown.icon {
    margin-top: 5px !important;
  }

  .ui.dropdown.selectionFilter {
    height: max-content !important;
    height: 200px;
    width: 500px;
    color: $grey_8 !important;
    background-color: $prim_white;
    border: 1px solid $grey_3;
    min-height: 35px !important;
    font-size: 12px;
    font-weight: 400 !important;
    padding: 8px 10px !important;
    border-radius: 4px !important;

    .dropdown {
      position: absolute;
      top: 5px;
      right: 10px;
    }

    .text {
      color: $grey_8 !important;
      font-size: 12px !important;
    }

    .sizer {
      display: none;
    }

    .default {
      color: $grey_5 !important;
    }

    &__focused {
      border: 2px solid $blue_6 !important;
    }

    &:hover {
      background-color: $grey_1 !important;
    }

    .menu.transition {
      border: 1px solid $grey_3 !important;
      width: 100% !important;
      font-size: 12px !important;
      max-height: 250px !important;
      z-index: 999;

      .item {
        color: $grey_8 !important;
        font-weight: 400;
        font-size: 12px;

        &:hover {
          background: $grey_1 !important;
          font-weight: 500 !important;
        }

        &.active {
          font-weight: 500 !important;
        }
      }
    }
  }
}
