@import '../../../../../../design-system/new-colors.scss';

.statBox {
  height: 100%;
  width: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 8px;
    color: $grey_8;
    font-weight: $fontweight_medium;
    text-align: center;
  }

  .statWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .stat {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      font-size: 10px;
      font-weight: $fontweight_semibold;
      color: $grey_8;
    }

    .autoCalculate {
      cursor: pointer;
    }
  }

  .input {
    font-size: 10px;
    margin-right: 5px;
    min-width: 0;
    width: 50px;

    input {
      font-size: 10px !important;
    }
  }
}
