@import '../../../../../design-system/new-colors';

.boxContainer {
  display: flex;
  flex-direction: column;
  padding: 18px 30px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.buttonsRow {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 18px;
  margin-left: auto;

  > div {
    margin-left: 10px;

    path {
      fill: $grey_8 !important;
    }

    &:hover {
      path {
        fill: $prim_white !important;
      }
    }
  }
}

.inputRow {
  display: grid;
  width: 600px;
  grid-template-columns: 40% 60%;
  align-items: center;
  margin-bottom: 10px;

  .selectionProductFilter {
    width: 400px;

    > div {
      width: 100% !important;
    }
  }

  label {
    font-size: 14px;
    font-weight: $fontweight_medium;
    color: $black_1;
  }
}

.inputRadioRow {
  border-radius: 7px;
  height: 50px;
  width: 600px;
  padding: 0 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid $grey_3;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  color: $black_1;
  font-size: 14px;
  font-weight: $fontweight_medium;
  margin-top: 10px;

  .inputFilter {
    width: 70px !important;
    min-width: 0;
  }

  &__selected {
    font-weight: $fontweight_semibold !important;
    background: $grey_10;
  }

  &:hover {
    background: $grey_10;
  }
}
