@import '../../../design-system/colors.scss';

.checkBoxDropdownFilters {
  width: 180px !important;

  p {
    margin: 0;
    color: $grey_8 !important;
    font-size: 12px;
    font-weight: 600;
  }
}

.dropdownWrapper {
  padding-top: 18px;
  padding-left: 10px;
}

.checkboxListWrapper {
  display: flex;
  flex-direction: row;
  width: 60rem;
  flex-wrap: wrap;

  .checkboxOption {
    margin-bottom: 18px;
    width: 20rem;

    label {
      font-size: 12px !important;
      color: $grey_8 !important;
    }

    label::before {
      border-radius: 4px !important;
      border: 1px solid $grey_3 !important;
    }

    input:checked ~ .box::after,
    input:checked ~ label::after {
      color: $grey_8 !important;
    }
  }
}

/* Styling for the input button */
.buttonWrapper {
  background: none;
  padding: 0;
  min-width: 180px;

  &__disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

.inputWrapper {
  min-width: 180px;

  .dropdownArrow {
    opacity: 1 !important;
    color: $grey_8 !important;
    font-size: 11px !important;
    height: 1em;
  }

  input {
    border: 1px solid $grey_3 !important;
    outline: 0 !important;
    border-radius: 3px;
    font-size: 12px !important;
    color: $grey_8 !important;
    height: 30px !important;
    padding: 10px !important;
    width: 100%;
    caret-color: transparent !important;

    &::placeholder {
      color: $sellgo-placeholder-color;
    }

    &:focus {
      border: 2px solid $blue_6 !important;
    }

    &:hover {
      cursor: pointer;
      background-color: $grey_1 !important;
    }
  }
}
