@import '../../../../../design-system/new-colors';

.searchTermContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100% !important;
  margin: 0 !important;
}

.searchTerm {
  font-size: 14px !important;
  color: $prim_dark_1 !important;
  font-weight: 600 !important;

  &:hover {
    color: $prim_dark_1 !important;
  }

  span {
    color: $prim_dark_1 !important;
    font-weight: 600 !important;

    &:hover {
      color: $prim_dark_1 !important;
    }
  }
}

.labels {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 24px;

  svg {
    margin-right: 10px;
  }

  p {
    margin: 0 !important;
    margin-right: 10px !important;
  }
}
