.paymentPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  background-color: #f9f9fa;
  overflow-y: scroll;
  padding-top: 2rem;
  min-height: 100vh !important;
  height: 100%;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 15rem;

  img {
    width: 200px;
    height: 50px;
  }

  @media only screen and(max-width: 1600px) {
    left: 1.5rem;
  }
}

.paymentErrorMessage {
  background: #eb675e;
  color: #fff;
  border-radius: 8px;
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  font-size: 14px;
  padding: 15px 0;
}
